
@{
    ViewBag.Title = "Ayurvedic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section metatags {
    <meta name='Title' content='Foreign National Registration | India' />
    <meta name='description' content='Students who are coming to India on Student’s visa for more than 180 days are required to register himself or herself within 14 days of their first arrival with the concerned FRRO (Foreigner Regional Registration Office).' />
    <link rel="canonical" href="https://www.studyinindia.gov.in/NICHE/Ayurvedic" />

}
<div class="visaRegImg_part yogaTop_header">
    <img src="~/img/yoga.jpg" class="img-responsive" />
    <h3>Ayurveda</h3>
</div>

<div class="service-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                <div class="section-title yoga_section">
                    <div class="mt20">
                        <div class="innerPge_button">
                            <a href="~/NICHE/CourseSearch?For=Ayurvedic" class="orange-btn">Find your Courses here <i class="fa fa-play" aria-hidden="true"></i></a>
                        </div>
                        <a href="~/NICHE/CourseSearch?For=Ayurvedic">
                            <img src="~/img/abt_ayurvedic.jpg" class="img-responsive" />
                        </a>
                        <h3>
                            <strong>The 5000-year-old healing science</strong>
                        </h3>
                        <p class="text-justify">
                            Often called “the mother of healing science” is probably the oldest medical science known to mankind. The 5000-year-old sacred science means “The science of life” is also a way of life for complete positive health and spiritual attainments.
                        </p>
                        <p class="text-justify">
                            It is believed that the Hindu God of Ayurveda (Dhanvantar), He passed on this science to humans. In the absence of modern medical science India for centuries has relied on the ancient Ayurveda science for maintaining health and treating concerns.  the Charaka Samhita, the Sushruta Samhita and the Bhela Samhita (5th century BCE) are the earliest sacred text available to have survived. These scripts were translated into Chinese, Persian, Arabian between the 5th and 8th century.
                        </p>
                        <h4><strong>The ancient science of healing</strong></h4>
                        <p class="text-justify">
                            Ayurveda emphasizes prevention and helps to lead a healthy lifestyle by bringing balance to one’s life, thinking, lifestyle and use of herbs.  It believes in strengthening the body’s natural defense system by minimizing stress, balancing the flow of energy so that the body can be extremely immune to diseases.
                        </p>
                        <h4><strong>Ayurveda as a profession</strong></h4>
                        <p class="text-justify">
                            A profession as Ayurveda Doctor/Vaidya involves a lot of hard work, as they have to study all applied aspects of modern medical science along with the deep-rooted vast knowledge axiomatic science of Ayurveda, but you transform yourself into an accomplished healer who knows all aspects of healing. In 1970, the Indian Medical Central Council Act, which aimed to standardize qualifications for Ayurveda practitioners and provide, accredited institutions for its study and the Parliament of India passed research. The world has accepted Ayurveda for general wellness applications and in some cases in medical use.
                        </p>
                        <h4><strong>Learning Ayurveda in India</strong></h4>
                        <p class="text-justify">
                            Some researchers suggest that up to 80 percent of people in India use some form of traditional medicine, a category that includes Ayurveda. India is the birthplace of Ayurveda. Ayurveda can be traced back to the ancient Vedic scripts in the Indian culture. Ayurveda resides in its purest form here in India. Rare and unique scripts can be easily found in India. Moreover, the availability of the ingredients required for practicing Ayurveda is immense and unpatrolled.
                        </p>
                        <p class="text-justify">
                            Ayurveda is all about balancing the elements in the body through various ways and requires practical as well theoretical expertise. Our Vaidya’s or Ayurveda doctors with years of hands on experience and their lineage in the profession have blessed them virtually hundreds of years of experience.
                        </p>
                        <p class="text-justify">
                            The knowledge of Ayurveda can be easily found in households of India with the elders having a vast knowledge of the science. It is very common for Indians to treat problems with Ayurveda. Ayurveda is a medical science after all; one should study with experienced teachers and students. Isn’t it obvious India is the place to do that.
                        </p>
                        <p class="text-justify">
                            Ayurveda is all about balancing the elements in the body through various ways. Our Vaidya’s or Ayurveda doctors with years of hands on experience and their lineage in the profession have blessed them virtually thousands of years of experience.
                        </p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 col-xs-12 mt15">
                <center><a href="~/NICHE/CourseSearch?For=Ayurvedic" class="orange-btn">Find your Courses here <i class="fa fa-play" aria-hidden="true"></i></a></center>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>