
@{
    ViewBag.Title = "Buddhism";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags {
    <link rel="canonical" href="https://www.studyinindia.gov.in/NICHE/Buddhism" />

}

<div class="visaRegImg_part yogaTop_header">
    <img src="~/img/yoga.jpg" class="img-responsive" />
    <h3>Buddhism</h3>
</div>

<div class="service-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                <div class="section-title yoga_section">
                    <div class="mt20">
                        <div class="innerPge_button">
                            <a href="~/NICHE/CourseSearch?For=Buddhism" class="orange-btn">Find your Courses here <i class="fa fa-play" aria-hidden="true"></i></a>
                        </div><a href="~/NICHE/CourseSearch?For=Buddhism">
                            <img src="~/img/abt_buddhism.jpg" class="img-responsive" />
                        </a>
                        <h3>
                            <strong>India, A Classroom for Buddhism</strong>
                        </h3>
                        <h4><strong>What is Buddhism?</strong></h4>
                        <p class="text-justify">
                            Buddhism is a practice, which originates in India and is followed by over 520 million across the globe. The traditions, beliefs and spiritual practices are inspired by the teachings of Lord Buddha. All traditions are characterized by non-violence, lack of dogma, tolerance of differences, and, usually, by the practice of meditation and the famous monastic order.
                        </p>
                        <h4><strong>What’s there for you?</strong></h4>
                        <p class="text-justify">
                            Through understanding the law of cause and effect, using practical tools like meditation to gain insight and develop compassion and wisdom, it enables one to tap into his/her potential to realize the ultimate goal of enlightenment or nirvana. The story of Buddhism is all about of prince who transformed his thinking after he got hold of the human suffering.
                        </p>
                        <h4><strong>Buddhism in India?</strong></h4>
                        <p class="text-justify">
                            Buddhism can be traced in India before the 6th century BCE as Śramaṇa movements. It is the place where Buddhism originated. Buddhism spread in Central Asia when King Asoka of the Maurya dynasty embraced it. (232 BCE). Bodh Gaya (Bihar, India) is perhaps the most famous place of pilgrimage for Buddhist followers. It is said that Siddhārtha Gautama also known as Lord Buddha attained awakening sitting under a pipal tree, now known as the Bodhi tree in Bodh Gaya.
                        </p>
                        <h4><strong>Why India?</strong></h4>
                        <p class="text-justify">
                            You get to study Buddhism in a perfect retreat environment at most authentic and suitable places. Apart from theoretical learning, you can learn how to incorporate Buddhism in your daily life. Moreover, the mentors must practice authentic unaltered Buddhism for a long time, so you get to learn Buddhism in its raw form. The people around you believe in the same practices, which is bound to enhance your learning. Moreover, the institutes are in Buddhist areas only and the courses have formulated on the basis of ancient teachings.
                        </p>
                        <p class="text-justify">
                            Buddhism is more about practical implementation as compared to theory. The mentors have experienced Buddhism first hand and are have mastered the practices. Their ability to give individual attention will surely get you through the course of life. What are you waiting for? When you learn something, learn from the original and the very best.
                        </p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 col-xs-12 mt15">
                <center><a href="~/NICHE/CourseSearch?For=Buddhism" class="orange-btn">Find your Courses here <i class="fa fa-play" aria-hidden="true"></i></a></center>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>