
@{
    ViewBag.Title = "Yoga";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags {
    <link rel="canonical" href="https://www.studyinindia.gov.in/NICHE" />

}

<div class="niche_coursesHeader_main">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12">
                <div class="inner-title-left niche_coursesHeader">
                    <h2>Short Term Niche Courses</h2>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="single-blog-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 text-center center-title mt20">
                <h3>
                    <strong>Select your niche course </strong>
                </h3>
            </div>
            <div class="col-md-1 hidden-xs hidden-sm"></div>
            <div class="col-md-10 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="upcoming-single clickable-div" data-href="@Url.Content("~/")NICHE/CourseSearch?For=Ayurvedic">
                            <div class="upcoming-img">
                                <div class="blog-img-hover">
                                    <div class="blog-img-ifc nicheCourse-box">
                                        <img src="~/img/nicheCourse-02.jpg" class="img-responsive" alt="">
                                        <div class="upcoming-link">
                                            <h6>Ayurveda</h6>
                                            <p>
                                                Know the world’s most ancient healing system. Originated in India, helps you unlock the secrets of nature, human body, herbs etc. for a perfect wellbeing
                                            </p>
                                            <a href="~/NICHE/CourseSearch?For=Ayurvedic">
                                                Select Your Courses
                                                <i class="fa fa-play"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="upcoming-single clickable-div" data-href="@Url.Content("~/")NICHE/CourseSearch?For=Buddhism">
                            <div class="upcoming-img">
                                <div class="blog-img-hover">
                                    <div class="blog-img-ifc nicheCourse-box">
                                        <img src="~/img/nicheCourse-03.jpg" class="img-responsive" alt="">
                                        <div class="upcoming-link">
                                            <h6>Buddhism</h6>
                                            <p>
                                                Follow the footsteps of Gautam Buddha, the path of practice and spiritual development, which opens the gate of the true nature of reality
                                            </p>
                                            <a href="~/NICHE/CourseSearch?For=Buddhism">
                                                Select Your Courses
                                                <i class="fa fa-play"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-sm-6">
                            <div class="upcoming-single">
                                <div class="upcoming-img">
                                    <div class="blog-img-hover">
                                        <div class="blog-img-ifc nicheCourse-box">
                                            <img src="~/img/nicheCourse-04.jpg" class="img-responsive" alt="">
                                            <div class="upcoming-link">
                                                <h6>Tibetan</h6>
                                                <p>
                                                    Join hands with the ancient culture and know the art of Tibetan astrology and medical sciences
                                                </p>
                                                <a href="~/NICHE/CourseSearch?For=Tibetan">
                                                    Select Your Courses
                                                    <i class="fa fa-play"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    <div class="col-sm-6">
                        <div class="upcoming-single  clickable-div" data-href="@Url.Content("~/")NICHE/CourseSearch?For=Yoga">
                            <div class="upcoming-img">
                                <div class="blog-img-hover">
                                    <div class="blog-img-ifc nicheCourse-box">
                                        <img src="~/img/nicheCourse-01.jpg" class="img-responsive" alt="">
                                        <div class="upcoming-link">
                                            <h6>Yoga</h6>
                                            <p>
                                                Experience the ancient Indian philosophy of life and a system of mental, physical, spiritual exercises that encourage union of mind, body and spirit
                                            </p>
                                            <a href="~/NICHE/CourseSearch?For=Yoga">
                                                Select Your Courses
                                                <i class="fa fa-play"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                <div class="section-title yoga_section text-center">
                    <div class="mt20">
                        <h3>
                            <strong>Quick learner/Quick learning courses </strong>
                        </h3>
                        <p class="text-justify">
                            These courses have been designed to offer the best of Indian education in a short duration. They are tailor-made by the masters of their respective fields, Phd’s, industry leaders, people who have been practicing for decades now.  They enrich your understanding of contemporary India as well your field of work. Pick up a course to upgrade your skill, master learning or just simply experience the Indian legacy while you beat the clock.
                        </p>
                        <p class="text-justify">
                            We also invite you to learn the ancient science of Indian origin from the medieval world that survived in the 21st century. Gods, sages and eventually our ancestors have passed on these sciences to us. They are India’s gift to the world.
                        </p>
                        <p class="text-justify">
                            Yoga, Buddhism, Ayurveda resides in their purest form in this holy land. We believe that the solutions to the biggest and smallest problem reside within; our courses are all set to take you to journey within and explore the hidden secrets of life and world.  It is the art of living better, which the world should learn. These practices have enriched Indian households for over 5000 years. You can start from the basics and learn the most advanced and sacred techniques here. We are ready to teach it to the world, are you ready to learn?
                        </p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 col-xs-12 mt15">
                <center><a href="~/NICHE/CourseSearch" class="orange-btn">Find More</a></center>
            </div>
        </div>
    </div>
</div>
@section styles{
    <style>
        .niche_coursesHeader_main {
            background: url(../img/Banner1.jpg) center no-repeat;
            background-size: auto;
            background-size: auto;
            background-size: auto;
            /*background-size: cover;*/
            background-size: 100%;
            /*margin-top: 0px;*/
            margin-top: 169px;
            padding: 100px 0 100px;
            z-index: 1;
        }
    </style>
}
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.upcoming-link').addClass('upcoming-link-active');
            $('.clickable-div').on('click', function () {
                var url = $(this).attr('data-href');
                window.location.href = url;
            })
        });
    </script>
}