
@{
    ViewBag.Title = "Tibetan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="visaRegImg_part yogaTop_header">
    <img src="~/img/yoga.jpg" class="img-responsive" />
    <h3>Tibetan</h3>
</div>

<div class="service-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                <div class="section-title yoga_section">
                    <div class="mt20">
                        <div class="innerPge_button">
                            <a href="~/NICHE/CourseSearch?For=Tibetan" class="orange-btn">Find your Courses here <i class="fa fa-play" aria-hidden="true"></i></a>
                        </div>
                        <img src="~/img/abt_tibetan.jpg" class="img-responsive" />
                        <h3>
                            <strong>The way they do it in the Himalayas – Tibetan Culture</strong>
                        </h3>
                        <p class="text-justify">
                            The Tibetan culture is one of the untouched cultures in the world, perhaps due to its extreme geographic and climatic conditions as it resides in the Himalayas.
                            The Buddhist missionaries who came mainly from India, Nepal, and China inspire it, introduced arts and customs from India and China. Several works on astronomy, astrology and medicine were translated from Sanskrit and Classical Chinese. Good Karma' explains and almost defines one’s destiny in Tibetan traditions.
                        </p>
                        <p class="text-justify">
                            Tibetan Buddhism has also grown in India during the modern era, mainly due to the growth of the Tibetan Diaspora. The arrival of the 14th Dalai Lama with over 85,000 Tibetan refugees 1959 had a significant impact on the Buddhism in India. Large numbers of Tibetans settled in Dharamshala, Himachal Pradesh, which became the headquarters of the Tibetan Government in Exile.
                        </p>
                        <h4><strong>Tibetan Astrology</strong></h4>
                        <p class="text-justify">
                            The Tibetan astrology is a fine blend of Indian and Chinese astrological practices mixed in synthesis with teachings from ancient Bön religion and Buddhist philosophy dates back to the 7th century. Tibetans are psychic owning to sense of astrology. The Tibetans have preserved this ancient offering.
                        </p>
                        <h4><strong>Tibetan Medical Science</strong></h4>
                        <p class="text-justify">
                            Sowa-Rigpa medicine system based upon Indian Buddhist literature is practiced across the world, especially Asia. This system believed in utilizing behavior, dietary modifications, medicines composed of natural materials and physical therapies to treat illness. Medicines formed with Tibetan herbs support health of outer body but also supports the inner mental state.
                        </p>
                        <p class="text-justify">
                            Tibetan culture resides in India in its raw form. Moreover, influence of Indian as well Buddhist culture that has also originated in India further makes India, the ideal place to Study the Tibetan culture. The information or culture isn’t passed to you by some random person but by people who lived the culture through their lives.
                        </p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 col-xs-12 mt15">
                <center><a href="~/NICHE/CourseSearch?For=Tibetan" class="orange-btn">Find your Courses here <i class="fa fa-play" aria-hidden="true"></i></a></center>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>