
@{
    ViewBag.Title = "Yoga";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section metatags {
    <link rel="canonical" href="https://www.studyinindia.gov.in/NICHE/Yoga" />

}
<div class="visaRegImg_part yogaTop_header">
    <img src="~/img/yoga.jpg" class="img-responsive" />
    <h3>Yoga</h3>
</div>

<div class="service-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                <div class="section-title yoga_section">
                    <div class="mt20">
                        <div class="innerPge_button">
                            <a href="~/NICHE/CourseSearch?For=Yoga" class="orange-btn">Find your Courses here <i class="fa fa-play" aria-hidden="true"></i></a>
                        </div>
                        <a href="~/NICHE/CourseSearch?For=Yoga">
                            <img src="~/img/abt_yoga.jpg" class="img-responsive" />
                        </a>
                        <h3>
                            <strong>Born in India, adopted by the world - Yoga</strong>
                        </h3>
                        <p class="text-justify">
                            Yoga is the 5000-year-old secret Indian science designed to make one experience the deepest Self and the Cosmic Consciousness. Moreover, it will help you to stay healthy and keep up with the challenges posed by the modern and urban world. It can be defined as a group of physical, mental, and spiritual practices or disciplines, which originated in ancient India.
                        </p>
                        <p class="text-justify">
                            Yoga is one of the six orthodox schools of Hindu philosophical traditions. The first yoga scripts can be traced back to 200 BCE with Bhagvad Geeta (a holy book) and Brihadaranyaka Upanishad (c. 900 BCE) where the practices of yoga have been first defined.  This tradition has been preserved with utmost purity throughout centuries by Gurus, scholars, kings, people of Inia. Yoga came into the limelight for the western world in the 19th century and people have adopted it with free arms. Swami Vivek Anand can be accredited for its modern revival.
                        </p>
                        <p class="text-justify">
                            Exercise or meditation or something else.
                        </p>
                        <p class="text-justify">
                            Yoga has been confined to asana in the west but that is just a part of yoga. Authentic Yoga in India includes a lot more like -
                        </p>
                        <ol>
                            <li>Restraints</li>
                            <li>Observances</li>
                            <li>Postures</li>
                            <li>Mindful breathing</li>
                            <li>Turning inward</li>
                            <li>Concentration</li>
                            <li>Meditation</li>
                            <li>Spirituality</li>
                        </ol>
                        <h4><strong>Born in India, adopted by the world</strong></h4>
                        <p class="text-justify">
                            Yoga, with its powerful techniques for creating a sense of inner peace, harmony, and clarity of mind, has been widely adopted by the east and the west. It does not come as a surprise that 36 million Americans practice this ancient Indian art.
                        </p>
                        <h4><strong>Why you should do yoga?</strong></h4>
                        <ol>
                            <li>Better health</li>
                            <li>Happier state of being</li>
                            <li>Inner peace</li>
                            <li>Anti-stress</li>
                            <li>Balanced metabolism</li>
                            <li>Improved respiration, energy and vitality</li>
                            <li>Improved immunity</li>
                        </ol>
                        <h4><strong>Why you should learn yoga in India?</strong></h4>
                        <p class="text-justify">
                            Learning yoga in India is an authentic experience. Yes, you get the best guru’s; you learn from the traditional teachings and you can access the sacred texts, which have been preserved for centuries. Somebody who is beginning yoga, or an expert can pursue his passion further here in India as the simplest to advanced courses are available here.
                        </p>
                        <p class="text-justify">
                            Moreover, yoga is present in India since forever has enriched the places of teachings with positive energy and is situated at places which are apt for learning yoga. Almost everyone is aware of yoga in India and you can sense the yoga moment in the air. Even the Indian government with its yoga campaign has emphasized on practicing yoga as a means of leading a healthy life.
                        </p>
                        <h4><strong>Take home yoga with you</strong></h4>
                        <p class="text-justify">
                            Yoga is in incredible demand across the world. It can be taught to anyone and everyone irrespective of culture and language. Learn in India, teach to the world.
                        </p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 col-xs-12 mt15">
                <center><a href="~/NICHE/CourseSearch?For=Yoga" class="orange-btn">Find your Courses here <i class="fa fa-play" aria-hidden="true"></i></a></center>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>