
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="newBlog">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12">
                <div class="inner-title-left">

                    <h2 class="text-center">Trending Now</h2>
                    <div class="blog-carousel-left">

                        <div class="blog-carousel-left-slide">
                            <div class="blog-carousel-left-single-slide">
                                <div class="blog-carousel-img">
                                    <img src="~/img/blog/trend-01.jpg" class="img-responsive" />
                                    <div class="blog-carousel-text">
                                        <h6>You're in lockdown, but your potential doesn't have to be. Here's how to make lockdown count</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-carousel-left-single-slide">
                                <div class="blog-carousel-img">
                                    <img src="~/img/blog/trend-02.jpg" class="img-responsive" />
                                    <div class="blog-carousel-text">
                                        <h6>You're in lockdown, but your potential doesn't have to be. Here's how to make lockdown count</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-carousel-left-single-slide">
                                <div class="blog-carousel-img">
                                    <img src="~/img/blog/trend-03.jpg" class="img-responsive" />
                                    <div class="blog-carousel-text">
                                        <h6>You're in lockdown, but your potential doesn't have to be. Here's how to make lockdown count</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-carousel-left-single-slide">
                                <div class="blog-carousel-img">
                                    <img src="~/img/blog/trend-02.jpg" class="img-responsive" />
                                    <div class="blog-carousel-text">
                                        <h6>You're in lockdown, but your potential doesn't have to be. Here's how to make lockdown count</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-carousel-left-single-slide">
                                <div class="blog-carousel-img">
                                    <img src="~/img/blog/trend-03.jpg" class="img-responsive" />
                                    <div class="blog-carousel-text">
                                        <h6>You're in lockdown, but your potential doesn't have to be. Here's how to make lockdown count</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-carousel-left-single-slide">
                                <div class="blog-carousel-img">
                                    <img src="~/img/blog/trend-01.jpg" class="img-responsive" />
                                    <div class="blog-carousel-text">
                                        <h6>You're in lockdown, but your potential doesn't have to be. Here's how to make lockdown count</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="single-blog-area">
    <div class="blogTabBg">
        <div class="container">
            <ul class="nav nav-tabs BlogTabHeader">
                <li class="active">
                    <a href="#Blogtab_1" data-toggle="tab"> SII Program</a>
                </li>
                <li class="">
                    <a href="#Blogtab_2" data-toggle="tab"> Social Life</a>
                </li>
                <li class="">
                    <a href="#Blogtab_3" data-toggle="tab"> Preparing for India</a>
                </li>
                <li class="">
                    <a href="#Blogtab_4" data-toggle="tab"> Studying in India</a>
                </li>
                <li class="">
                    <a href="#Blogtab_5" data-toggle="tab"> Mental Wellness</a>
                </li>
                <li class="">
                    <a href="#Blogtab_6" data-toggle="tab"> Miscellaneous</a>
                </li>
                <!--<li class=""> <a href="#Blogtab_7" data-toggle="tab"> Your Stories</a> </li>-->
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="tabbable-panel">
            <div class="tab-content blogContent">
                <div class="tab-pane active" id="Blogtab_1">

                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <a href="">
                            <div class="blogBox">
                                <div>
                                    <img src="~/img/blog/blog-1.jpg" class="img-responsive" />
                                </div>
                                <h6>7 Reasons Why Global Companies Admire The Indian Education System</h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="blogBox">
                            <div>
                                <img src="~/img/blog/blog-1.jpg" class="img-responsive" />
                            </div>
                            <h6>7 Reasons Why Global Companies Admire The Indian Education System</h6>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="blogBox">
                            <div>
                                <img src="~/img/blog/blog-1.jpg" class="img-responsive" />
                            </div>
                            <h6>7 Reasons Why Global Companies Admire The Indian Education System</h6>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="blogBox">
                            <div>
                                <img src="~/img/blog/blog-1.jpg" class="img-responsive" />
                            </div>
                            <h6>7 Reasons Why Global Companies Admire The Indian Education System</h6>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="blogBox">
                            <div>
                                <img src="~/img/blog/blog-1.jpg" class="img-responsive" />
                            </div>
                            <h6>7 Reasons Why Global Companies Admire The Indian Education System</h6>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="blogBox">
                            <div>
                                <img src="~/img/blog/blog-1.jpg" class="img-responsive" />
                            </div>
                            <h6>7 Reasons Why Global Companies Admire The Indian Education System</h6>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="blogBox">
                            <div>
                                <img src="~/img/blog/blog-1.jpg" class="img-responsive" />
                            </div>
                            <h6>7 Reasons Why Global Companies Admire The Indian Education System</h6>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="blogBox">
                            <div>
                                <img src="~/img/blog/blog-1.jpg" class="img-responsive" />
                            </div>
                            <h6>7 Reasons Why Global Companies Admire The Indian Education System</h6>
                        </div>
                    </div>
                    <div class="clearfix">
                        <center>
                            <ul class="pagination blogPagination">
                                <li>
                                    <a class="icon" href="#">
                                        <i class="zmdi zmdi-long-arrow-left"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="active" href="#">1</a>
                                </li>
                                <li>
                                    <a href="#">2</a>
                                </li>
                                <li>
                                    <a href="#">3</a>
                                </li>
                                <li>
                                    <a href="#">4</a>
                                </li>
                                <li>
                                    <a href="#">5</a>
                                </li>
                                <li>
                                    <a class="icon" href="#">
                                        <i class="zmdi zmdi-long-arrow-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </center>
                    </div>



                </div>
                <div class="tab-pane" id="Blogtab_2">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="blogBox">
                            <div>
                                <img src="~/img/blog/blog-1.jpg" class="img-responsive" />
                            </div>
                            <h6>7 Reasons Why Global Companies Admire The Indian Education System</h6>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="blogBox">
                            <div>
                                <img src="~/img/blog/blog-1.jpg" class="img-responsive" />
                            </div>
                            <h6>7 Reasons Why Global Companies Admire The Indian Education System</h6>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="blogBox">
                            <div>
                                <img src="~/img/blog/blog-1.jpg" class="img-responsive" />
                            </div>
                            <h6>7 Reasons Why Global Companies Admire The Indian Education System</h6>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="blogBox">
                            <div>
                                <img src="~/img/blog/blog-1.jpg" class="img-responsive" />
                            </div>
                            <h6>7 Reasons Why Global Companies Admire The Indian Education System</h6>
                        </div>
                    </div>
                </div>


                <div class="tab-pane" id="Blogtab_3">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="blogBox">
                            <div>
                                <img src="~/img/blog/blog-1.jpg" class="img-responsive" />
                            </div>
                            <h6>7 Reasons Why Global Companies Admire The Indian Education System</h6>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="blogBox">
                            <div>
                                <img src="~/img/blog/blog-1.jpg" class="img-responsive" />
                            </div>
                            <h6>7 Reasons Why Global Companies Admire The Indian Education System</h6>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="blogBox">
                            <div>
                                <img src="~/img/blog/blog-1.jpg" class="img-responsive" />
                            </div>
                            <h6>7 Reasons Why Global Companies Admire The Indian Education System</h6>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="blogBox">
                            <div>
                                <img src="~/img/blog/blog-1.jpg" class="img-responsive" />
                            </div>
                            <h6>7 Reasons Why Global Companies Admire The Indian Education System</h6>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="blogBox">
                            <div>
                                <img src="~/img/blog/blog-1.jpg" class="img-responsive" />
                            </div>
                            <h6>7 Reasons Why Global Companies Admire The Indian Education System</h6>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="blogBox">
                            <div>
                                <img src="~/img/blog/blog-1.jpg" class="img-responsive" />
                            </div>
                            <h6>7 Reasons Why Global Companies Admire The Indian Education System</h6>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="Blogtab_4">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="blogBox">
                            <div>
                                <img src="~/img/blog/blog-1.jpg" class="img-responsive" />
                            </div>
                            <h6>7 Reasons Why Global Companies Admire The Indian Education System</h6>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="blogBox">
                            <div>
                                <img src="~/img/blog/blog-1.jpg" class="img-responsive" />
                            </div>
                            <h6>7 Reasons Why Global Companies Admire The Indian Education System</h6>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="blogBox">
                            <div>
                                <img src="~/img/blog/blog-1.jpg" class="img-responsive" />
                            </div>
                            <h6>7 Reasons Why Global Companies Admire The Indian Education System</h6>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="blogBox">
                            <div>
                                <img src="~/img/blog/blog-1.jpg" class="img-responsive" />
                            </div>
                            <h6>7 Reasons Why Global Companies Admire The Indian Education System</h6>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="blogBox">
                            <div>
                                <img src="~/img/blog/blog-1.jpg" class="img-responsive" />
                            </div>
                            <h6>7 Reasons Why Global Companies Admire The Indian Education System</h6>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="Blogtab_5">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="blogBox">
                            <div>
                                <img src="~/img/blog/blog-1.jpg" class="img-responsive" />
                            </div>
                            <h6>7 Reasons Why Global Companies Admire The Indian Education System</h6>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="blogBox">
                            <div>
                                <img src="~/img/blog/blog-1.jpg" class="img-responsive" />
                            </div>
                            <h6>7 Reasons Why Global Companies Admire The Indian Education System</h6>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="Blogtab_6">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="blogBox">
                            <div>
                                <img src="~/img/blog/blog-1.jpg" class="img-responsive" />
                            </div>
                            <h6>7 Reasons Why Global Companies Admire The Indian Education System</h6>
                        </div>
                    </div>


                </div>

            </div>

        </div>


    </div>
</div>

<div class="most-viewed-area blog-section">
    <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h3>Most Viewed</h3>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12 p0">
        <!-- viewed-list-item - start -->
        <div id="list-layout" class="col-md-12 col-sm-12 col-xs-12">
            <div class="blog-list-item clearfix">
                <div class="blog-image pull-left">
                    <img src="~/img/blog/ViewedItem1.jpg" alt="" class="img-responsive">
                    <a href="#!" class="plus-effect"></a>
                </div>
                <div class="blog-content pull-right">
                    <h4 class="blog-title">7 Reasons Why Global Companies Admire The Indian Education System</h4>
                    <div>
                        <a href="#!" class="details-btn">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- viewed-list-item - end -->
        <!-- viewed-list-item - start -->
        <div id="list-layout" class="col-md-12 col-sm-12 col-xs-12">
            <div class="blog-list-item redBg clearfix">
                <div class="blog-content pull-left">
                    <h4 class="blog-title">7 Reasons Why Global Companies Admire The Indian Education System</h4>
                    <div>
                        <a href="#!" class="details-btn">
                            Read More
                        </a>
                    </div>
                </div>
                <div class="blog-image pull-right">
                    <img src="~/img/blog/ViewedItem1.jpg" alt="" class="img-responsive">
                    <a href="#!" class="plus-effect"></a>
                </div>

            </div>
        </div>
        <!-- viewed-list-item - end -->
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12 p0">
        <!-- viewed-list-item - start -->
        <div id="list-layout" class="col-md-12 col-sm-12 col-xs-12">
            <div class="blog-list-item clearfix">
                <div class="blog-image pull-left">
                    <img src="~/img/blog/ViewedItem1.jpg" alt="" class="img-responsive">
                    <a href="#!" class="plus-effect"></a>
                </div>
                <div class="blog-content pull-right">
                    <h4 class="blog-title">7 Reasons Why Global Companies Admire The Indian Education System</h4>
                    <div>
                        <a href="#!" class="details-btn">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- viewed-list-item - end -->
        <!-- viewed-list-item - start -->
        <div id="list-layout" class="col-md-12 col-sm-12 col-xs-12">
            <div class="blog-list-item redBg clearfix">
                <div class="blog-content pull-left">
                    <h4 class="blog-title">7 Reasons Why Global Companies Admire The Indian Education System</h4>
                    <div>
                        <a href="#!" class="details-btn">
                            Read More
                        </a>
                    </div>
                </div>
                <div class="blog-image pull-right">
                    <img src="~/img/blog/ViewedItem1.jpg" alt="" class="img-responsive">
                    <a href="#!" class="plus-effect"></a>
                </div>

            </div>
        </div>
        <!-- viewed-list-item - end -->
    </div>

</div>

<div class="ContributeBlog-area">
    <div class="container">
        <div class="col-md-2 hidden-sm hidden-xs"></div>
        <div class="col-md-8 col-sm-12 col-xs-12">
            <div class="ContributeBlogBox">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h4>Contribute to our Blog</h4>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <a href="">Share your Story</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>


@section styles{
    <link href="~/css/style-blog.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/js/owl.carousel.min.js"></script>
    <script>
        if ($.fn.owlCarousel) {
            $('.blog-carousel-left-slide').owlCarousel({
                loop: true,
                items: 3,
                autoplay: true,
                margin: 22,
                dots: false,
                nav: true,
                navText: ['<i class="zmdi zmdi-long-arrow-left"></i>', '<i class="zmdi zmdi-long-arrow-right"></i>'],
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                    },
                    600: {
                        items: 2,
                    },
                    1000: {
                        items: 3,
                    }
                }
            });

        }
    </script>
}
