
@{
    ViewBag.Title = "FeeWaiver";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="sliderTopTitle">
    <div class="container">
        <div class="row">
            <h4>Fee Waivers</h4>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class=""> <img src="~/img/fee_waivers.jpg" class="img-responsive" /> </div>
<div class="service-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                <div class="section-title indSat_section">
                    <div class="mt20">
                        <p class="text-justify">While the Study in India scholarships are limited in number, institutes partnered with the Study in India program offer plenty tuition fee waivers to the international student community</p>
                        <p class="text-justify">For the academic year 2020-21, more than 33,000 fee waivers are offered across 114 institutes in the following ranges - 100%, 50% and 25%. The percentage of seats that offer these waivers vary from institute to institute. </p>
                        <p class="text-justify">According to the eligibility criteria provided by participating institutes and qualifying scores of students, a merit list is developed. Deserving students in this list are provided fee waivers according to their merit rankings. </p>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                <h4><strong>List of Institutes which offer these fee waivers is given below :</strong></h4>
                <table class="table feeWaiversTable" style="width:70%;">
                    <tbody>
                        <tr>
                            <td width="104">
                                <p><strong>Institute Id</strong></p>
                            </td>
                            <td width="378">
                                <p><strong>Institute Name</strong></p>
                            </td>
                            <td width="142">
                                <p><strong>Total No. Of Fee Waived Seats</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0014</p>
                            </td>
                            <td width="378">
                                <p>Amity University</p>
                            </td>
                            <td width="142">
                                <p>121</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0015</p>
                            </td>
                            <td width="378">
                                <p>Assumption College for Women</p>
                            </td>
                            <td width="142">
                                <p>29</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0017</p>
                            </td>
                            <td width="378">
                                <p>College of Engineering Pune</p>
                            </td>
                            <td width="142">
                                <p>29</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0018</p>
                            </td>
                            <td width="378">
                                <p>Delhi Technological University</p>
                            </td>
                            <td width="142">
                                <p>0</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0020</p>
                            </td>
                            <td width="378">
                                <p>Fatima College for Women</p>
                            </td>
                            <td width="142">
                                <p>4</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0022</p>
                            </td>
                            <td width="378">
                                <p>G. H. Raisoni College of Engineering</p>
                            </td>
                            <td width="142">
                                <p>51</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0023</p>
                            </td>
                            <td width="378">
                                <p>Gandhi Institute of Technology and Management</p>
                            </td>
                            <td width="142">
                                <p>714</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0024</p>
                            </td>
                            <td width="378">
                                <p>Hindusthan College of Arts and Science</p>
                            </td>
                            <td width="142">
                                <p>77</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0025</p>
                            </td>
                            <td width="378">
                                <p>Atal Bihari Vajpayee Indian Institute of Information Technology and Management Gwalior</p>
                            </td>
                            <td width="142">
                                <p>12</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0026</p>
                            </td>
                            <td width="378">
                                <p>Indian Institute of Management Tiruchirappalli</p>
                            </td>
                            <td width="142">
                                <p>10</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0031</p>
                            </td>
                            <td width="378">
                                <p>Indian Institute of Technology Bhubaneswar</p>
                            </td>
                            <td width="142">
                                <p>100</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0032</p>
                            </td>
                            <td width="378">
                                <p>Indian Institute of Technology Bombay</p>
                            </td>
                            <td width="142">
                                <p>0</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0034</p>
                            </td>
                            <td width="378">
                                <p>Indian Institute of Technology Indore</p>
                            </td>
                            <td width="142">
                                <p>95</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0035</p>
                            </td>
                            <td width="378">
                                <p>Indian Institute of Technology Jodhpur</p>
                            </td>
                            <td width="142">
                                <p>52</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0036</p>
                            </td>
                            <td width="378">
                                <p>Indian Institute of Technology Mandi</p>
                            </td>
                            <td width="142">
                                <p>1</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0037</p>
                            </td>
                            <td width="378">
                                <p>Indian Institute of Technology Roorkee</p>
                            </td>
                            <td width="142">
                                <p>237</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0038</p>
                            </td>
                            <td width="378">
                                <p>Indian Institute of Technology Gandhinagar</p>
                            </td>
                            <td width="142">
                                <p>20</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0039</p>
                            </td>
                            <td width="378">
                                <p>Indian Institute of Technology Kanpur</p>
                            </td>
                            <td width="142">
                                <p>0</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0040</p>
                            </td>
                            <td width="378">
                                <p>Indian Institute of Technology Madras</p>
                            </td>
                            <td width="142">
                                <p>615</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0041</p>
                            </td>
                            <td width="378">
                                <p>Indian Institute of Technology Patna</p>
                            </td>
                            <td width="142">
                                <p>13</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0042</p>
                            </td>
                            <td width="378">
                                <p>Indian Institute of Technology Ropar</p>
                            </td>
                            <td width="142">
                                <p>36</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0043</p>
                            </td>
                            <td width="378">
                                <p>International Management Institute (IMI) Kolkata</p>
                            </td>
                            <td width="142">
                                <p>8</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0044</p>
                            </td>
                            <td width="378">
                                <p>Jaypee Institute of Information Technology</p>
                            </td>
                            <td width="142">
                                <p>110</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0046</p>
                            </td>
                            <td width="378">
                                <p>Kalinga Institute of Industrial Technology</p>
                            </td>
                            <td width="142">
                                <p>3520</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0047</p>
                            </td>
                            <td width="378">
                                <p>Kongunadu Arts &amp; Science College</p>
                            </td>
                            <td width="142">
                                <p>20</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0048</p>
                            </td>
                            <td width="378">
                                <p>Little Flower College Guruvayoor for Women</p>
                            </td>
                            <td width="142">
                                <p>9</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0049</p>
                            </td>
                            <td width="378">
                                <p>M. E. S. Keveeyam College</p>
                            </td>
                            <td width="142">
                                <p>10</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0051</p>
                            </td>
                            <td width="378">
                                <p>Malaviya National Institute of Technology</p>
                            </td>
                            <td width="142">
                                <p>52</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0052</p>
                            </td>
                            <td width="378">
                                <p>National College</p>
                            </td>
                            <td width="142">
                                <p>59</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0053</p>
                            </td>
                            <td width="378">
                                <p>National Institute of Technology Karnataka Surathkal</p>
                            </td>
                            <td width="142">
                                <p>6</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0054</p>
                            </td>
                            <td width="378">
                                <p>National Institute of Technology Tiruchirappalli</p>
                            </td>
                            <td width="142">
                                <p>19</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0056</p>
                            </td>
                            <td width="378">
                                <p>National Institute of Technology Meghalaya</p>
                            </td>
                            <td width="142">
                                <p>49</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0057</p>
                            </td>
                            <td width="378">
                                <p>National Institute of Technology Silchar</p>
                            </td>
                            <td width="142">
                                <p>46</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0059</p>
                            </td>
                            <td width="378">
                                <p>SVKM's Narsee Monjee Institute of Management Studies</p>
                            </td>
                            <td width="142">
                                <p>26</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0060</p>
                            </td>
                            <td width="378">
                                <p>Osmania University</p>
                            </td>
                            <td width="142">
                                <p>64</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0062</p>
                            </td>
                            <td width="378">
                                <p>PSGR Krishnammal College for Women</p>
                            </td>
                            <td width="142">
                                <p>0</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0063</p>
                            </td>
                            <td width="378">
                                <p>Punjab Agricultural University</p>
                            </td>
                            <td width="142">
                                <p>103</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0064</p>
                            </td>
                            <td width="378">
                                <p>Raja Narendralal Khan Women's College</p>
                            </td>
                            <td width="142">
                                <p>63</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0065</p>
                            </td>
                            <td width="378">
                                <p>Rathinam College of Arts and Science</p>
                            </td>
                            <td width="142">
                                <p>237</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0067</p>
                            </td>
                            <td width="378">
                                <p>Sacred Heart College</p>
                            </td>
                            <td width="142">
                                <p>47</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0069</p>
                            </td>
                            <td width="378">
                                <p>Shri Ramdeobaba College of Engineering and Management</p>
                            </td>
                            <td width="142">
                                <p>47</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0070</p>
                            </td>
                            <td width="378">
                                <p>SRM Institute of Science and Technology</p>
                            </td>
                            <td width="142">
                                <p>538</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0071</p>
                            </td>
                            <td width="378">
                                <p>Sri Sivasubramaniya Nadar College of Engineering</p>
                            </td>
                            <td width="142">
                                <p>104</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0072</p>
                            </td>
                            <td width="378">
                                <p>Symbiosis International</p>
                            </td>
                            <td width="142">
                                <p>120</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0073</p>
                            </td>
                            <td width="378">
                                <p>Thapar Institute of Engineering and Technology</p>
                            </td>
                            <td width="142">
                                <p>479</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0074</p>
                            </td>
                            <td width="378">
                                <p>Shrimathi Devkunvar Nanalal Bhatt Vaishnav College for Women</p>
                            </td>
                            <td width="142">
                                <p>47</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0075</p>
                            </td>
                            <td width="378">
                                <p>Vel Tech Rangarajan Dr. Sagunthala R&amp;D Institute of Science and Technology</p>
                            </td>
                            <td width="142">
                                <p>451</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0076</p>
                            </td>
                            <td width="378">
                                <p>Vellore Institute of Technology</p>
                            </td>
                            <td width="142">
                                <p>1140</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0077</p>
                            </td>
                            <td width="378">
                                <p>Dr. Yashwant Singh Parmar University of Horticulture and Forestry</p>
                            </td>
                            <td width="142">
                                <p>49</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0083</p>
                            </td>
                            <td width="378">
                                <p>KLE Academy of Higher Education and Research</p>
                            </td>
                            <td width="142">
                                <p>37</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0086</p>
                            </td>
                            <td width="378">
                                <p>Amrita Vishwa Vidyapeetham</p>
                            </td>
                            <td width="142">
                                <p>1883</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0087</p>
                            </td>
                            <td width="378">
                                <p>University of Hyderabad</p>
                            </td>
                            <td width="142">
                                <p>3</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0089</p>
                            </td>
                            <td width="378">
                                <p>St. Xavier's College</p>
                            </td>
                            <td width="142">
                                <p>23</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0091</p>
                            </td>
                            <td width="378">
                                <p>Bharati Vidyapeeth (Deemed to be University)</p>
                            </td>
                            <td width="142">
                                <p>146</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0094</p>
                            </td>
                            <td width="378">
                                <p>Shiv Nadar University</p>
                            </td>
                            <td width="142">
                                <p>5</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0096</p>
                            </td>
                            <td width="378">
                                <p>Indian Institute of Information Technology, Design and Manufacturing, Jabalpur</p>
                            </td>
                            <td width="142">
                                <p>12</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0097</p>
                            </td>
                            <td width="378">
                                <p>Institute of Chemical Technology</p>
                            </td>
                            <td width="142">
                                <p>9</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0099</p>
                            </td>
                            <td width="378">
                                <p>Indian Institute of Management Indore</p>
                            </td>
                            <td width="142">
                                <p>1</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0100</p>
                            </td>
                            <td width="378">
                                <p>J. B. College of Science</p>
                            </td>
                            <td width="142">
                                <p>36</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0101</p>
                            </td>
                            <td width="378">
                                <p>Indian Institute of Technology Kharagpur</p>
                            </td>
                            <td width="142">
                                <p>1</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0105</p>
                            </td>
                            <td width="378">
                                <p>O. P. Jindal Global University</p>
                            </td>
                            <td width="142">
                                <p>10</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0107</p>
                            </td>
                            <td width="378">
                                <p>Hindustan Institute of Technology and Science</p>
                            </td>
                            <td width="142">
                                <p>342</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0114</p>
                            </td>
                            <td width="378">
                                <p>Jamia Hamdard</p>
                            </td>
                            <td width="142">
                                <p>25</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0127</p>
                            </td>
                            <td width="378">
                                <p>Tamil Nadu Agricultural University</p>
                            </td>
                            <td width="142">
                                <p>62</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0128</p>
                            </td>
                            <td width="378">
                                <p>Tata Institute of Social Sciences</p>
                            </td>
                            <td width="142">
                                <p>53</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0136</p>
                            </td>
                            <td width="378">
                                <p>Bharathiar University</p>
                            </td>
                            <td width="142">
                                <p>44</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0137</p>
                            </td>
                            <td width="378">
                                <p>Guru Nanak Dev University</p>
                            </td>
                            <td width="142">
                                <p>408</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0138</p>
                            </td>
                            <td width="378">
                                <p>Sri Ramakrishna College of Arts and Science</p>
                            </td>
                            <td width="142">
                                <p>118</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0141</p>
                            </td>
                            <td width="378">
                                <p>Indian Institute of Management Kozhikode</p>
                            </td>
                            <td width="142">
                                <p>1</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0144</p>
                            </td>
                            <td width="378">
                                <p>C. V. Raman College of Engineering</p>
                            </td>
                            <td width="142">
                                <p>259</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0153</p>
                            </td>
                            <td width="378">
                                <p>Indian Institute of Technology Guwahati</p>
                            </td>
                            <td width="142">
                                <p>4</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0154</p>
                            </td>
                            <td width="378">
                                <p>Indian Institute of Technology Hyderabad</p>
                            </td>
                            <td width="142">
                                <p>9</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0159</p>
                            </td>
                            <td width="378">
                                <p>National Institute of Technology Durgapur</p>
                            </td>
                            <td width="142">
                                <p>2</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0161</p>
                            </td>
                            <td width="378">
                                <p>Dr. B.R. Ambedkar National Institute of Technology</p>
                            </td>
                            <td width="142">
                                <p>38</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0163</p>
                            </td>
                            <td width="378">
                                <p>National Institute of Technology Kurukshetra</p>
                            </td>
                            <td width="142">
                                <p>5</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0175</p>
                            </td>
                            <td width="378">
                                <p>National Institute of Technology Puducherry</p>
                            </td>
                            <td width="142">
                                <p>5</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0176</p>
                            </td>
                            <td width="378">
                                <p>National Institute of Technology Andhra Pradesh</p>
                            </td>
                            <td width="142">
                                <p>5</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0177</p>
                            </td>
                            <td width="378">
                                <p>National Institute of Technology Rourkela</p>
                            </td>
                            <td width="142">
                                <p>44</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0178</p>
                            </td>
                            <td width="378">
                                <p>National Institute of Technology Warangal</p>
                            </td>
                            <td width="142">
                                <p>111</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0179</p>
                            </td>
                            <td width="378">
                                <p>ISB Hyderabad</p>
                            </td>
                            <td width="142">
                                <p>9</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0180</p>
                            </td>
                            <td width="378">
                                <p>Indian Institute of Science Education &amp; Research Kolkata</p>
                            </td>
                            <td width="142">
                                <p>10</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0182</p>
                            </td>
                            <td width="378">
                                <p>Pandit Deendayal Petroleum University</p>
                            </td>
                            <td width="142">
                                <p>510</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0183</p>
                            </td>
                            <td width="378">
                                <p>Bannari Amman Institute of Technology</p>
                            </td>
                            <td width="142">
                                <p>71</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0192</p>
                            </td>
                            <td width="378">
                                <p>Jain University</p>
                            </td>
                            <td width="142">
                                <p>8068</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0204</p>
                            </td>
                            <td width="378">
                                <p>Sri Ramakrishna Engineering College</p>
                            </td>
                            <td width="142">
                                <p>47</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0205</p>
                            </td>
                            <td width="378">
                                <p>CMR Institute of Technology</p>
                            </td>
                            <td width="142">
                                <p>144</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0206</p>
                            </td>
                            <td width="378">
                                <p>DKTE Society's Textile &amp; Engineering Institute</p>
                            </td>
                            <td width="142">
                                <p>22</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0207</p>
                            </td>
                            <td width="378">
                                <p>Marwadi Education Foundation's Group of Institute</p>
                            </td>
                            <td width="142">
                                <p>2334</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0208</p>
                            </td>
                            <td width="378">
                                <p>Andhra University</p>
                            </td>
                            <td width="142">
                                <p>783</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0209</p>
                            </td>
                            <td width="378">
                                <p>B. M. S. College of Engineering</p>
                            </td>
                            <td width="142">
                                <p>66</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0213</p>
                            </td>
                            <td width="378">
                                <p>Rajagiri College of Social Sciences</p>
                            </td>
                            <td width="142">
                                <p>56</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0216</p>
                            </td>
                            <td width="378">
                                <p>Acharya &amp; B M Reddy College of Pharmacy</p>
                            </td>
                            <td width="142">
                                <p>8</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0217</p>
                            </td>
                            <td width="378">
                                <p>Ayya Nadar Janaki Ammal College</p>
                            </td>
                            <td width="142">
                                <p>6</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0219</p>
                            </td>
                            <td width="378">
                                <p>Manipal Academy of Higher Education</p>
                            </td>
                            <td width="142">
                                <p>273</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0223</p>
                            </td>
                            <td width="378">
                                <p>Indian Institute of Management Bangalore</p>
                            </td>
                            <td width="142">
                                <p>5</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0225</p>
                            </td>
                            <td width="378">
                                <p>St. Teresa's College</p>
                            </td>
                            <td width="142">
                                <p>30</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0226</p>
                            </td>
                            <td width="378">
                                <p>Indian Institute of Management Udaipur</p>
                            </td>
                            <td width="142">
                                <p>1</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0228</p>
                            </td>
                            <td width="378">
                                <p>Siksha 'O' Anusandhan</p>
                            </td>
                            <td width="142">
                                <p>881</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0229</p>
                            </td>
                            <td width="378">
                                <p>Indian Institute of Information Technology Sri City</p>
                            </td>
                            <td width="142">
                                <p>8</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0230</p>
                            </td>
                            <td width="378">
                                <p>Indian Institute of Management Calcutta</p>
                            </td>
                            <td width="142">
                                <p>2</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0231</p>
                            </td>
                            <td width="378">
                                <p>Indian Institute of Information Technology Vadodara</p>
                            </td>
                            <td width="142">
                                <p>36</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0245</p>
                            </td>
                            <td width="378">
                                <p>Birla Institute of Management Technology</p>
                            </td>
                            <td width="142">
                                <p>20</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0248</p>
                            </td>
                            <td width="378">
                                <p>Indian Institute of Management Sirmaur</p>
                            </td>
                            <td width="142">
                                <p>0</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0249</p>
                            </td>
                            <td width="378">
                                <p>Indian Institute of Technology Bhilai</p>
                            </td>
                            <td width="142">
                                <p>0</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0250</p>
                            </td>
                            <td width="378">
                                <p>JSS Academy of Higher Education &amp; Research</p>
                            </td>
                            <td width="142">
                                <p>0</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0251</p>
                            </td>
                            <td width="378">
                                <p>Koneru Lakshmaiah Education Foundation (Deemed to be University)</p>
                            </td>
                            <td width="142">
                                <p>3668</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0252</p>
                            </td>
                            <td width="378">
                                <p>Maharshi Dayanand University</p>
                            </td>
                            <td width="142">
                                <p>48</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0253</p>
                            </td>
                            <td width="378">
                                <p>Rajiv Gandhi Institute Of Petroleum Technology</p>
                            </td>
                            <td width="142">
                                <p>10</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0254</p>
                            </td>
                            <td width="378">
                                <p>Savitribai Phule Pune University</p>
                            </td>
                            <td width="142">
                                <p>330</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0258</p>
                            </td>
                            <td width="378">
                                <p>St. Joseph's College</p>
                            </td>
                            <td width="142">
                                <p>76</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0261</p>
                            </td>
                            <td width="378">
                                <p>Indian Institute of Management Bodh Gaya</p>
                            </td>
                            <td width="142">
                                <p>1</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0262</p>
                            </td>
                            <td width="378">
                                <p>Indian Institute of Technology Tirupati</p>
                            </td>
                            <td width="142">
                                <p>22</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0263</p>
                            </td>
                            <td width="378">
                                <p>CMS College of Science and Commerce</p>
                            </td>
                            <td width="142">
                                <p>203</p>
                            </td>
                        </tr>
                        <tr>
                            <td width="104">
                                <p>SII-I-0264</p>
                            </td>
                            <td width="378">
                                <p>Chandigarh University</p>
                            </td>
                            <td width="142">
                                <p>161</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <center class="arrowDown">
                    <a class="text-center" id="show" href="javascript:;"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></a>
                </center>

            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
@section scripts{
    <script>
        function toggleIcon(e) {
            $(e.target)
                .prev('.panel-heading')
                .find(".more-less")
                .toggleClass('fa-plus fa-times');
        }
        $('.panel-group').on('hidden.bs.collapse', toggleIcon);
        $('.panel-group').on('shown.bs.collapse', toggleIcon);
    </script>
    <script>
        $('.panel-heading a').click(function () {
            $('.panel-heading').removeClass('active');

            //If the panel was open and would be closed by this click, do not active it
            if (!$(this).closest('.panel').find('.panel-collapse').hasClass('in'))
                $(this).parents('.panel-heading').addClass('active');
        });

    </script>
    <script>
        $(function () {
            var totalrowshidden;
            var rows2display = 10;
            var rem = 0;
            var rowCount = 0;
            var forCntr;
            var forCntr1;
            var MaxCntr = 0;
            //$('#hide').click(function () {
            //    var rowCount = $('.feeWaiversTable tr').length;
            //    rowCount = rowCount / 2;
            //    rowCount = Math.round(rowCount);
            //    for (var i = 0; i < rowCount; i++) {
            //        $('tr:nth-child(' + i + ')').hide(300);
            //    }
            //});
            $('#show').click(function () {
                rowCount = $('.feeWaiversTable tr').length;
                MaxCntr = forStarter + rows2display;
                if (forStarter <= $('.feeWaiversTable tr').length) {
                    for (var i = forStarter; i < MaxCntr; i++) {
                        $('tr:nth-child(' + i + ')').show(200);
                    }
                    forStarter = forStarter + rows2display
                } else {
                    $('#show').hide();
                }
            });
            $(document).ready(function () {
                var rowCount = $('.feeWaiversTable tr').length;
                for (var i = $('.feeWaiversTable tr').length; i > rows2display; i--) {
                    rem = rem + 1
                    $('tr:nth-child(' + i + ')').hide(200);
                }
                forCntr = $('.feeWaiversTable tr').length - rem;
                forStarter = forCntr + 1
            });
        });
    </script>
}
