
@{
    ViewBag.Title = "Fee Waivers & Concessions | Overseas Students | ICCR";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags {
    <meta name='Title' content='Fee Waivers & Concessions | Overseas Students | ICCR' />
    <meta name='description' content='International students belonging to certain Asian, African and Latin American countries are awarded scholarships under General Scholarship Scheme (GSS) of ICCR- Indian Council for Cultural Relations Scholarship (ICCR). Especially for undergraduate & postgraduate degrees, and for pursuing research at Indian universities.' />
    <link rel="canonical" href="https://www.studyinindia.gov.in/scholarships/FeeWaiversandConcessions" />

}
<div class="inner-title-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="inner-title-left">
                    <h2>SCHOLARSHIPS AND WAIVERS</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="inner-ttile-right text-right">
                    <h4><a href="@Url.Content("~/")whyindia">SCHOLARSHIPS AND WAIVERS</a></h4>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="service-area section-padding">
    <div class="service-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 wow fadeInLeft">
                    <div class="section-title">
                        <h2 class="inner-title">SII Scholarship Scheme</h2>

                        <p class="text-justify">Study in India, with the help of the following Indian ministries - the Ministry of Human Resource Development and the Ministry of Commerce and Industry, is offering 2000 scholarships worth USD3500 each, for the academic year 2020-21</p>
                        <p class="text-justify">Every meritorious student that has been offered this scholarship by SII shall receive it for a maximum period:</p>
                        <ol>
                            <li>of 5 years for undergraduate integrated courses;</li>
                            <li>of 3 or 4 years for undergraduate courses, according to the course duration;</li>
                            <li>of 2 years for postgraduate courses;</li>
                            <li>or, till the completion of this course, whichever is lesser.</li>
                        </ol>
                        <p class="text-justify">Please note, scholarships are only available for the above listed categories, and not for Ph.D, M.Phil and Doctoral level courses.</p>
                        <p class="text-justify">To apply for this scholarship, students should have registered with SII, completed an application on our website - <a>www.studyinindia.gov.in</a>, and been admitted into SII-partnered institutions. The scholarships are awarded on the basis of the following:</p>
                        <ol>
                            <li>Students should have had a meritorious academic history in his / her secondary school, higher secondary school, and / or latest academic qualification.</li>
                            <li>Students from the given list of countries may appear for the Ind-SAT exam that is conducted by the SII team, and a merit list would be generated for the second-wave of shortlisting. </li>
                            <li>According to the country-wise allocated quota and other criterion, the final shortlisted will be contacted by the SII team.</li>
                        </ol>
                        <p class="text-justify">Please note, all applications for the Ind-SAT exam are on a separate portal, the link of which will be sent to the student’s email address, and will be also available on the Student Dashboard and the SII portal.</p>
                        <p class="text-justify">A few important clauses about the scholarship for the students applying for the SII scholarship.</p>
                        <ol>
                            <li>Each scholarship is valued at USD 3500 per student per year. </li>
                            <li>Each scholarship under the SII scheme will only cover tuition, accommodation, food and admission fees. No other expense listed outside this set will be provided for by this scholarship. </li>
                            <li>If the total fees of the course for each year, which includes tuition, accommodation, food and admission, is lesser than the proposed value of USD3500, the lesser amount will be given as scholarship.</li>
                            <li>All scholarships are electronically transferred to the institutes. </li>
                            <li>Scholarship amount will be transferred to the institute after a verification of the student’s attendance for the first month has been forwarded to the SII team.</li>
                            <li>All scholarships are renewable on a year-on-year basis until the day of Graduation.</li>
                        </ol>
                        <p class="text-justify">Before releasing the final offer letter to students, each online application will be verified for the Institute and the Scholarship Allotment by institutes and the SII team.</p>
                        <p class="text-justify">For further information, please read through the clauses given below carefully before applying for the SII scholarship.</p>
                        <h2 class="inner-title">Apply for Scholarships</h2>
                        <p class="text-justify">To be eligible for the SII Scholarship, the student should’ve applied to SII and have received admission in one of the SII-partner institutes. Students who have shown interest to apply for the SII scholarship, will be given the links to apply for the Ind-SAT exam, an assessment test conducted by SII, to be used for initial shortlisting of the candidates</p>
                        <p class="text-justify">Scholarship Values</p>
                        <p class="text-justify">For the academic year 2020-21, 2000 scholarships will be awarded to students who are part of the SII fraternity. Each scholarship is valued at USD3500, which is an approximate Rs. 2,50,000 in Indian currency (INR)</p>
                        <p class="text-justify">Students who have been awarded the SII scholarship will be given either the gross total of admission fees, tuition fees, accommodation and food expenses or USD3500, whichever is lesser</p>
                        <p class="text-justify">Scholarships are granted for a complete course duration. The student would need to renew the scholarship status for the next academic year, before the scholarship lapses for the current academic year</p>
                        <h2 class="inner-title">Renewal of Scholarship</h2>
                        <p class="text-justify">With reference to the scholarship timeline given above, a scholarship under the scheme is renewable on year-to-year basis up till the completion of the course, without exceeding the mentioned number of years for the course.</p>
                        <p class="text-justify">If a scholar is unable to appear in the annual examination, owing to illness and / or on account of any unforeseen event, the award may be renewed for the next academic year, on submission of a medical certificate and other evidence submitted. Additionally, the head of the institute should have certified that the student would have passed, with the required percentage of marks or equivalent Grade Point Average, had he/she appeared for the examination.</p>
                        <p class="text-justify">In case a scholar has decided to change his field of study or course offered by the institute, then an attested document and a new offer letter submitted by the head of the institute should provide certification, allowing the student to change course within the institute.</p>
                        <p class="text-justify">In case a scholar has decided to change his field of study or course offered by the institute, then an attested document and a new offer letter submitted by the head of the institute should provide certification, allowing the student to change course within the institute</p>
                        <p class="text-justify">However, if a scholar decides to change courses from the allotted institute, then the scholarship will not be renewed for the following years</p>
                        <h3>Renewal Process</h3>
                        <p class="text-justify">To renew scholarship, scholars would need to send the following documents, attested by the respective institutes: </p>
                        <ul>
                            <li>Scholar should have passed all the subjects for the academic year and should have been promoted to the next academic year.</li>
                            <li>Scholar should have been cleared of any disciplinary action</li>
                            <li>A minimum attendance of 75% should have been maintained across semesters or trimesters</li>
                        </ul>
                        <p class="text-justify">Only after the Study in India team has verified these details, the renewed scholarship for the scholar will be released to the institute’s account.</p>
                        <h2 class="inner-title">Withdrawal of Scholarship</h2>
                        <p class="text-justify">The SII Scholarship will be revoked from a scholar if the scholar has joined an institute different from the allotted one, before the completion of the course. The student would need to pay for the duration of the course. Recovery of the amount to be done by the institute.</p>
                        <h2 class="inner-title">Ind-SAT</h2>
                        <p class="text-justify">The Indian Scholastic Assessment or IND-SAT is a standardized online proctored test for students seeking scholarships with Study in India (SII). This exam is to gauge the capability and tenacity of students applying to study in India. The IND-SAT scores will serve as a criterion to shortlist the meritorious students for the allocation of scholarships.</p>
                        <p class="text-justify">The student would be notified regarding the Ind-SAT Exam via emails. Details on the same would be available on the SII portal and Student Dashboard too.</p>
                        <p class="text-justify">The medium of the paper would be in English and the exam is expected to be conducted in mid-May. It is a multiple-choice objective paper, timed at 90 minutes. The students will be assessed in the given areas - Verbal, Quantitative and Logical Reasoning</p>
                        <p class="text-justify">While applying, candidates will be allocated available centers in their country. Candidates who have applied for this exam can take a mock test before the main examination.</p>
                        <p class="text-justify">**Ind-SAT dates and centres to be uploaded soon.</p>
                        <h2 class="inner-title">Syllabus for Ind-SAT</h2>
                        <p class="text-justify">Section-wise detailed syllabus is as follows</p>
                        <h3>Verbal Reasoning</h3>
                        <p class="text-justify">Reading comprehension, Fill in the blanks, Grammar, Paragraph completion and inference, Parajumbles, Analogies, Antonyms, Synonyms, One-word substitution, Sentence correction, Idioms & Phrases.</p>
                        <h3>Quantitative Aptitude</h3>
                        <p class="text-justify">Algebra, Averages, Equations - Linear & Quadratic, Geometry, HCF & LCM, Number System, Partnership, Percentages, Progressions - Arithmetic, Geometry, Profit and Loss, Ratios and Proportions, Time-Speed-Distance, Work and Time, Interest.</p>
                        <h3 class="inner-title">Logical Reasoning</h3>
                        <p class="text-justify">Seating Arrangements, Blood Relations, Direction sense, Series/Sequencing, Syllogism, Venn diagrams, Rankings, Puzzles, Coding & Decoding.</p>
                        <h2 class="inner-title">Ind-SAT Examination Pattern</h2>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Particulars</th>
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Mode of Examination</td>
                                    <td>Online Proctored</td>
                                </tr>
                                <tr>
                                    <td>Duration of Examination</td>
                                    <td>90 minutes</td>
                                </tr>
                                <tr>
                                    <td>Type of question</td>
                                    <td>Objective – Multiple-Choice Questions</td>
                                </tr>
                                <tr>
                                    <td>Medium of question papers</td>
                                    <td>English</td>
                                </tr>
                                <tr>
                                    <td>Subject-wise distribution of questions</td>
                                    <td>
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Subject</th>
                                                    <th>No. of Questions</th>
                                                    <th>Marks</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Verbal</td>
                                                    <td>40</td>
                                                    <td>40</td>
                                                </tr>
                                                <tr>
                                                    <td>Quant</td>
                                                    <td>25</td>
                                                    <td>25</td>
                                                </tr>
                                                <tr>
                                                    <td>Logical</td>
                                                    <td>25</td>
                                                    <td>25</td>
                                                </tr>
                                                <tr>
                                                    <td>Total</td>
                                                    <td>90</td>
                                                    <td>90</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th colspan="2">Correct answer</th>
                                                    <th>1</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Marking scheme for MCQs</td>
                                    <td>
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <th colspan="2">Correct answer</th>
                                                    <th>1</th>
                                                </tr>
                                                <tr>
                                                    <th colspan="2">Wrong answer</th>
                                                    <th>0</th>
                                                </tr>
                                                <tr>
                                                    <th colspan="2">Unattempted questions</th>
                                                    <th>0</th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h2 class="inner-title">Fee Waivers</h2>
                        <p class="text-justify">While the SII scholarships are only for the international student fraternity that are applying to or are a part of the SII community, fee waivers are offered by SII-partnered institutions.</p>
                        <p class="text-justify">Around 9,500 fee waivers are offered across 108 institutes in the following ranges - 100%, 50% and 20%. The percentage of seats that offer these waivers vary from institute to institute.</p>
                        <p class="text-justify">According to the eligibility criteria provided by participating institutes and qualifying scores of students, a merit list is developed. Deserving students in this list are provided fee waivers according to their merit rankings.</p>
                        <p class="text-justify">The list of institutes which offer these fee waivers is given below.</p>
                        <table class="table table-bordered table-striped">
                            <tbody>
                                <tr>
                                    <td width="104">
                                        <p><strong>Institute Id</strong></p>
                                    </td>
                                    <td width="378">
                                        <p><strong>Institute Name</strong></p>
                                    </td>
                                    <td width="142">
                                        <p><strong>Total No. Of Fee Waived Seats</strong></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0014</p>
                                    </td>
                                    <td width="378">
                                        <p>Amity University</p>
                                    </td>
                                    <td width="142">
                                        <p>121</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0015</p>
                                    </td>
                                    <td width="378">
                                        <p>Assumption College for Women</p>
                                    </td>
                                    <td width="142">
                                        <p>29</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0017</p>
                                    </td>
                                    <td width="378">
                                        <p>College of Engineering Pune</p>
                                    </td>
                                    <td width="142">
                                        <p>29</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0018</p>
                                    </td>
                                    <td width="378">
                                        <p>Delhi Technological University</p>
                                    </td>
                                    <td width="142">
                                        <p>0</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0020</p>
                                    </td>
                                    <td width="378">
                                        <p>Fatima College for Women</p>
                                    </td>
                                    <td width="142">
                                        <p>4</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0022</p>
                                    </td>
                                    <td width="378">
                                        <p>G. H. Raisoni College of Engineering</p>
                                    </td>
                                    <td width="142">
                                        <p>51</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0023</p>
                                    </td>
                                    <td width="378">
                                        <p>Gandhi Institute of Technology and Management</p>
                                    </td>
                                    <td width="142">
                                        <p>714</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0024</p>
                                    </td>
                                    <td width="378">
                                        <p>Hindusthan College of Arts and Science</p>
                                    </td>
                                    <td width="142">
                                        <p>77</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0025</p>
                                    </td>
                                    <td width="378">
                                        <p>Atal Bihari Vajpayee Indian Institute of Information Technology and Management Gwalior</p>
                                    </td>
                                    <td width="142">
                                        <p>12</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0026</p>
                                    </td>
                                    <td width="378">
                                        <p>Indian Institute of Management Tiruchirappalli</p>
                                    </td>
                                    <td width="142">
                                        <p>10</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0031</p>
                                    </td>
                                    <td width="378">
                                        <p>Indian Institute of Technology Bhubaneswar</p>
                                    </td>
                                    <td width="142">
                                        <p>100</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0032</p>
                                    </td>
                                    <td width="378">
                                        <p>Indian Institute of Technology Bombay</p>
                                    </td>
                                    <td width="142">
                                        <p>0</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0034</p>
                                    </td>
                                    <td width="378">
                                        <p>Indian Institute of Technology Indore</p>
                                    </td>
                                    <td width="142">
                                        <p>95</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0035</p>
                                    </td>
                                    <td width="378">
                                        <p>Indian Institute of Technology Jodhpur</p>
                                    </td>
                                    <td width="142">
                                        <p>52</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0036</p>
                                    </td>
                                    <td width="378">
                                        <p>Indian Institute of Technology Mandi</p>
                                    </td>
                                    <td width="142">
                                        <p>1</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0037</p>
                                    </td>
                                    <td width="378">
                                        <p>Indian Institute of Technology Roorkee</p>
                                    </td>
                                    <td width="142">
                                        <p>237</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0038</p>
                                    </td>
                                    <td width="378">
                                        <p>Indian Institute of Technology Gandhinagar</p>
                                    </td>
                                    <td width="142">
                                        <p>20</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0039</p>
                                    </td>
                                    <td width="378">
                                        <p>Indian Institute of Technology Kanpur</p>
                                    </td>
                                    <td width="142">
                                        <p>0</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0040</p>
                                    </td>
                                    <td width="378">
                                        <p>Indian Institute of Technology Madras</p>
                                    </td>
                                    <td width="142">
                                        <p>615</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0041</p>
                                    </td>
                                    <td width="378">
                                        <p>Indian Institute of Technology Patna</p>
                                    </td>
                                    <td width="142">
                                        <p>13</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0042</p>
                                    </td>
                                    <td width="378">
                                        <p>Indian Institute of Technology Ropar</p>
                                    </td>
                                    <td width="142">
                                        <p>36</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0043</p>
                                    </td>
                                    <td width="378">
                                        <p>International Management Institute (IMI) Kolkata</p>
                                    </td>
                                    <td width="142">
                                        <p>8</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0044</p>
                                    </td>
                                    <td width="378">
                                        <p>Jaypee Institute of Information Technology</p>
                                    </td>
                                    <td width="142">
                                        <p>110</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0046</p>
                                    </td>
                                    <td width="378">
                                        <p>Kalinga Institute of Industrial Technology</p>
                                    </td>
                                    <td width="142">
                                        <p>3520</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0047</p>
                                    </td>
                                    <td width="378">
                                        <p>Kongunadu Arts &amp; Science College</p>
                                    </td>
                                    <td width="142">
                                        <p>20</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0048</p>
                                    </td>
                                    <td width="378">
                                        <p>Little Flower College Guruvayoor for Women</p>
                                    </td>
                                    <td width="142">
                                        <p>9</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0049</p>
                                    </td>
                                    <td width="378">
                                        <p>M. E. S. Keveeyam College</p>
                                    </td>
                                    <td width="142">
                                        <p>10</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0051</p>
                                    </td>
                                    <td width="378">
                                        <p>Malaviya National Institute of Technology</p>
                                    </td>
                                    <td width="142">
                                        <p>52</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0052</p>
                                    </td>
                                    <td width="378">
                                        <p>National College</p>
                                    </td>
                                    <td width="142">
                                        <p>59</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0053</p>
                                    </td>
                                    <td width="378">
                                        <p>National Institute of Technology Karnataka Surathkal</p>
                                    </td>
                                    <td width="142">
                                        <p>6</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0054</p>
                                    </td>
                                    <td width="378">
                                        <p>National Institute of Technology Tiruchirappalli</p>
                                    </td>
                                    <td width="142">
                                        <p>19</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0056</p>
                                    </td>
                                    <td width="378">
                                        <p>National Institute of Technology Meghalaya</p>
                                    </td>
                                    <td width="142">
                                        <p>49</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0057</p>
                                    </td>
                                    <td width="378">
                                        <p>National Institute of Technology Silchar</p>
                                    </td>
                                    <td width="142">
                                        <p>46</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0059</p>
                                    </td>
                                    <td width="378">
                                        <p>SVKM's Narsee Monjee Institute of Management Studies</p>
                                    </td>
                                    <td width="142">
                                        <p>26</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0060</p>
                                    </td>
                                    <td width="378">
                                        <p>Osmania University</p>
                                    </td>
                                    <td width="142">
                                        <p>64</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0062</p>
                                    </td>
                                    <td width="378">
                                        <p>PSGR Krishnammal College for Women</p>
                                    </td>
                                    <td width="142">
                                        <p>0</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0063</p>
                                    </td>
                                    <td width="378">
                                        <p>Punjab Agricultural University</p>
                                    </td>
                                    <td width="142">
                                        <p>103</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0064</p>
                                    </td>
                                    <td width="378">
                                        <p>Raja Narendralal Khan Women's College</p>
                                    </td>
                                    <td width="142">
                                        <p>63</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0065</p>
                                    </td>
                                    <td width="378">
                                        <p>Rathinam College of Arts and Science</p>
                                    </td>
                                    <td width="142">
                                        <p>237</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0067</p>
                                    </td>
                                    <td width="378">
                                        <p>Sacred Heart College</p>
                                    </td>
                                    <td width="142">
                                        <p>47</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0069</p>
                                    </td>
                                    <td width="378">
                                        <p>Shri Ramdeobaba College of Engineering and Management</p>
                                    </td>
                                    <td width="142">
                                        <p>47</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0070</p>
                                    </td>
                                    <td width="378">
                                        <p>SRM Institute of Science and Technology</p>
                                    </td>
                                    <td width="142">
                                        <p>538</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0071</p>
                                    </td>
                                    <td width="378">
                                        <p>Sri Sivasubramaniya Nadar College of Engineering</p>
                                    </td>
                                    <td width="142">
                                        <p>104</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0072</p>
                                    </td>
                                    <td width="378">
                                        <p>Symbiosis International</p>
                                    </td>
                                    <td width="142">
                                        <p>120</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0073</p>
                                    </td>
                                    <td width="378">
                                        <p>Thapar Institute of Engineering and Technology</p>
                                    </td>
                                    <td width="142">
                                        <p>479</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0074</p>
                                    </td>
                                    <td width="378">
                                        <p>Shrimathi Devkunvar Nanalal Bhatt Vaishnav College for Women</p>
                                    </td>
                                    <td width="142">
                                        <p>47</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0075</p>
                                    </td>
                                    <td width="378">
                                        <p>Vel Tech Rangarajan Dr. Sagunthala R&amp;D Institute of Science and Technology</p>
                                    </td>
                                    <td width="142">
                                        <p>451</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0076</p>
                                    </td>
                                    <td width="378">
                                        <p>Vellore Institute of Technology</p>
                                    </td>
                                    <td width="142">
                                        <p>1140</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0077</p>
                                    </td>
                                    <td width="378">
                                        <p>Dr. Yashwant Singh Parmar University of Horticulture and Forestry</p>
                                    </td>
                                    <td width="142">
                                        <p>49</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0083</p>
                                    </td>
                                    <td width="378">
                                        <p>KLE Academy of Higher Education and Research</p>
                                    </td>
                                    <td width="142">
                                        <p>37</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0086</p>
                                    </td>
                                    <td width="378">
                                        <p>Amrita Vishwa Vidyapeetham</p>
                                    </td>
                                    <td width="142">
                                        <p>1883</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0087</p>
                                    </td>
                                    <td width="378">
                                        <p>University of Hyderabad</p>
                                    </td>
                                    <td width="142">
                                        <p>3</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0089</p>
                                    </td>
                                    <td width="378">
                                        <p>St. Xavier's College</p>
                                    </td>
                                    <td width="142">
                                        <p>23</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0091</p>
                                    </td>
                                    <td width="378">
                                        <p>Bharati Vidyapeeth (Deemed to be University)</p>
                                    </td>
                                    <td width="142">
                                        <p>146</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0094</p>
                                    </td>
                                    <td width="378">
                                        <p>Shiv Nadar University</p>
                                    </td>
                                    <td width="142">
                                        <p>5</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0096</p>
                                    </td>
                                    <td width="378">
                                        <p>Indian Institute of Information Technology, Design and Manufacturing, Jabalpur</p>
                                    </td>
                                    <td width="142">
                                        <p>12</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0097</p>
                                    </td>
                                    <td width="378">
                                        <p>Institute of Chemical Technology</p>
                                    </td>
                                    <td width="142">
                                        <p>9</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0099</p>
                                    </td>
                                    <td width="378">
                                        <p>Indian Institute of Management Indore</p>
                                    </td>
                                    <td width="142">
                                        <p>1</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0100</p>
                                    </td>
                                    <td width="378">
                                        <p>J. B. College of Science</p>
                                    </td>
                                    <td width="142">
                                        <p>36</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0101</p>
                                    </td>
                                    <td width="378">
                                        <p>Indian Institute of Technology Kharagpur</p>
                                    </td>
                                    <td width="142">
                                        <p>1</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0105</p>
                                    </td>
                                    <td width="378">
                                        <p>O. P. Jindal Global University</p>
                                    </td>
                                    <td width="142">
                                        <p>10</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0107</p>
                                    </td>
                                    <td width="378">
                                        <p>Hindustan Institute of Technology and Science</p>
                                    </td>
                                    <td width="142">
                                        <p>342</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0114</p>
                                    </td>
                                    <td width="378">
                                        <p>Jamia Hamdard</p>
                                    </td>
                                    <td width="142">
                                        <p>25</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0127</p>
                                    </td>
                                    <td width="378">
                                        <p>Tamil Nadu Agricultural University</p>
                                    </td>
                                    <td width="142">
                                        <p>62</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0128</p>
                                    </td>
                                    <td width="378">
                                        <p>Tata Institute of Social Sciences</p>
                                    </td>
                                    <td width="142">
                                        <p>53</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0136</p>
                                    </td>
                                    <td width="378">
                                        <p>Bharathiar University</p>
                                    </td>
                                    <td width="142">
                                        <p>44</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0137</p>
                                    </td>
                                    <td width="378">
                                        <p>Guru Nanak Dev University</p>
                                    </td>
                                    <td width="142">
                                        <p>408</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0138</p>
                                    </td>
                                    <td width="378">
                                        <p>Sri Ramakrishna College of Arts and Science</p>
                                    </td>
                                    <td width="142">
                                        <p>118</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0141</p>
                                    </td>
                                    <td width="378">
                                        <p>Indian Institute of Management Kozhikode</p>
                                    </td>
                                    <td width="142">
                                        <p>1</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0144</p>
                                    </td>
                                    <td width="378">
                                        <p>C. V. Raman College of Engineering</p>
                                    </td>
                                    <td width="142">
                                        <p>259</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0153</p>
                                    </td>
                                    <td width="378">
                                        <p>Indian Institute of Technology Guwahati</p>
                                    </td>
                                    <td width="142">
                                        <p>4</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0154</p>
                                    </td>
                                    <td width="378">
                                        <p>Indian Institute of Technology Hyderabad</p>
                                    </td>
                                    <td width="142">
                                        <p>9</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0159</p>
                                    </td>
                                    <td width="378">
                                        <p>National Institute of Technology Durgapur</p>
                                    </td>
                                    <td width="142">
                                        <p>2</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0161</p>
                                    </td>
                                    <td width="378">
                                        <p>Dr. B.R. Ambedkar National Institute of Technology</p>
                                    </td>
                                    <td width="142">
                                        <p>38</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0163</p>
                                    </td>
                                    <td width="378">
                                        <p>National Institute of Technology Kurukshetra</p>
                                    </td>
                                    <td width="142">
                                        <p>5</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0175</p>
                                    </td>
                                    <td width="378">
                                        <p>National Institute of Technology Puducherry</p>
                                    </td>
                                    <td width="142">
                                        <p>5</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0176</p>
                                    </td>
                                    <td width="378">
                                        <p>National Institute of Technology Andhra Pradesh</p>
                                    </td>
                                    <td width="142">
                                        <p>5</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0177</p>
                                    </td>
                                    <td width="378">
                                        <p>National Institute of Technology Rourkela</p>
                                    </td>
                                    <td width="142">
                                        <p>44</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0178</p>
                                    </td>
                                    <td width="378">
                                        <p>National Institute of Technology Warangal</p>
                                    </td>
                                    <td width="142">
                                        <p>111</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0179</p>
                                    </td>
                                    <td width="378">
                                        <p>ISB Hyderabad</p>
                                    </td>
                                    <td width="142">
                                        <p>9</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0180</p>
                                    </td>
                                    <td width="378">
                                        <p>Indian Institute of Science Education &amp; Research Kolkata</p>
                                    </td>
                                    <td width="142">
                                        <p>10</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0182</p>
                                    </td>
                                    <td width="378">
                                        <p>Pandit Deendayal Petroleum University</p>
                                    </td>
                                    <td width="142">
                                        <p>510</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0183</p>
                                    </td>
                                    <td width="378">
                                        <p>Bannari Amman Institute of Technology</p>
                                    </td>
                                    <td width="142">
                                        <p>71</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0192</p>
                                    </td>
                                    <td width="378">
                                        <p>Jain University</p>
                                    </td>
                                    <td width="142">
                                        <p>8068</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0204</p>
                                    </td>
                                    <td width="378">
                                        <p>Sri Ramakrishna Engineering College</p>
                                    </td>
                                    <td width="142">
                                        <p>47</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0205</p>
                                    </td>
                                    <td width="378">
                                        <p>CMR Institute of Technology</p>
                                    </td>
                                    <td width="142">
                                        <p>144</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0206</p>
                                    </td>
                                    <td width="378">
                                        <p>DKTE Society's Textile &amp; Engineering Institute</p>
                                    </td>
                                    <td width="142">
                                        <p>22</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0207</p>
                                    </td>
                                    <td width="378">
                                        <p>Marwadi Education Foundation's Group of Institute</p>
                                    </td>
                                    <td width="142">
                                        <p>2334</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0208</p>
                                    </td>
                                    <td width="378">
                                        <p>Andhra University</p>
                                    </td>
                                    <td width="142">
                                        <p>783</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0209</p>
                                    </td>
                                    <td width="378">
                                        <p>B. M. S. College of Engineering</p>
                                    </td>
                                    <td width="142">
                                        <p>66</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0213</p>
                                    </td>
                                    <td width="378">
                                        <p>Rajagiri College of Social Sciences</p>
                                    </td>
                                    <td width="142">
                                        <p>56</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0216</p>
                                    </td>
                                    <td width="378">
                                        <p>Acharya &amp; B M Reddy College of Pharmacy</p>
                                    </td>
                                    <td width="142">
                                        <p>8</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0217</p>
                                    </td>
                                    <td width="378">
                                        <p>Ayya Nadar Janaki Ammal College</p>
                                    </td>
                                    <td width="142">
                                        <p>6</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0219</p>
                                    </td>
                                    <td width="378">
                                        <p>Manipal Academy of Higher Education</p>
                                    </td>
                                    <td width="142">
                                        <p>273</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0223</p>
                                    </td>
                                    <td width="378">
                                        <p>Indian Institute of Management Bangalore</p>
                                    </td>
                                    <td width="142">
                                        <p>5</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0225</p>
                                    </td>
                                    <td width="378">
                                        <p>St. Teresa's College</p>
                                    </td>
                                    <td width="142">
                                        <p>30</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0226</p>
                                    </td>
                                    <td width="378">
                                        <p>Indian Institute of Management Udaipur</p>
                                    </td>
                                    <td width="142">
                                        <p>1</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0228</p>
                                    </td>
                                    <td width="378">
                                        <p>Siksha 'O' Anusandhan</p>
                                    </td>
                                    <td width="142">
                                        <p>881</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0229</p>
                                    </td>
                                    <td width="378">
                                        <p>Indian Institute of Information Technology Sri City</p>
                                    </td>
                                    <td width="142">
                                        <p>8</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0230</p>
                                    </td>
                                    <td width="378">
                                        <p>Indian Institute of Management Calcutta</p>
                                    </td>
                                    <td width="142">
                                        <p>2</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0231</p>
                                    </td>
                                    <td width="378">
                                        <p>Indian Institute of Information Technology Vadodara</p>
                                    </td>
                                    <td width="142">
                                        <p>36</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0245</p>
                                    </td>
                                    <td width="378">
                                        <p>Birla Institute of Management Technology</p>
                                    </td>
                                    <td width="142">
                                        <p>20</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0248</p>
                                    </td>
                                    <td width="378">
                                        <p>Indian Institute of Management Sirmaur</p>
                                    </td>
                                    <td width="142">
                                        <p>0</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0249</p>
                                    </td>
                                    <td width="378">
                                        <p>Indian Institute of Technology Bhilai</p>
                                    </td>
                                    <td width="142">
                                        <p>0</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0250</p>
                                    </td>
                                    <td width="378">
                                        <p>JSS Academy of Higher Education &amp; Research</p>
                                    </td>
                                    <td width="142">
                                        <p>0</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0251</p>
                                    </td>
                                    <td width="378">
                                        <p>Koneru Lakshmaiah Education Foundation (Deemed to be University)</p>
                                    </td>
                                    <td width="142">
                                        <p>3668</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0252</p>
                                    </td>
                                    <td width="378">
                                        <p>Maharshi Dayanand University</p>
                                    </td>
                                    <td width="142">
                                        <p>48</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0253</p>
                                    </td>
                                    <td width="378">
                                        <p>Rajiv Gandhi Institute Of Petroleum Technology</p>
                                    </td>
                                    <td width="142">
                                        <p>10</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0254</p>
                                    </td>
                                    <td width="378">
                                        <p>Savitribai Phule Pune University</p>
                                    </td>
                                    <td width="142">
                                        <p>330</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0258</p>
                                    </td>
                                    <td width="378">
                                        <p>St. Joseph's College</p>
                                    </td>
                                    <td width="142">
                                        <p>76</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0261</p>
                                    </td>
                                    <td width="378">
                                        <p>Indian Institute of Management Bodh Gaya</p>
                                    </td>
                                    <td width="142">
                                        <p>1</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0262</p>
                                    </td>
                                    <td width="378">
                                        <p>Indian Institute of Technology Tirupati</p>
                                    </td>
                                    <td width="142">
                                        <p>22</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0263</p>
                                    </td>
                                    <td width="378">
                                        <p>CMS College of Science and Commerce</p>
                                    </td>
                                    <td width="142">
                                        <p>203</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="104">
                                        <p>SII-I-0264</p>
                                    </td>
                                    <td width="378">
                                        <p>Chandigarh University</p>
                                    </td>
                                    <td width="142">
                                        <p>161</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        
                    </div>
                </div>
                <div class="col-sm-12 wow fadeInLeft" style="display:none;">
                    <div class="section-title">
                        <h2 class="text-center blue-text">Institutes offering fee waiver</h2>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr style="border-bottom:4px solid #f68522;">
                                <th style="background:#1F3486;color:#ffffff;border-right:1px solid #6577BF;">InstituteID</th>
                                <th style="background:#1F3486;color:#ffffff;border-right:1px solid #6577BF;">Institute Name</th>
                                <th style="background:#1F3486;color:#ffffff;">Fee waiver</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                SIIRepository.FrontPanel.InstituteSearchRepository _objRepo = new SIIRepository.FrontPanel.InstituteSearchRepository();
                                System.Data.DataSet _ds = _objRepo.SELECT_FEEWAIVER_WEBSITE();
                                if (_ds != null)
                                {
                                    if (_ds.Tables[0].Rows.Count > 0)
                                    {
                                        foreach (System.Data.DataRow _dr in _ds.Tables[0].Rows)
                                        {
                                            <tr>
                                                <td>@_dr["InstituteId"].ToString()</td>
                                                <td>@_dr["InstituteName"].ToString()</td>
                                                <td>@_dr["SeatForForeignStudent"].ToString()</td>
                                            </tr>
                                        }
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section styles{
    <style>
        .table-striped > tbody > tr:nth-of-type(2n+1) {
            background-color: #ffd2b2;
        }
    </style>
}