
@{
    ViewBag.Title = "IndSAT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="sliderTopTitle">
    <div class="container">
        <div class="row">
            <h4>IND-SAT</h4>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class=""> <img src="~/img/ind_sat.jpg" class="img-responsive" /> </div>
<div class="service-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                <div class="section-title indSat_section">
                    <div class="mt20">
                        <p class="text-justify">The Indian Scholastic Assessment or IND-SAT is a standardized online proctored test for students seeking scholarships with Study in India (SII). This exam is to gauge the capability and tenacity of students applying to study in India. The IND-SAT scores will serve as a criterion to shortlist the meritorious students for the allocation of scholarships. </p>
                        <p class="text-justify">The student would be notified regarding the Ind-SAT Exam via emails. Details on the same would be available on the SII portal and Student Dashboard too. </p>
                        <p class="text-justify">The medium of the paper would be in English. It is a multiple-choice objective paper, timed at 90 minutes. The students will be assessed in the given areas - Verbal, Quantitative and Logical Reasoning </p>
                        <p class="text-justify">While applying, candidates will be allocated available centers in their country. Candidates who have applied for this exam can take a mock test before the main examination. </p>
                        @*<p class="text-justify">Please note, students who wish to appear for the Ind-SAT exam must submit their application form for the Ind-SAT, latest by April 15, 2020.</p>*@
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                <div class="accordion panel-group" id="accordion">
                    <div class="panel panel-default indSat_collapse">
                        <div class="panel-heading active">
                            <h4 class="panel-title col-md-6 p0">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    Syllabus for IND - SAT <i class="more-less  fa fa-plus"></i>
                                </a>
                            </h4>
                        </div>
                        <!-- /.panel-heading -->
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body indSat_collapse-body">
                                <p class="text-justify">Section-wise detailed syllabus is as follows</p>
                                <p class="text-justify"><strong>Verbal Reasoning</strong></p>
                                <p class="text-justify">Reading comprehension, Fill in the blanks, Grammar, Paragraph completion and inference, Parajumbles, Analogies, Antonyms, Synonyms, One-word substitution, Sentence correction, Idioms &amp; Phrases.</p>
                                <p class="text-justify"><strong>Quantitative Aptitude</strong></p>
                                <p class="text-justify">Algebra, Averages, Equations - Linear &amp; Quadratic, Geometry, HCF &amp; LCM, Number System, Partnership, Percentages, Progressions - Arithmetic, Geometry, Profit and Loss, Ratios and Proportions, Time-Speed-Distance, Work and Time, Interest.</p>
                                <p class="text-justify"><strong>Logical Reasoning</strong></p>
                                <p class="text-justify">Seating Arrangements, Blood Relations, Direction sense, Series/Sequencing, Syllogism, Venn diagrams, Rankings, Puzzles, Coding &amp; Decoding.</p>
                            </div>
                        </div>
                        <!-- /#collapseOne -->
                    </div>
                    <div class="panel panel-default indSat_collapse">
                        <div class="panel-heading">
                            <h4 class="panel-title col-md-6 p0">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    Ind - SAT Examination Pattern  <i class="more-less  fa fa-plus"></i>
                                </a>
                            </h4>
                        </div>
                        <!-- /.panel-heading -->
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body indSat_collapse-body">
                                <table class="table table-bordered" style="width:60%;">
                                    <thead>
                                        <tr>
                                            <th>Institute Id</th>
                                            <th colspan="2">Details </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td rowspan="2">
                                                <p>Mode of Examination </p>
                                                <p>Duration of Examination </p>
                                                <p>Type of question </p>
                                                <p>Medium of question papers </p>
                                                <p>Subject-wise distribution of questions   </p>
                                            </td>
                                            <td>
                                                <p>Online Proctored</p>
                                                <p>90 minutes</p>
                                                <p>Objective – Multiple-Choice Questions</p>
                                                <p>English</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding:0px;">
                                                <table class="table table-bordered" style="margin-bottom:0px;">
                                                    <thead>
                                                        <tr>
                                                            <th>Subject</th>
                                                            <th width="35%">No. of Questions </th>
                                                            <th>Marks</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <p>Verbal</p>
                                                                <p>Quant</p>
                                                                <p>Logical</p>
                                                                <p>Total</p>
                                                                <p><strong>Correct answer </strong></p>
                                                                <p><strong>Correct answer</strong></p>
                                                                <p><strong>Wrong answer</strong></p>
                                                                <p><strong>Unattempted questions</strong></p>
                                                            </td>
                                                            <td>
                                                                <p>40</p>
                                                                <p>25</p>
                                                                <p>25</p>
                                                                <p>90</p>
                                                                <p></p>
                                                                <p></p>
                                                                <p></p>
                                                                <p></p>
                                                            </td>
                                                            <td>
                                                                <p>40</p>
                                                                <p>25</p>
                                                                <p>25</p>
                                                                <p>90</p>
                                                                <p><strong>1</strong></p>
                                                                <p><strong>1</strong></p>
                                                                <p><strong>0</strong></p>
                                                                <p><strong>0</strong></p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /#collapseTwo -->
                    </div>
                    <div class="panel panel-default indSat_collapse">
                        <div class="panel-heading">
                            <h4 class="panel-title col-md-6 p0">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    IND-SAT 2020 Updates <i class="more-less  fa fa-plus"></i>
                                </a>
                            </h4>
                        </div>
                        <!-- /.panel-heading -->
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body indSat_collapse-body">
                                <p class="text-justify">
                                    The Ind-SAT 2020 exam is scheduled to take place on May 30, 2020 across the following countries - Bangladesh, Bhutan, Ethiopia, India, Indonesia, Kenya, Mauritius, Nepal, Rwanda, Sri Lanka, Tanzania, Uganda and Zambia.
                                </p>
                                <p class="text-justify">You are required to take the online proctored assessment for the Study in India scholarship on a desktop or your laptop.</p>
                                <h2>INSTRUCTIONS TO CANDIDATES </h2>
                                <h3>For conduct of Mock Test and Ind-SAT 2020 Examination </h3>
                                <ol>
                                    <li>The candidate is advised to access the examination link at the stipulated time as mentioned in the invitation email.</li>
                                    <li>Candidate needs to ensure facing camera all the time during the exam, the candidate cannot take a break in between the exam.</li>
                                    <li>The candidate is advised to take the assessment on a laptop or desktop only, equipped with a Windows Operating System.</li>
                                    <li>We recommend using the latest version of Google Chrome or Mozilla Firefox for seamless experience</li>
                                    <li>Candidate needs to ensure; they have good and consistent internet connectivity of more than 500 kbps.</li>
                                    <li>
                                        On the registration page for the Ind-SAT Examination, you shall be required to enter the correct email address in the Login ID field to start the test. In case if you are not entering email address in correct format in the Login ID field you shall get a notification “Email address is not authorized for this test”.
                                        <p class="text-justify text-warning">The Correct format for the Email ID to login and start the Ind-SAT Mock test and Ind-SAT Examination is as follows:</p>
                                        <ul>
                                            <li>Email ID to Login and give the exam will be the numeric part of your SII ID followed by @@edcil.com. (i.e. your SII ID: SII-S-00XXXXX, will convert to Login ID as: 00XXXXX@edcil.com)</li>
                                            <li>For Example, if your SII ID is: SII-S-0012345, then your Login ID for the Ind-SAT Mock test and Ind-SAT Examination will be: <a href="mailto:0012345@edcil.com" style="color:#f68522">0012345@edcil.com</a></li>
                                            <li>All students can find their SII ID on the top of Student dashboard, when they login with their registered email Id at Study In India Portal: <a style="color:#f68522" href="https://studyinindia.gov.in/admission/Login">https://studyinindia.gov.in/admission/Login</a>.</li>
                                        </ul>
                                    </li>
                                    <li>
                                        You must keep a valid photo ID proof (attached during registration) handy before you start the test and during the test for authorization process. For the authorization process you must follow the below steps.
                                        <ol style="list-style-type:lower-alpha;">
                                            <li>First you have to capture your own snapshot and kindly ensure that the snapshot must be clearly visible</li>
                                            <li>Secondly, you have to capture the snapshot of a valid Id proof in such a way so that the name and the photo on the ID card should be clearly visible</li>
                                            <li>In case we do not receive photo and snapshot clearly with details, the candidate shall be asked to resubmit them again</li>
                                            <li>We request you to be patient and cooperative as this is an extremely important process</li>
                                        </ol>
                                    </li>
                                    <li>Ensure that the candidate face is visible properly and there should be sufficient light in the room.</li>
                                    <li>Candidates are not allowed to use google or any other search engine to surf the option. </li>
                                    <li>Candidate is not required to wear a headphone.</li>
                                    <li>It is a closed book exam. Candidates are not allowed to use any reference material.</li>
                                    <li>Candidates must not move away from their seat during the course of their exam.</li>
                                    <li>Candidates must not talk during the entire duration of examination.</li>
                                    <li>Candidate must not read the questions aloud.</li>
                                    <li>Candidates are not allowed to have food & beverage during the exam except water.</li>
                                    <li>The candidate is advised not to toggle between the assessment console and other applications, else your system will get locked and the test will be canceled.</li>
                                    <li>Do not press F5 to refresh the assessment console during the examination else your system will get locked.</li>
                                    <li>Candidate needs to ensure no other person is in the room or else your exam will be cancelled.</li>
                                    <li>No Candidate should adopt any unfair means, or indulge in any unfair examination practices.  </li>
                                    <li>Use of any electronic device, mobile phones or any other electronic devices, calculator and rough sheet is prohibited during the test, shall entitle cancellation of your test. </li>
                                    <li>The Candidature of Candidates in case of impersonation will be automatically cancelled without any notice.</li>
                                    <li>Candidate needs to ensure they click the 'Finish Test' button at the end of the assessment.</li>
                                    <li>To authorize the Test the candidate is required to submit live face snapshot and a snapshot of Photo-ID Proof is required to match the candidature before start of test.</li>
                                    <li>The candidate is required to keep ready Valid Photo-ID of any one of the following documents and uploaded the same during Test Authorization process. </li>
                                    <li>(1) Passport, 2) Driving License, 3) Photo-ID issued by Local Govt. 4) Photo-ID Card issued by Institute where candidate is studying or has studied; 5) Photo-ID issued by an Employer (if candidate is employed); </li>
                                    <li>The Test shall be proctored, remotely. Keep a check on the chat window for any communications from the Proctor.</li>
                                    <li>The Candidate is required to follow the instructions of Proctor seriously. </li>
                                    <li>In case the Proctor finds any suspicious eye movements or any suspicious activities in the test environment, then the Proctor has the rights to ask the candidate to rotate the web camera 360 degrees, to check test environment.</li>
                                    <li>Warning on chat shall appear on candidate console on suspicious behavior. After repeated warnings from the Proctor, the Test shall be called off.</li>
                                    <li>Test of the candidate shall be paused, if any suspicious behaviour/activity is observed.</li>
                                    <li>For the benefit of candidate, a Mock test is scheduled on 27th May 2020. All candidates, in their own interest, are required to take the Mock Test otherwise they may find difficulity to take the final test.</li>
                                    <li>
                                        The Ind-SAT Mock Test timing is as under:
                                        <table class="table table-bordered" style="width:60%;">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p><strong>S. No</strong></p>
                                                    </td>
                                                    <td>
                                                        <p><strong>Country</strong></p>
                                                    </td>
                                                    <td>
                                                        <p><strong>Mock Test Date</strong></p>
                                                    </td>
                                                    <td>
                                                        <p><strong>Start Time (local time)</strong></p>
                                                    </td>
                                                    <td>
                                                        <p><strong>End Time (local time)</strong></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>1</p>
                                                    </td>
                                                    <td>
                                                        <p>Bangladesh</p>
                                                    </td>
                                                    <td>
                                                        <p>27-May-20</p>
                                                    </td>
                                                    <td>
                                                        <p>8:30 AM</p>
                                                    </td>
                                                    <td>
                                                        <p>11:30 PM</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>2</p>
                                                    </td>
                                                    <td>
                                                        <p>Bhutan</p>
                                                    </td>
                                                    <td>
                                                        <p>27-May-20</p>
                                                    </td>
                                                    <td>
                                                        <p>8:30 AM</p>
                                                    </td>
                                                    <td>
                                                        <p>11:30 PM</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>3</p>
                                                    </td>
                                                    <td>
                                                        <p>Ethiopia</p>
                                                    </td>
                                                    <td>
                                                        <p>27-May-20</p>
                                                    </td>
                                                    <td>
                                                        <p>5:30 AM</p>
                                                    </td>
                                                    <td>
                                                        <p>8:30 PM</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>4</p>
                                                    </td>
                                                    <td>
                                                        <p>India</p>
                                                    </td>
                                                    <td>
                                                        <p>27-May-20</p>
                                                    </td>
                                                    <td>
                                                        <p>8:00 AM</p>
                                                    </td>
                                                    <td>
                                                        <p>11:00 PM</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>5</p>
                                                    </td>
                                                    <td>
                                                        <p>Indonesia</p>
                                                    </td>
                                                    <td>
                                                        <p>27-May-20</p>
                                                    </td>
                                                    <td>
                                                        <p>9:30 AM</p>
                                                    </td>
                                                    <td>
                                                        <p>12:30 AM</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>6</p>
                                                    </td>
                                                    <td>
                                                        <p>Kenya</p>
                                                    </td>
                                                    <td>
                                                        <p>27-May-20</p>
                                                    </td>
                                                    <td>
                                                        <p>5:30 AM</p>
                                                    </td>
                                                    <td>
                                                        <p>8:30 PM</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>7</p>
                                                    </td>
                                                    <td>
                                                        <p>Mauritius</p>
                                                    </td>
                                                    <td>
                                                        <p>27-May-20</p>
                                                    </td>
                                                    <td>
                                                        <p>6:30 AM</p>
                                                    </td>
                                                    <td>
                                                        <p>9:30 PM</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>8</p>
                                                    </td>
                                                    <td>
                                                        <p>Nepal</p>
                                                    </td>
                                                    <td>
                                                        <p>27-May-20</p>
                                                    </td>
                                                    <td>
                                                        <p>8:15 AM</p>
                                                    </td>
                                                    <td>
                                                        <p>11:15 PM</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>9</p>
                                                    </td>
                                                    <td>
                                                        <p>Rwanda</p>
                                                    </td>
                                                    <td>
                                                        <p>27-May-20</p>
                                                    </td>
                                                    <td>
                                                        <p>4:30 AM</p>
                                                    </td>
                                                    <td>
                                                        <p>7:30 PM</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>10</p>
                                                    </td>
                                                    <td>
                                                        <p>Sri Lanka</p>
                                                    </td>
                                                    <td>
                                                        <p>27-May-20</p>
                                                    </td>
                                                    <td>
                                                        <p>8:00 AM</p>
                                                    </td>
                                                    <td>
                                                        <p>11:00 PM</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>11</p>
                                                    </td>
                                                    <td>
                                                        <p>Tanzania</p>
                                                    </td>
                                                    <td>
                                                        <p>27-May-20</p>
                                                    </td>
                                                    <td>
                                                        <p>5:30 AM</p>
                                                    </td>
                                                    <td>
                                                        <p>8:30 PM</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>12</p>
                                                    </td>
                                                    <td>
                                                        <p>Uganda</p>
                                                    </td>
                                                    <td>
                                                        <p>27-May-20</p>
                                                    </td>
                                                    <td>
                                                        <p>5:30 AM</p>
                                                    </td>
                                                    <td>
                                                        <p>8:30 PM</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>13</p>
                                                    </td>
                                                    <td>
                                                        <p>Zambia</p>
                                                    </td>
                                                    <td>
                                                        <p>27-May-20</p>
                                                    </td>
                                                    <td>
                                                        <p>4:30 AM</p>
                                                    </td>
                                                    <td>
                                                        <p>7:30 PM</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </li>
                                    <li>The Mock Test is to familiarise the candidates with the methodology of NTA-Ind-SAT Test; is to provide you with a session to experience the online platform in a manner as faced during final test, check all the system requirements for the platform. This will help you to solve any of the concerns/issues before the main assessment scheduled on 30th of May, shall find 90 Questions in the format as may appear in the final Test.</li>
                                    <li>A candidate can take Mock Test any number of times within the time allocated. This may make the candidate fully familiar with the conduct of final test.</li>
                                    <li>Before starting the test, please close all chat windows, screensaver, etc.</li>
                                    <li>The candidates are required to download the MSB (Mettl Secure Browser) from the button provided in the invitation email.</li>
                                    <li>Candidate Guide is accompanied, instructing candidate how to take the test. This shall be beneficial for Mock test & the Final test. </li>
                                    <li>The candidates will also receive a guide with all the details mentioned around the Software and Hardware requirement of the computer system which needs to be ensured before the examination. </li>
                                    <li>The candidates are requested to check the System’s Compatibility in advance through the button provided in the invitation email</li>
                                    <li>Final Test shall be conducted on 30th May 2020.</li>
                                    <li>
                                        Time for Final Ind-SAT 2020 Examination is as under:
                                        <h4>Shift-1 Ind-SAT 2020 Examination for PG applicants, all candidates</h4>
                                        <table class="table table-bordered" style="width:40%;">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p><strong>S No</strong></p>
                                                    </td>
                                                    <td>
                                                        <p><strong>Country</strong></p>
                                                    </td>
                                                    <td>
                                                        <p><strong>Test Time (local time)</strong></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>1</p>
                                                    </td>
                                                    <td>
                                                        <p>Bangladesh</p>
                                                    </td>
                                                    <td>
                                                        <p>1300 - 1430 hrs</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>2</p>
                                                    </td>
                                                    <td>
                                                        <p>Bhutan</p>
                                                    </td>
                                                    <td>
                                                        <p>1300 - 1430 hrs</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>3</p>
                                                    </td>
                                                    <td>
                                                        <p>Ethiopia</p>
                                                    </td>
                                                    <td>
                                                        <p>1000 - 1130 hrs</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>4</p>
                                                    </td>
                                                    <td>
                                                        <p>India</p>
                                                    </td>
                                                    <td>
                                                        <p>1230 - 1400 hrs</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>5</p>
                                                    </td>
                                                    <td>
                                                        <p>Indonesia</p>
                                                    </td>
                                                    <td>
                                                        <p>1400 - 1530 hrs</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>6</p>
                                                    </td>
                                                    <td>
                                                        <p>Kenya</p>
                                                    </td>
                                                    <td>
                                                        <p>1000 - 1130 hrs</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>7</p>
                                                    </td>
                                                    <td>
                                                        <p>Mauritius</p>
                                                    </td>
                                                    <td>
                                                        <p>1100 - 1230 hrs</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>8</p>
                                                    </td>
                                                    <td>
                                                        <p>Nepal</p>
                                                    </td>
                                                    <td>
                                                        <p>1245 - 1415 hrs</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>9</p>
                                                    </td>
                                                    <td>
                                                        <p>Rwanda</p>
                                                    </td>
                                                    <td>
                                                        <p>0900 - 1030 hrs</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>10</p>
                                                    </td>
                                                    <td>
                                                        <p>Sri Lanka</p>
                                                    </td>
                                                    <td>
                                                        <p>1230 - 1400 hrs</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>11</p>
                                                    </td>
                                                    <td>
                                                        <p>Tanzania</p>
                                                    </td>
                                                    <td>
                                                        <p>1000 - 1130 hrs</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>12</p>
                                                    </td>
                                                    <td>
                                                        <p>Uganda</p>
                                                    </td>
                                                    <td>
                                                        <p>1000 - 1130 hrs</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>13</p>
                                                    </td>
                                                    <td>
                                                        <p>Zambia</p>
                                                    </td>
                                                    <td>
                                                        <p>0900 - 1030 hrs</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <h4>Shift-1 Ind-SAT 2020 Examination for UG, Candidates from following countries</h4>
                                        <table class="table table-bordered" style="width:40%;">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p><strong>S No</strong></p>
                                                    </td>
                                                    <td>
                                                        <p><strong>Country</strong></p>
                                                    </td>
                                                    <td>
                                                        <p><strong>Test Time (local time)</strong></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Indonesia </td>
                                                    <td>1400 - 1530 Hrs</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Bangladesh</td>
                                                    <td>1300 - 1430 Hrs</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>India</td>
                                                    <td>1230 - 1400 Hrs</td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td>Nepal</td>
                                                    <td>1245 - 1415 Hrs</td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td>Mauritius</td>
                                                    <td>1100 - 1230 Hrs</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <h4>Shift-2 Ind-SAT 2020 Examination for UG, Candidates from following countries</h4>
                                        <table class="table table-bordered" style="width:40%;">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p><strong>S No</strong></p>
                                                    </td>
                                                    <td>
                                                        <p><strong>Country</strong></p>
                                                    </td>
                                                    <td>
                                                        <p><strong>Test Time (local time)</strong></p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Bhutan </td>
                                                    <td>1600 - 1730 Hrs</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Ethiopia</td>
                                                    <td>1300 - 1430 Hrs</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Kenya</td>
                                                    <td>1300 - 1430 Hrs</td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td>Rwanda</td>
                                                    <td>1200 - 1330 Hrs</td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td>Sri Lanka</td>
                                                    <td>1530 - 1700 Hrs</td>
                                                </tr>
                                                <tr>
                                                    <td>6</td>
                                                    <td>Tanzania</td>
                                                    <td>1300 - 1430 Hrs</td>
                                                </tr>
                                                <tr>
                                                    <td>7</td>
                                                    <td>Uganda</td>
                                                    <td>1300 - 1430 Hrs</td>
                                                </tr>
                                                <tr>
                                                    <td>8</td>
                                                    <td>Zambia</td>
                                                    <td>1200 - 1330 Hrs</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </li>
                                </ol>

                                <p class="text-justify">An IndSat support/Help Desk has been created. Candidates facing difficulty are requested to address their difficulty faced or help required and same shall be addressed. Contact us at</p>
                                <p class="text-justify">URL: <a href="https://outlook.office.com/mail/"  style="color:#f68522">https://outlook.office.com/mail/</a> & email ID as <a href="mailto:support.sii@nta.ac.in" style="color:#f68522">support.sii@nta.ac.in</a>,</p>

                                <p class="text-justify">Please be careful, this test is remotely invigilated by a proctor. If you do not adhere to the instructions, rules and regulations, the invigilator has a right to terminate your test</p>
                                <h4>IND-SAT MOCK TEST LINKS</h4>
                                <p class="text-justify">All the candidates from the countries Bangladesh, Bhutan, Ethiopia, India, Indonesia, Kenya, Mauritius, Nepal, Rwanda, Sri Lanka, Tanzania, Uganda and Zambia, who have given submitted their SII Application before 30th April 2020, on the portal are eligible to take the Ind-SAT Mock test and Ind-SAT 2020 Examination.</p>
                                <p class="text-justify">Ind-SAT Mock test is scheduled for 27th May 2020. And the links will only be active on 27th May 2020. All the eligible candidates can take the Mock test on 27th May 2020, anytime between 0800 - 2300hrs (IST). Below are the links for the Ind-SAT Mock test-</p>
                                <ul>
                                    <li>
                                        <h4>Ind-SAT Mock test link for PG applicants</h4>
                                        <p>Please copy and paste the below links in the address bar of a web browser (Preferably Mozilla Firefox or Google Chrome) to start the test</p>
                                        <p>Attempt 1: <a target="_blank" style="color:#f68522" href="https://tests.mettl.com/authenticateKey/1tpkr3kmww">https://tests.mettl.com/authenticateKey/1tpkr3kmww</a></p>
                                        <p>Attempt 2: <a target="_blank" style="color:#f68522" href="https://tests.mettl.com/authenticateKey/1tpkrdk8ao">https://tests.mettl.com/authenticateKey/1tpkrdk8ao</a></p>
                                        <p>Attempt 3: <a target="_blank" style="color:#f68522" href="https://tests.mettl.com/authenticateKey/1tpkrnjtog">https://tests.mettl.com/authenticateKey/1tpkrnjtog</a></p>
                                        <p>Attempt 4: <a target="_blank" style="color:#f68522" href="https://tests.mettl.com/authenticateKey/1tpkrxjf28">https://tests.mettl.com/authenticateKey/1tpkrxjf28</a></p>
                                        <p>Attempt 5: <a target="_blank" style="color:#f68522" href="https://tests.mettl.com/authenticateKey/1tpksf0phc">https://tests.mettl.com/authenticateKey/1tpksf0phc</a></p>
                                    </li>
                                    <li>
                                        <h4>Ind-SAT Mock test link for UG applicants</h4>
                                        <p>Please copy and paste the below links in the address bar of a web browser (Preferably Mozilla Firefox or Google Chrome) to start the test</p>
                                        <p>Attempt 1: <a target="_blank" style="color:#f68522" href="https://tests.mettl.com/authenticateKey/1tpkm1a1og">https://tests.mettl.com/authenticateKey/1tpkm1a1og</a></p>
                                        <p>Attempt 2: <a target="_blank" style="color:#f68522" href="https://tests.mettl.com/authenticateKey/1tpkmv8tts">https://tests.mettl.com/authenticateKey/1tpkmv8tts</a></p>
                                        <p>Attempt 3: <a target="_blank" style="color:#f68522" href="https://tests.mettl.com/authenticateKey/1tpkn7qbk0">https://tests.mettl.com/authenticateKey/1tpkn7qbk0</a></p>
                                        <p>Attempt 4: <a target="_blank" style="color:#f68522" href="https://tests.mettl.com/authenticateKey/1tpknk7ta8">https://tests.mettl.com/authenticateKey/1tpknk7ta8</a></p>
                                        <p>Attempt 5: <a target="_blank" style="color:#f68522" href="https://tests.mettl.com/authenticateKey/1tpknwpb0g">https://tests.mettl.com/authenticateKey/1tpknwpb0g</a></p>
                                    </li>
                                </ul>
                                <p class="text-justify">Link of the Ind-SAT 2020 Examination i.e. scheduled on 30th May 2020, will be shared shortly after the completion of Ind-SAT Mock test.</p>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /#collapseTwo -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="service-area section-padding mt20">
    <div class="container">
        <div class="row">
            <h2 class="text-center mb20"><strong>Related</strong></h2>
            <div class="clearfix"></div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="indSat_relatedBox">
                    <img src="~/img/rel_01.jpg" class="img-responsive" />
                    <div>
                        <h4>SII Scholarship</h4>
                        <p>The Indian Scholastic Assessment or IND-SAT <a href="~/scholarships/FeeWaiversandConcessions/Scholarship">More</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="indSat_relatedBox">
                    <img src="~/img/rel_02.jpg" class="img-responsive" />
                    <div>
                        <h4>
                            Fee Waivers
                        </h4>
                        <p>The Indian Scholastic Assessment or IND-SAT <a href="~/scholarships/FeeWaiversandConcessions/FeeWaiver">More</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="indSat_relatedBox">
                    <img src="~/img/rel_03.jpg" class="img-responsive" />
                    <div>
                        <h4>Tuition Fees &amp; Costs</h4>
                        <p>The Indian Scholastic Assessment or IND-SAT <a href="~/scholarships/FeeWaiversandConcessions/IndSAT">More</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        function toggleIcon(e) {
            $(e.target)
                .prev('.panel-heading')
                .find(".more-less")
                .toggleClass('fa-plus fa-times');
        }
        $('.panel-group').on('hidden.bs.collapse', toggleIcon);
        $('.panel-group').on('shown.bs.collapse', toggleIcon);
    </script>
    <script>
        $('.panel-heading a').click(function () {
            $('.panel-heading').removeClass('active');

            //If the panel was open and would be closed by this click, do not active it
            if (!$(this).closest('.panel').find('.panel-collapse').hasClass('in'))
                $(this).parents('.panel-heading').addClass('active');
        });

    </script>
}