
@{
    ViewBag.Title = "IndSAT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="sliderTopTitle">
    <div class="container">
        <div class="row">
            <h4>IND-SAT</h4>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class=""> <img src="~/img/ind_sat.jpg" class="img-responsive" /> </div>
<div class="service-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                <div class="section-title indSat_section">
                    <div class="mt20">
                        <h3>
                            <img src="~/img/new-gif.gif" width="50" /> Check the tutorial for insights into the end-to-end essentials to take the Ind-SAT 2020 mock test and main exam. <a href="https://youtu.be/U3oUvv5x0V4" target="_blank">Video Tutorial</a>.
                        </h3>
                        <h3>
                            <img src="~/img/new-gif.gif" width="50" /> Check your System Compatibility <a href="https://tests.mettl.com/system-check?i=1tpkr3kmww" target="_blank">Click Here</a>.
                        </h3>
                        <h3>
                            <img src="~/img/new-gif.gif" width="50" /> To appear for the Ind-SAT 2020 examination, please download MSB browser <a href="https://s3.ap-south-1.amazonaws.com/mettl-miscellaneous-public/prod/MSB/MSB.exe" target="_blank">here</a>.
                        </h3>
                        <h3>
                            <img src="~/img/new-gif.gif" width="50" /> Candidate Guide for Ind-SAT Examination 2020. <a href="~/PDF/MSB Candidate Guide_NTA copy.pdf" target="_blank">Candidate Guide</a>
                        </h3>
                        <h3>
                            Answer key for Ind-SAT Mock Test are available now:&nbsp;&nbsp;&nbsp;
                            <a href="~/PDF/IndSAT UG Mock Test.pdf" target="_blank"><strong>UG</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="~/PDF/IndSAT PG mock test.pdf" target="_blank"><strong>PG</strong></a>
                        </h3>
                        <p class="text-justify">The Indian Scholastic Assessment or Ind-SAT is a standardized online proctored test for students seeking scholarships with Study in India (SII). This exam is to gauge the capability and tenacity of students applying to study in India. The Ind-SAT scores will serve as a criterion to shortlist the meritorious students for the allocation of scholarships. Candidates who have applied for this exam can take a mock test before the main examination. </p>
                        <p class="text-justify">The medium of the paper would be in English. It is a multiple-choice objective paper, timed at 90 minutes. The students will be assessed in the given areas - Verbal, Quantitative and Logical Reasoning. </p>
                        @*<p class="text-justify">Please note, students who wish to appear for the Ind-SAT exam must submit their application form for the Ind-SAT, latest by April 15, 2020.</p>*@
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                <div class="accordion panel-group" id="accordion">
                    @*Syllabus for IND - SAT*@
                    <div class="panel panel-default indSat_collapse">
                        <div class="panel-heading active">
                            <h4 class="panel-title col-md-6 p0">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    Syllabus for IND - SAT <i class="more-less  fa fa-plus"></i>
                                </a>
                            </h4>
                        </div>
                        <!-- /.panel-heading -->
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body indSat_collapse-body">
                                <p class="text-justify">Section-wise detailed syllabus is as follows</p>
                                <p class="text-justify"><strong>Verbal Reasoning</strong></p>
                                <p class="text-justify">Reading comprehension, Fill in the blanks, Grammar, Paragraph completion and inference, Parajumbles, Analogies, Antonyms, Synonyms, One-word substitution, Sentence correction, Idioms &amp; Phrases.</p>
                                <p class="text-justify"><strong>Quantitative Aptitude</strong></p>
                                <p class="text-justify">Algebra, Averages, Equations - Linear &amp; Quadratic, Geometry, HCF &amp; LCM, Number System, Partnership, Percentages, Progressions - Arithmetic, Geometry, Profit and Loss, Ratios and Proportions, Time-Speed-Distance, Work and Time, Interest.</p>
                                <p class="text-justify"><strong>Logical Reasoning</strong></p>
                                <p class="text-justify">Seating Arrangements, Blood Relations, Direction sense, Series/Sequencing, Syllogism, Venn diagrams, Rankings, Puzzles, Coding &amp; Decoding.</p>
                            </div>
                        </div>
                        <!-- /#collapseOne -->
                    </div>
                    @*Ind - SAT Examination Pattern*@
                    <div class="panel panel-default indSat_collapse">
                        <div class="panel-heading">
                            <h4 class="panel-title col-md-6 p0">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    Ind - SAT Examination Pattern  <i class="more-less  fa fa-plus"></i>
                                </a>
                            </h4>
                        </div>
                        <!-- /.panel-heading -->
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body indSat_collapse-body">
                                <table class="table table-bordered" style="width:60%;">
                                    <tbody>
                                        <tr>
                                            <td rowspan="2">
                                                <p>Mode of Examination </p>
                                                <p>Duration of Examination </p>
                                                <p>Type of question </p>
                                                <p>Medium of question papers </p>
                                                <p>Subject-wise distribution of questions   </p>
                                            </td>
                                            <td>
                                                <p>Online Proctored</p>
                                                <p>90 minutes</p>
                                                <p>Objective – Multiple-Choice Questions</p>
                                                <p>English</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding:0px;">
                                                <table class="table table-bordered" style="margin-bottom:0px;">
                                                    <thead>
                                                        <tr>
                                                            <th>Subject</th>
                                                            <th width="35%">No. of Questions </th>
                                                            <th>Marks</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <p>Verbal</p>
                                                                <p>Quant</p>
                                                                <p>Logical</p>
                                                                <p>Total</p>
                                                                <p><strong>Correct answer </strong></p>
                                                                <p><strong>Wrong answer</strong></p>
                                                                <p><strong>Unattempted questions</strong></p>
                                                            </td>
                                                            <td>
                                                                <p>40</p>
                                                                <p>25</p>
                                                                <p>25</p>
                                                                <p>90</p>
                                                                <p></p>
                                                                <p></p>
                                                                <p></p>
                                                            </td>
                                                            <td>
                                                                <p>40</p>
                                                                <p>25</p>
                                                                <p>25</p>
                                                                <p>90</p>
                                                                <p><strong>1</strong></p>
                                                                <p><strong>0</strong></p>
                                                                <p><strong>0</strong></p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /#collapseTwo -->
                    </div>
                    @*Ind-SAT 2020 Mock Test*@
                    <div class="panel panel-default indSat_collapse">
                        <div class="panel-heading active">
                            <h4 class="panel-title col-md-6 p0">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    Ind-SAT 2020 Mock Test <i class="more-less  fa fa-plus"></i>
                                </a>
                            </h4>
                        </div>
                        <!-- /.panel-heading -->
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body indSat_collapse-body">
                                <p class="text-justify">The Ind-SAT 2020 Mock Test is to familiarise the candidates with the methodology of  the Ind-SAT Main Exam. It provides you with a session to experience the online platform to check all the system requirements for the examination. This will help you to solve any of the concerns/issues before the main Ind-SAT assessment. Candidates shall find 90 Questions in the format as in the main exam. A candidate can take the mock test any number of times within the time and date allocated. This allows the candidate familiarise with the conduct of the main exam. All candidates, in their own interest, are required to take the Mock Test, to avoid any issues or difficulties to take the main exam.</p>
                            </div>
                        </div>
                        <!-- /#collapseFour -->
                    </div>
                    @*Instructions for Candidates*@
                    <div class="panel panel-default indSat_collapse">
                        <div class="panel-heading active">
                            <h4 class="panel-title col-md-6 p0">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    Instructions for Candidates <i class="more-less  fa fa-plus"></i>
                                </a>
                            </h4>
                        </div>
                        <!-- /.panel-heading -->
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body indSat_collapse-body">
                                <p class="text-justify">You are required to take the online proctored assessment for the Study in India scholarship on a desktop or your laptop. The candidate is advised to access the examination link at the stipulated time as mentioned in the invitation email. All details mentioned about software and hardware requirements of the computer system has been made available with candidates as a Candidate Guide for their perusal. This shall be beneficial for Mock Test & Main Exam. Candidate needs to ensure they click the 'Finish Test' button at the end of the assessment.</p>
                                <p class="text-justify">Here are some instructions to follow while appearing for the Ind-SAT Mock Test and Ind-SAT Main Exam.</p>
                                <ol type="A">
                                    <li>
                                        <h4>System Compatibility</h4>
                                        <p class="text-justify">Candidates are requested to check for system compatibility in advance through the link provided in the email. Here are some other essentials for you to note.</p>
                                        <ol>
                                            <li>The candidate is advised to take the assessment on a laptop or desktop only, equipped with a Windows Operating System.</li>
                                            <li>We recommend using the latest version of Google Chrome or Mozilla Firefox for seamless experience</li>
                                            <li>Candidate needs to ensure, they have good and consistent internet connectivity of more than 500 kbps</li>
                                            <li>Before starting the test, close all chat windows, screensaver, etc.</li>
                                            <li>The candidates are required to download the MSB (Mettl Secure Browser) from the button provided in the invitation email.</li>
                                        </ol>
                                    </li>
                                    <li>
                                        <h4>Authorisation Process</h4>
                                        <p class="text-justify">After completing a system compatibility check, candidates are requested to check the following during the authorisation process in regards to login details and identification proof required.</p>
                                        <ol>
                                            <li>
                                                Candidates are required to keep handy and upload a valid Photo-ID (attached during registration) of any one of the following documents during the authorization process
                                                <ol type="a">
                                                    <li>Passport</li>
                                                    <li>Driving License (if any)</li>
                                                    <li>Photo-ID issued by Local Govt.</li>
                                                    <li>Photo-ID Card issued by Institute where candidate is studying or has studied</li>
                                                    <li>Photo-ID issued by an Employer (if candidate is employed)</li>
                                                    <li>Citizenship ID card</li>
                                                </ol>
                                            </li>
                                            <li>To authorize the test, the candidate should submit a live snapshot of his / her face which matches his / her Photo-ID Proof, before the start of the test</li>
                                            <li>
                                                For the authorization process you must follow the below steps.
                                                <ol type="a">
                                                    <li>Capture a live snapshot of your face and kindly ensure that the snapshot must be clearly visible</li>
                                                    <li>Secondly, you have to capture the snapshot of a valid ID proof in such a way so that the name and the photo on the ID card should be clearly visible</li>
                                                    <li>In case we do not receive the above snapshots with clear details, the candidate shall be asked to resubmit them again</li>
                                                    <li>We request you to be patient and cooperative as this is an extremely important process</li>
                                                </ol>
                                            </li>
                                            <li>
                                                On the registration page for the Ind-SAT Examination, you shall be required to enter the correct email address in the Login ID field to start the test. In case, you haven’t entered the email address in the correct format in the Login ID field, you shall get a notification “Email address is not authorized for this test”.
                                                <ol type="a">
                                                    <li>Email ID to login for the Ind-SAT 2020 mock test and main exam, is the 8-digit numeric part of the SII ID followed by @@edcil.com. For eg., if your SII ID is SII-S-00012345, then your Login ID will be <span style="color:#f68522">00012345@edcil.com</span>.</li>
                                                    <li>All students can find their SII ID on the top of the Student Dashboard, when they login with their registered email ID at the Study In India Portal: <a href="https://studyinindia.gov.in/admission/Login" style="color:#f68522">https://studyinindia.gov.in/admission/Login</a>.</li>
                                                </ol>
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        <h4>ONLINE PROCTORING</h4>
                                        <p class="text-justify">All candidates must note that this is an online-proctored test and examination, which will have a Proctor who shall keep check of your activities while you are appearing for the exams.</p>
                                        <ol>
                                            <li>The test shall be proctored remotely. Keep a check on the chat window for any communications from the Proctor.</li>
                                            <li>The Candidate is required to follow the instructions of Proctor seriously</li>
                                            <li>The candidate’s test shall be paused, if any suspicious behaviour/activity is observed</li>
                                            <li>In case the Proctor finds any suspicious eye movements or any suspicious activities in the test environment, then the Proctor has the right to ask the candidate to rotate the web camera 360 degrees to check the test environment. </li>
                                            <li>Despite repeated warnings from the Proctor about suspicious behaviour by the candidate, the test shall be called off.</li>
                                        </ol>
                                    </li>
                                    <li>
                                        <h4>DO’S AND DON'TS</h4>
                                        <p class="text-justify">To avoid any acts of suspicious behaviour, here are some guidelines to appear for the online-proctored test.</p>
                                        <ol>
                                            <li>Candidate needs to face the camera at all times during the exam.</li>
                                            <li>Ensure that the candidate face is visible properly and there should be sufficient light in the room.</li>
                                            <li>Candidates are not allowed to use Google or any other search engine to surf for options and answers</li>
                                            <li>It is a closed book exam. Candidates are not allowed to use any reference material. Candidates must not move away from their seat during the course of their exam. </li>
                                            <li>Use of any electronic device, mobile phones, calculator is prohibited during the test, and could result in cancellation of your test. However, candidates can use a single sheet for rough work.</li>
                                            <li>Candidates must not talk during the entire duration of examination.</li>
                                            <li>Candidate must not read the questions aloud.</li>
                                            <li>There are no breaks during the exam.</li>
                                            <li>Candidates are not required to wear headphones.</li>
                                            <li>Candidates are not allowed to have food & beverage during the exam except water.</li>
                                            <li>The candidate is advised not to toggle between the assessment console and other applications, else your system will get locked and the test will be canceled.</li>
                                            <li>Do not press F5 to refresh the assessment console during the examination else your system will get locked.</li>
                                            <li>Candidate needs to ensure no other person is in the room or else your exam will be cancelled.</li>
                                            <li>No candidate should adopt to any unfair means, or indulge in any unfair examination practices.</li>
                                            <li>The candidature of candidates will be automatically cancelled without any notice, in case of impersonation.</li>
                                        </ol>
                                    </li>
                                </ol>
                                <p class="text-justify">An Ind-Sat Support / Help Desk has been created for candidates facing any difficulty. Candidates are requested to address their issues faced or request help via the given communication lines – </p>
                                <p class="text-justify">URL: <a href="https://outlook.office.com/mail/" style="color:#f68522">https://outlook.office.com/mail/</a> & Email ID: <a href="mailto:support.sii@nta.ac.in" style="color:#f68522">support.sii@nta.ac.in</a></p>
                                <p class="text-justify">Please be careful, this test is remotely invigilated by a proctor. If you do not adhere to the instructions, rules and regulations, the invigilator has a right to terminate your test.</p>
                            </div>
                        </div>
                        <!-- /#collapseFour -->
                    </div>
                    @*IND-SAT 2020 Updates*@
                    <div class="panel panel-default indSat_collapse">
                        <div class="panel-heading">
                            <h4 class="panel-title col-md-6 p0">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                    IND-SAT 2020 Updates <i class="more-less  fa fa-plus"></i>
                                </a>
                            </h4>
                        </div>
                        <!-- /.panel-heading -->
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body indSat_collapse-body">
                                <p class="text-justify">
                                    The Ind-SAT 2020 exam will be conducted across the following countries - Bangladesh, Bhutan, Ethiopia, India, Indonesia, Kenya, Mauritius, Nepal, Rwanda, Sri Lanka, Tanzania, Uganda and Zambia. The Ind-SAT 2020 Main Exam is scheduled to take place in the first week of July 2020. Dates for the Ind-SAT 2020 (includes Mock Test and Main Exam) will be provided to students via email and shall also be uploaded on the website and Facebook.
                                </p>
                                <h3>COUNTRY-WISE TIME FOR FINAL IND-SAT 2020 EXAMINATION IS AS UNDER</h3>
                                <h4>Shift-1: Ind-SAT 2020 Examination for PG applicants, all candidates</h4>
                                <table class="table table-bordered" style="width:40%;">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <p><strong>S No</strong></p>
                                            </td>
                                            <td>
                                                <p><strong>Country</strong></p>
                                            </td>
                                            <td>
                                                <p><strong>Test Time (local time)</strong></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>1</p>
                                            </td>
                                            <td>
                                                <p>Bangladesh</p>
                                            </td>
                                            <td>
                                                <p>01:00 PM- 02:30 PM</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>2</p>
                                            </td>
                                            <td>
                                                <p>Bhutan</p>
                                            </td>
                                            <td>
                                                <p>01:00 PM- 02:30 PM</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>3</p>
                                            </td>
                                            <td>
                                                <p>Ethiopia</p>
                                            </td>
                                            <td>
                                                <p>10:00 AM- 11:30 AM</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>4</p>
                                            </td>
                                            <td>
                                                <p>India</p>
                                            </td>
                                            <td>
                                                <p>12:30 PM- 02:00 PM</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>5</p>
                                            </td>
                                            <td>
                                                <p>Indonesia</p>
                                            </td>
                                            <td>
                                                <p>02:00 PM- 03:30 PM</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>6</p>
                                            </td>
                                            <td>
                                                <p>Kenya</p>
                                            </td>
                                            <td>
                                                <p>10:00 AM- 11:30 AM</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>7</p>
                                            </td>
                                            <td>
                                                <p>Mauritius</p>
                                            </td>
                                            <td>
                                                <p>11:00 AM- 12:30 PM</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>8</p>
                                            </td>
                                            <td>
                                                <p>Nepal</p>
                                            </td>
                                            <td>
                                                <p>12:45 PM- 14:15 PM</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>9</p>
                                            </td>
                                            <td>
                                                <p>Rwanda</p>
                                            </td>
                                            <td>
                                                <p>09:00 AM- 10:30 AM</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>10</p>
                                            </td>
                                            <td>
                                                <p>Sri Lanka</p>
                                            </td>
                                            <td>
                                                <p>12:30 PM- 02:00 PM</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>11</p>
                                            </td>
                                            <td>
                                                <p>Tanzania</p>
                                            </td>
                                            <td>
                                                <p>10:00 AM- 11:30 AM</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>12</p>
                                            </td>
                                            <td>
                                                <p>Uganda</p>
                                            </td>
                                            <td>
                                                <p>10:00 AM- 11:30 AM</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>13</p>
                                            </td>
                                            <td>
                                                <p>Zambia</p>
                                            </td>
                                            <td>
                                                <p>09:00 AM- 10:30 AM</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <h4>Shift-1: Ind-SAT 2020 Examination for UG, Candidates from following countries</h4>
                                <table class="table table-bordered" style="width:40%;">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <p><strong>S No</strong></p>
                                            </td>
                                            <td>
                                                <p><strong>Country</strong></p>
                                            </td>
                                            <td>
                                                <p><strong>Test Time (local time)</strong></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>1</p>
                                            </td>
                                            <td>
                                                <p>Indonesia</p>
                                            </td>
                                            <td>
                                                <p>02:00 PM- 03:30 PM</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>2</p>
                                            </td>
                                            <td>
                                                <p>Bangladesh</p>
                                            </td>
                                            <td>
                                                <p>01:00 PM- 02:30 PM</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>3</p>
                                            </td>
                                            <td>
                                                <p>India</p>
                                            </td>
                                            <td>
                                                <p>12:30 PM- 02:00 PM</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>4</p>
                                            </td>
                                            <td>
                                                <p>Nepal</p>
                                            </td>
                                            <td>
                                                <p>12:45 PM- 02:15 PM</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>5</p>
                                            </td>
                                            <td>
                                                <p>Mauritius</p>
                                            </td>
                                            <td>
                                                <p>11:00 AM- 12:30 PM</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <h4>Shift-2 Ind-SAT 2020 Examination for UG, Candidates from following countries</h4>
                                <table class="table table-bordered" style="width:40%;">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <p><strong>S No</strong></p>
                                            </td>
                                            <td>
                                                <p><strong>Country</strong></p>
                                            </td>
                                            <td>
                                                <p><strong>Test Time (local time)</strong></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>1</p>
                                            </td>
                                            <td>
                                                <p>Bhutan</p>
                                            </td>
                                            <td>
                                                <p>04:00 PM- 05:30 PM</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>2</p>
                                            </td>
                                            <td>
                                                <p>Ethiopia</p>
                                            </td>
                                            <td>
                                                <p>01:00 PM- 02:30 PM</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>3</p>
                                            </td>
                                            <td>
                                                <p>Kenya</p>
                                            </td>
                                            <td>
                                                <p>01:00 PM- 02:30 PM</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>4</p>
                                            </td>
                                            <td>
                                                <p>Rwanda</p>
                                            </td>
                                            <td>
                                                <p>12:00 PM &ndash; 01:30 PM</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>5</p>
                                            </td>
                                            <td>
                                                <p>Sri Lanka</p>
                                            </td>
                                            <td>
                                                <p>03:30 PM- 05:00 PM</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>6</p>
                                            </td>
                                            <td>
                                                <p>Tanzania</p>
                                            </td>
                                            <td>
                                                <p>01:00 PM- 02:30 PM</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>7</p>
                                            </td>
                                            <td>
                                                <p>Uganda</p>
                                            </td>
                                            <td>
                                                <p>01:00 PM- 02:30 PM</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>8</p>
                                            </td>
                                            <td>
                                                <p>Zambia</p>
                                            </td>
                                            <td>
                                                <p>12:00 PM &ndash; 01:30 PM</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <h3>IND-SAT 2020 MOCK TEST</h3>
                                <p class="text-justify">All the candidates from the countries Bangladesh, Bhutan, Ethiopia, India, Indonesia, Kenya, Mauritius, Nepal, Rwanda, Sri Lanka, Tanzania, Uganda and Zambia, who have submitted their SII Application before 30th April 2020, on the portal are eligible to take the Ind-SAT Mock test and Ind-SAT 2020 Examination.</p>
                                <p class="text-justify">The next Ind-SAT Mock test is scheduled for June 16, 2020 and the links will only be active on 16th June 2020. All eligible candidates can take the mock test on June 16, 2020, anytime between 08:00 AM – 11:00 PM (IST).</p>
                                <h4>The Ind-SAT 2020 Mock Test country-wise timings are as under:</h4>
                                <table class="table table-bordered" style="width:40%;">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <p><strong>S. No</strong></p>
                                            </td>
                                            <td>
                                                <p><strong>Country</strong></p>
                                            </td>
                                            <td>
                                                <p><strong>Start Time (local time)</strong></p>
                                            </td>
                                            <td>
                                                <p><strong>End Time (local time)</strong></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>1</p>
                                            </td>
                                            <td>
                                                <p>Bangladesh</p>
                                            </td>
                                            <td>
                                                <p>8:30 AM</p>
                                            </td>
                                            <td>
                                                <p>11:30 PM</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>2</p>
                                            </td>
                                            <td>
                                                <p>Bhutan</p>
                                            </td>
                                            <td>
                                                <p>8:30 AM</p>
                                            </td>
                                            <td>
                                                <p>11:30 PM</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>3</p>
                                            </td>
                                            <td>
                                                <p>Ethiopia</p>
                                            </td>
                                            <td>
                                                <p>5:30 AM</p>
                                            </td>
                                            <td>
                                                <p>8:30 PM</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>4</p>
                                            </td>
                                            <td>
                                                <p>India</p>
                                            </td>
                                            <td>
                                                <p>8:00 AM</p>
                                            </td>
                                            <td>
                                                <p>11:00 PM</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>5</p>
                                            </td>
                                            <td>
                                                <p>Indonesia</p>
                                            </td>
                                            <td>
                                                <p>9:30 AM</p>
                                            </td>
                                            <td>
                                                <p>12:30 AM</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>6</p>
                                            </td>
                                            <td>
                                                <p>Kenya</p>
                                            </td>
                                            <td>
                                                <p>5:30 AM</p>
                                            </td>
                                            <td>
                                                <p>8:30 PM</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>7</p>
                                            </td>
                                            <td>
                                                <p>Mauritius</p>
                                            </td>
                                            <td>
                                                <p>6:30 AM</p>
                                            </td>
                                            <td>
                                                <p>9:30 PM</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>8</p>
                                            </td>
                                            <td>
                                                <p>Nepal</p>
                                            </td>
                                            <td>
                                                <p>8:15 AM</p>
                                            </td>
                                            <td>
                                                <p>11:15 PM</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>9</p>
                                            </td>
                                            <td>
                                                <p>Rwanda</p>
                                            </td>
                                            <td>
                                                <p>4:30 AM</p>
                                            </td>
                                            <td>
                                                <p>7:30 PM</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>10</p>
                                            </td>
                                            <td>
                                                <p>Sri Lanka</p>
                                            </td>
                                            <td>
                                                <p>8:00 AM</p>
                                            </td>
                                            <td>
                                                <p>11:00 PM</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>11</p>
                                            </td>
                                            <td>
                                                <p>Tanzania</p>
                                            </td>
                                            <td>
                                                <p>5:30 AM</p>
                                            </td>
                                            <td>
                                                <p>8:30 PM</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>12</p>
                                            </td>
                                            <td>
                                                <p>Uganda</p>
                                            </td>
                                            <td>
                                                <p>5:30 AM</p>
                                            </td>
                                            <td>
                                                <p>8:30 PM</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>13</p>
                                            </td>
                                            <td>
                                                <p>Zambia</p>
                                            </td>
                                            <td>
                                                <p>4:30 AM</p>
                                            </td>
                                            <td>
                                                <p>7:30 PM</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <p class="text-justify">Below are the links for the Ind-SAT Mock test.</p>
                                <h3>Ind-SAT Mock test link for UG applicants</h3>
                                <p class="text-justify">Please copy and paste the below links in the address bar of a web browser (Preferably Mozilla Firefox or Google Chrome) to start the test</p>
                                <ul>
                                    <li>Attempt 1: <a target="_blank" style="color:#f68522" href="https://tests.mettl.com/authenticateKey/1w623jxd6o">https://tests.mettl.com/authenticateKey/1w623jxd6o</a></li>
                                    <li>Attempt 2: <a target="_blank" style="color:#f68522" href="https://tests.mettl.com/authenticateKey/1w625lvaio">https://tests.mettl.com/authenticateKey/1w625lvaio</a></li>
                                    <li>Attempt 3: <a target="_blank" style="color:#f68522" href="https://tests.mettl.com/authenticateKey/1w62g0g2dc">https://tests.mettl.com/authenticateKey/1w62g0g2dc</a></li>
                                    <li>Attempt 4: <a target="_blank" style="color:#f68522" href="https://tests.mettl.com/authenticateKey/1w62hvvbpc">https://tests.mettl.com/authenticateKey/1w62hvvbpc</a></li>
                                    <li>Attempt 5: <a target="_blank" style="color:#f68522" href="https://tests.mettl.com/authenticateKey/1w62josoow">https://tests.mettl.com/authenticateKey/1w62josoow</a></li>
                                </ul>
                                <h3>Ind-SAT Mock test link for PG applicants</h3>
                                <p class="text-justify">Please copy and paste the below links in the address bar of a web browser (Preferably Mozilla Firefox or Google Chrome) to start the test</p>
                                <ul>
                                    <li>Attempt 1: <a target="_blank" style="color:#f68522" href="https://tests.mettl.com/authenticateKey/1w61fbfri8">https://tests.mettl.com/authenticateKey/1w61fbfri8</a></li>
                                    <li>Attempt 2: <a target="_blank" style="color:#f68522" href="https://tests.mettl.com/authenticateKey/1w61linrb4">https://tests.mettl.com/authenticateKey/1w61linrb4</a></li>
                                    <li>Attempt 3: <a target="_blank" style="color:#f68522" href="https://tests.mettl.com/authenticateKey/1w61ted5og">https://tests.mettl.com/authenticateKey/1w61ted5og</a></li>
                                    <li>Attempt 4: <a target="_blank" style="color:#f68522" href="https://tests.mettl.com/authenticateKey/1w61vn8xs0">https://tests.mettl.com/authenticateKey/1w61vn8xs0</a></li>
                                    <li>Attempt 5: <a target="_blank" style="color:#f68522" href="https://tests.mettl.com/authenticateKey/1w61yt58n4">https://tests.mettl.com/authenticateKey/1w61yt58n4</a></li>
                                </ul>
                                <p>&nbsp;</p>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /#collapseFive -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="service-area section-padding mt20">
    <div class="container">
        <div class="row">
            <h2 class="text-center mb20"><strong>Related</strong></h2>
            <div class="clearfix"></div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="indSat_relatedBox">
                    <img src="~/img/rel_01.jpg" class="img-responsive" />
                    <div>
                        <h4>SII Scholarship</h4>
                        <p>The Indian Scholastic Assessment or IND-SAT <a href="~/scholarships/FeeWaiversandConcessions/Scholarship">More</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="indSat_relatedBox">
                    <img src="~/img/rel_02.jpg" class="img-responsive" />
                    <div>
                        <h4>
                            Fee Waivers
                        </h4>
                        <p>The Indian Scholastic Assessment or IND-SAT <a href="~/scholarships/FeeWaiversandConcessions/FeeWaiver">More</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="indSat_relatedBox">
                    <img src="~/img/rel_03.jpg" class="img-responsive" />
                    <div>
                        <h4>Tuition Fees &amp; Costs</h4>
                        <p>The Indian Scholastic Assessment or IND-SAT <a href="~/scholarships/FeeWaiversandConcessions/IndSAT">More</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        function toggleIcon(e) {
            $(e.target)
                .prev('.panel-heading')
                .find(".more-less")
                .toggleClass('fa-plus fa-times');
        }
        $('.panel-group').on('hidden.bs.collapse', toggleIcon);
        $('.panel-group').on('shown.bs.collapse', toggleIcon);
    </script>
    <script>
        $('.panel-heading a').click(function () {
            $('.panel-heading').removeClass('active');

            //If the panel was open and would be closed by this click, do not active it
            if (!$(this).closest('.panel').find('.panel-collapse').hasClass('in'))
                $(this).parents('.panel-heading').addClass('active');
        });
    </script>
}