
@{
    ViewBag.Title = "Scholarship";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="sliderTopTitle">
    <div class="container">
        <div class="row">
            <h4>Study in India Scholarship</h4>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class=""> <img src="~/img/sii_scholarship.jpg" class="img-responsive" /> </div>
<div class="service-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                <div class="section-title indSat_section">
                    <div class="mt20">
                        <p class="text-justify">Study in India, with the help of the following Indian ministries - the Ministry of Human Resource Development and the Ministry of Commerce and Industry, is offering 2000 scholarships worth USD3500 each, for the academic year 2020-21</p>
                        <p class="text-justify">Every meritorious student that has been offered this scholarship by SII shall receive it for a maximum period:</p>
                        <ul class="no-style">
                            <li><img src="~/img/siiIcon.png" /> of 5 years for undergraduate integrated courses;</li>
                            <li><img src="~/img/siiIcon.png" /> of 3 or 4 years for undergraduate courses, according to the course duration;</li>
                            <li><img src="~/img/siiIcon.png" /> of 2 years for postgraduate courses;</li>
                            <li><img src="~/img/siiIcon.png" /> or, till the completion of this course, whichever is lesser.</li>
                        </ul>
                        <p><strong>Please note, scholarships are only available for the above listed categories, and not for Ph.D, M.Phil and Doctoral level courses.</strong></p>
                        <br>
                        <p class="text-justify">To apply for this scholarship, students should have registered with SII, completed an application on our website <a href="http://www.studyinindia.gov.in/">www.studyinindia.gov.in</a> and been admitted into SII-partnered institutions. The scholarships are awarded on the basis of the following:</p>
                        <ul class="no-style">
                            <li><img src="~/img/siiIcon.png" /> Students should have had a meritorious academic history in his / her secondary school, higher secondary school, and / or latest academic qualification.</li>
                            <li><img src="~/img/siiIcon.png" /> Students from the given list of countries may appear for the Ind-SAT exam that is conducted by the SII team, and a merit list would be generated for the second-wave of shortlisting.</li>
                            <li><img src="~/img/siiIcon.png" /> According to the country-wise allocated quota and other criterion, the final shortlisted will be contacted by the SII team.</li>
                        </ul>
                        <br>
                        <p><strong>A few important clauses about the scholarship for the students applying for the SII scholarship:</strong></p>
                        <ul class="no-style">
                            <li><img src="~/img/siiIcon.png" /> Each scholarship is valued at USD 3500 per student per year.</li>
                            <li><img src="~/img/siiIcon.png" /> Each scholarship under the SII scheme will only cover tuition, accommodation, food and admission fees. No other expense listed outside this set will be provided for by this scholarship.</li>
                            <li><img src="~/img/siiIcon.png" /> If the total fees of the course for each year, which includes tuition, accommodation, food and admission, is lesser than the proposed value of USD3500, the lesser amount will be given as scholarship.</li>
                            <li><img src="~/img/siiIcon.png" /> All scholarships are electronically transferred to the institutes.</li>
                            <li><img src="~/img/siiIcon.png" /> Scholarship amount will be transferred to the institute after a verification of the student’s attendance for the first month has been forwarded to the SII team.</li>
                            <li><img src="~/img/siiIcon.png" /> All scholarships are renewable on a year-on-year basis until the day of Graduation.</li>
                        </ul>
                        <p class="text-justify">Before releasing the final offer letter to students, each online application will be verified for the Institute and the Scholarship Allotment by institutes and the SII team.</p>
                        <p class="text-justify">For further information, please read through the clauses given below carefully before applying for the Study in India (SII) scholarship.</p>
                        <br>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                <div class="accordion panel-group" id="accordion">
                    <div class="panel panel-default indSat_collapse">
                        <div class="panel-heading active">
                            <h4 class="panel-title col-md-6 p0">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    Applications for SII Scholarships <i class="more-less fa fa-plus"></i>
                                </a>
                            </h4>
                        </div>
                        <!-- /.panel-heading -->
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body indSat_collapse-body">
                                <p class="text-justify">To be eligible for the SII Scholarship, the student should’ve applied to SII and have received admission in one of the SII-partner institutes. Students who have shown interest to apply for the SII scholarship, will be given the links to apply for the Ind-SAT exam, an assessment test conducted by SII, to be used for initial shortlisting of the candidates.</p>
                                <p class="text-justify"><strong>Scholarship Values</strong></p>
                                <p class="text-justify">For the academic year 2020-21, 2000 scholarships will be awarded to students who are part of the SII fraternity. Each scholarship is valued at USD3500, which is an approximate Rs. 2,50,000 in Indian currency (INR).</p>
                                <p class="text-justify">Students who have been awarded the SII scholarship will be given either the gross total of admission fees, tuition fees, accommodation and food expenses or USD3500, whichever is lesser.</p>
                                <p class="text-justify">Scholarships are granted for a complete course duration. The student would need to renew the scholarship status for the next academic year, before the scholarship lapses for the current academic year.</p>
                            </div>
                        </div>
                        <!-- /#collapseOne -->
                    </div>
                    <div class="panel panel-default indSat_collapse">
                        <div class="panel-heading">
                            <h4 class="panel-title col-md-6 p0">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    Renewal of Scholarship  <i class="more-less fa fa-plus"></i>
                                </a>
                            </h4>
                        </div>
                        <!-- /.panel-heading -->
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body indSat_collapse-body">
                                <p class="text-justify">With reference to the scholarship timeline given above, a scholarship under the scheme is renewable on a year-to-year basis up till the completion of the course, without exceeding the mentioned number of years for the course.</p>
                                <p class="text-justify">If a scholar is unable to appear in the annual examination, owing to illness and / or on account of any unforeseen event, the award may be renewed for the next academic year, on submission of a medical certificate and other credible evidence. Additionally, the head of the institute should have certified that the student would have passed, with the required percentage of marks or equivalent Grade Point Average, had he/she appeared for the examination.</p>
                                <p class="text-justify">In case a scholar has decided to change his field of study or course offered by the institute, then an attested document and a new offer letter submitted by the head of the institute should provide certification, allowing the student to change course within the institute.</p>
                                <p class="text-justify">In case a scholar has decided to change his field of study or course offered by the institute, then an attested document and a new offer letter submitted by the head of the institute should provide certification, allowing the student to change course within the institute.</p>
                                <p class="text-justify">However, if a scholar decides to change courses from the allotted institute, then the scholarship will not be renewed for the following years.</p>
                                <br>
                                <p><strong>Renewal Process</strong></p>
                                <p class="text-justify">To renew scholarship, scholars would need to send the following documents, attested by the respective institutes:</p>
                                <ul class="no-style">
                                    <li><img src="~/img/siiIcon.png" /> Scholar should have passed all the subjects for the academic year and should have been promoted to the next academic year.</li>
                                    <li><img src="~/img/siiIcon.png" /> Scholar should have been cleared of any disciplinary action.</li>
                                    <li><img src="~/img/siiIcon.png" /> A minimum attendance of 75% should have been maintained across semesters or trimesters.</li>
                                </ul>
                                <p class="text-justify">Only after the Study in India team has verified these details, the renewed scholarship will be released to the institute’s account for the scholar.</p>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /#collapseTwo -->
                    </div>
                    <div class="panel panel-default indSat_collapse">
                        <div class="panel-heading">
                            <h4 class="panel-title col-md-6 p0">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    Withdrawal of Scholarship <i class="more-less fa fa-plus"></i>
                                </a>
                            </h4>
                        </div>
                        <!-- /.panel-heading -->
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body indSat_collapse-body">
                                <p class="text-justify">The SII Scholarship will be revoked from a scholar if he / she joins an institute which is different from what has been allotted.</p>
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /#collapseTwo -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="service-area section-padding mt20">
    <div class="container">
        <div class="row">
            <h2 class="text-center mb20"><strong>Related</strong></h2>
            <div class="clearfix"></div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="indSat_relatedBox">
                    <img src="~/img/rel_01.jpg" class="img-responsive" />
                    <div>
                        <h4>SII Scholarship</h4>
                        <p>The Indian Scholastic Assessment or IND-SAT <a href="~/scholarships/FeeWaiversandConcessions/Scholarship">More</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="indSat_relatedBox">
                    <img src="~/img/rel_02.jpg" class="img-responsive" />
                    <div>
                        <h4>
                            Fee Waivers
                        </h4>
                        <p>The Indian Scholastic Assessment or IND-SAT <a href="~/scholarships/FeeWaiversandConcessions/FeeWaiver">More</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="indSat_relatedBox">
                    <img src="~/img/rel_03.jpg" class="img-responsive" />
                    <div>
                        <h4>Tuition Fees &amp; Costs</h4>
                        <p>The Indian Scholastic Assessment or IND-SAT <a href="~/scholarships/FeeWaiversandConcessions/IndSAT">More</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        function toggleIcon(e) {
            $(e.target)
                .prev('.panel-heading')
                .find(".more-less")
                .toggleClass('fa-plus fa-times');
        }
        $('.panel-group').on('hidden.bs.collapse', toggleIcon);
        $('.panel-group').on('shown.bs.collapse', toggleIcon);
    </script>
    <script>
        $('.panel-heading a').click(function () {
            $('.panel-heading').removeClass('active');

            //If the panel was open and would be closed by this click, do not active it
            if (!$(this).closest('.panel').find('.panel-collapse').hasClass('in'))
                $(this).parents('.panel-heading').addClass('active');
        });

    </script>
}