<div class="container-fluid">
    <div class="navbar-header">
        @*<strong>Study in</strong> India*@
        <a href="~/Admin/Dashboard" class="navbar-brand"></a>
        <a href="#" class="be-toggle-left-sidebar"><span class="icon mdi mdi-menu"></span></a>
    </div>
    <div class="be-right-navbar">
        <ul class="nav navbar-nav navbar-right be-user-nav">
            <li class="dropdown">
                <a href="javascript:void(0);" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">
                    <img src="~/assets/img/avatar.png" alt="Avatar">
                </a>
                <ul role="menu" class="dropdown-menu">
                    <li>
                        <div class="user-info">
                            <div class="user-name">@Session["Name"].ToString()</div>
                        </div>
                    </li>
                    @*<li><a href="@Url.Content("~/")Institute/Details"><span class="icon mdi mdi-face"></span> Institute Profile</a></li>*@
                    @*<li><a href="@Url.Content("~/")Institute/ChangePassword/"><span class="icon mdi mdi-settings"></span> Change Password</a></li>*@
                    <li><a href="@Url.Content("~/")Admin/Logout"><span class="icon mdi mdi-power"></span> Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>



