
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags {
    <link rel="canonical" href="https://www.studyinindia.gov.in/contact" />

}
<div class="inner-title-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="inner-title-left">
                    <h2>Contact</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="inner-ttile-right text-right">
                    <h4><a href="@Url.Content("~/")contact">Contact</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="service-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 wow fadeInLeft">
                <div class="contact-top">
                    <h3 class="inner-title"><span>Contact </span></h3>
                    <div class="contact-top-icon">
                        <h4>Study in India</h4>
                        <a><i class="fa fa-building-o" aria-hidden="true"></i>EdCIL (India) Limited (A miniratna CPSE under Ministry of HRD, Govt of India).</a>
                        <a><i class="fa fa-map-marker" aria-hidden="true"></i>EdCIL House, 18A, Sector 16 A, Noida, Uttar Pradesh – 201301 (India)</a>
                        <a href="Tel: 0091 9899-450-350"><i class="fa fa-phone"></i> Toll free helpline: +91 9899-450-350 </a>
                        <a href="Tel: 0091 8130-013-265"><i class="fa fa-fax"></i> Whatsapp: +91 8130-013-265 </a>
                        <a href="mailto:help.studyinindia@gov.in"><i class="fa fa-envelope"></i> Email: help.studyinindia@gov.in</a>
                        @*<a href="mailto:Studyinindia@edcil.co.in"><i class="fa fa-envelope"></i> Email: Studyinindia@edcil.co.in</a>*@
                        @*<a href="mailto:edcilsupport@edcil.co.in"><i class="fa fa-envelope"></i> Email: edcilsupport@edcil.co.in</a>*@


                    </div>
                </div>
            </div>
            @*<div class="single-widget cta contactDetail-box">
                    <h4>Contact Us</h4>
                    <ul>
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i></li>
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i> </li>
                        <li><i class="fa fa-phone"></i> Tel: 0091 120 2512001-06</li>
                        <li><i class="fa fa-fax"></i> Fax: 0091 120 2515372</li>
                        <li><i class="fa fa-envelope"></i> <a href="" class="orange-text"></a></li>
                        <li><i class="fa fa-envelope"></i> <a href="" class="orange-text"></a></li>
                    </ul>
                </div>*@
        </div>
    </div>
</div>

