
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Study in India</title>
    <link rel="stylesheet" type="text/css" href="~/assets/lib/perfect-scrollbar/css/perfect-scrollbar.min.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/lib/material-design-icons/css/material-design-iconic-font.min.css" />
    <link rel="stylesheet" href="~/assets/css/style.css" type="text/css" />
    <link href="~/assets/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link rel="canonical" href="https://www.studyinindia.gov.in/Institute/ForgotPassword" />
    @Html.Partial("_GoogleTagManagerHead")
</head>
<body class="be-splash-screen">
    <div class="be-wrapper be-login">
        <div class="be-content">
            <div class="main-content container-fluid">
                <div class="splash-container">
                    <div class="panel panel-default panel-border-color panel-border-color-primary">
                        <div class="panel-heading"><img src="~/img/logo.png" class="logo-img"></div>
                        <div class="panel-body">
                            <form id="frmForgotPass">
                                <div class="form-group">
                                    <label>Institute ID<span style="color:red">&nbsp;*</span></label>
                                    <input type="text" placeholder="SII-I-XXXX" required name="InstituteID" autocomplete="off" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Head of Institute Email<span style="color:red">&nbsp;*</span></label>
                                    <input type="email" placeholder="Head of Institute Email" required name="Email" autocomplete="off" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Captcha:</label><br />
                                    <img id="imgLoginCaptcha" src="/Captcha/GetCaptchaImage" tabindex="-1" style="height:75px; width:250px;">
                                    <a href="javascript:;" tabindex="-1" class="btn btn-warning" id="btnRefreshCaptcha"><i class="fa fa-refresh"></i>Refresh</a>

                                    <input class="form-control" type="text" required="" autocomplete="off" placeholder="Enter Captcha" name="CaptchaStr" id="txtCaptcha">
                                </div>

                                <div class="form-group login-submit">
                                    <button data-dismiss="modal" id="btnForgotPassword" type="submit" class="btn btn-primary btn-xl">Reset</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_GoogleTagManagerBody")
    <script src="~/assets/lib/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="~/assets/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script src="~/assets/js/main.js" type="text/javascript"></script>
    <script src="~/assets/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/lib/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/assets/lib/parsley/parsley.min.js"></script>
    <script src="~/Scipts/Areas/Institute/InstituteForgotPassword.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnRefreshCaptcha').on('click', function (e) {
                e.preventDefault();
                $('#imgLoginCaptcha').removeAttr('src');
                $('#imgLoginCaptcha').removeAttr('value');
                $('#imgLoginCaptcha').attr('src', '@Url.Content("~/")Captcha/GetCaptchaImage?' + new Date().getTime());
                $('#imgLoginCaptcha').attr('value', '');
            });
        });
    </script>
</body>
</html>

