
@{
    ViewBag.Title = "Education Experience | Studying Experience in India";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags {
    <meta name='Title' content='Education Experience | Studying Experience in India' />
    <meta name='description' content='Students from different colleges and universities across the globe come together to study in India. Students share experiences and knowledge and learn about Indian culture apart from benefitting from quality academic education.' />
    <link rel="canonical" href="https://www.studyinindia.gov.in/whyindiaexperiences" />

}
<div class="whyIndiaImg_part"> <img src="/img/why_india.jpg" class="img-responsive" /> </div>
<div class="service-area">
    <div class="whyIndia_part">
        <div class="col-xs-12 col-md-2">
            <div class="course-details-right">
                <ul class="whyIndia_new">
                    <li class="">
                        <center>
                            <a href="/whyIndia">
                                <img src="/img/icons/why_icon2.png" /> <br />
                                Why India?
                            </a>
                        </center>
                    </li>
                    <li class="">
                        <center>
                            <a href="/whyindiaeducation">
                                <img src="/img/icons/edu_icon2.png" /> <br />
                                Education
                            </a>
                        </center>
                    </li>
                    <li>
                        <center>
                            <a href="/whyindiatravel">
                                <img src="/img/icons/travel_icon2.png" /> <br />
                                Travel
                            </a>
                        </center>
                    </li>
                    <li>
                        <center>
                            <a href="/whyindiaculture">
                                <img src="/img/icons/culture_icon2.png" /> <br />
                                Culture
                            </a>
                        </center>
                    </li>
                    <li class="current">
                        <center>
                            <a href="/whyindiaexperiences">
                                <img src="/img/icons/experience_icon.png" /> <br />
                                Experiences
                            </a>
                        </center>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-md-10 whyPage_text">
            <h4 class="whyIndia_title"><strong>Experiences</strong></h4>
            <p class="text-justify">Hear from the various international students studying in India of how their exoerience has been, being a part of the Indian Education System, while they've made this nation their temporary home:</p>
        </div>
    </div>
    <div class="clearfix"></div>
</div>