@{
    ViewBag.Title = "Universities in India | Best University | Education in India";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags {
    <meta name='Title'  content='Universities in India | Best University | Education in India'/>
    <meta name='description' content='Get quality education at affordable cost! Universities in India offer higher education degrees at very competitive rates as compared to other well-known institutions in the world. We help students from across the globe to come and experience the best academic learning in India.' />
}
<div class="inner-title-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="inner-title-left">
                    <h2>About SII</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="inner-ttile-right text-right">
                    <h4><a href="@Url.Content("~/")home">Home</a> / About SII</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="service-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 wow fadeInLeft">
                <div class="section-title">
                    <h3 class="inner-title"><span>Study in India</span></h3>
                    <p class="text-justify">Education is emerging to be one of the top focuses of all the developing nations around the world. <b>Study in India</b>, a unique initiative of the Government of India will help facilitate the student fraternity from all across the globe to come and experience the best of academic learning from the top institutions in India which would help accommodate the growing quality educational needs of students across the world.</p>
                    <p class="text-justify">Built on centuries of values, the Indian Education system is the world’s third largest higher education system, having a rich mix of premier Government and private institutes with a network of 38000 colleges and 800 universities.  Higher Institutions in India offers degrees that are competitive in the world market in terms of quality but are delivered at 1/4th the cost hence guaranteeing value for money. India offers quality education and research, and students will earn internationally renowned degree. Students will have a range of courses to choose from such as latest advancements of science and technology like Virtual and Augmented Reality, Artificial Intelligence and Cognitive Computing to traditional subjects, such as Ayurveda, Sanskrit, Hindi and Urdu.</p>
                    <p class="text-justify">Under the umbrella of Study in India, <B>about 150 select </B>educational institutes from public, private and deemed universities are offering an array of options including courses ranging from engineering, management, commerce, photonics to yoga, Ayurveda, athletics and languages. The Government of India is inviting aspiring candidates from all over the world to pursue education in desired field from the top ranked institutions in India as per the National Assessment and Accreditation Council (NAAC) which is an organisation that assesses and accredits higher education Institutions in India and the National Institutional Ranking Framework (NIRF) both under the aegis of the Ministry of Human Resource Development (MHRD), Government of India).</p>
                    <p class="text-justify">Launched in April, 2018 the initiative is helmed by EdCIL (Educational Consultants of India), a Central Public Sector Enterprises (CPSE) under the Ministry of Human Resource Development (MHRD), Government of India, the Study in India, initiative aims to make India a preferred education hub for students all across the globe, by elevating its position in the global educational landscape.</p>
                    <p class="text-justify">This portal is a one-stop shop for foreign students seeking to study in India. It provides all the information one needs on Indian education institutions in India, how to plan their studies, how to stay in India, what kind of events are planned application process among others. The website also has a helpline number to address queries from students. </p>
                </div>
            </div>
            @*<div class="col-sm-4 wow fadeInRight">
                <div class="institute_logo"> <a href=""> <img src="~/img/iit.png" class="img-responsive" /> </a> </div>
            </div>*@
        </div>
        @*<div class="row wow fadeinup">
            <div class="col-sm-4">
                <center>
                    <a href="">
                        <div class="single-service abt_icons">
                            <i class="fa fa-book"></i>
                            <h4>courses &amp; programme</h4>
                        </div>
                    </a>
                </center>
            </div>
            <div class="col-sm-4">
                <center>
                    <a href="">
                        <div class="single-service abt_icons">
                            <i class="fa fa-tasks"></i>
                            <h4>area of expert</h4>
                        </div>
                    </a>
                </center>
            </div>
            <div class="col-sm-4">
                <center>
                    <a href="">
                        <div class="single-service abt_icons">
                            <i class="fa fa-building"></i>
                            <h4>infrastructure (campus &amp; library)</h4>
                        </div>
                    </a>
                </center>
            </div>
            <div class="col-sm-4">
                <center>
                    <a href="">
                        <div class="single-service abt_icons">
                            <i class="fa fa-rupee"></i>
                            <h4>fees/scholarship/fellowship</h4>
                        </div>
                    </a>
                </center>
            </div>
            <div class="col-sm-4">
                <center>
                    <a href="">
                        <div class="single-service abt_icons">
                            <i class="fa fa-image"></i>
                            <h4>photo gallery</h4>
                        </div>
                    </a>
                </center>
            </div>
            <div class="col-sm-4">
                <center>
                    <a href="">
                        <div class="single-service abt_icons">
                            <i class="fa fa-location-arrow"></i>
                            <h4>how to reach &amp; climates</h4>
                        </div>
                    </a>
                </center>
            </div>

        </div>*@
    </div>
</div>

