
@{
    ViewBag.Title = "Short Term | Certification, Diploma, Bachelors & Masters Course | India";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags {
    <meta name='Title' content='Short Term | Certification, Diploma, Bachelors & Masters Course | India' />
    <meta name='description' content='It is a door step for foreign students to build a career with short term certification and diploma courses in India.  Candidates can apply for certificate or diploma courses, or other short-term programs at Indian universities.' />
    <link rel="canonical" href="https://www.studyinindia.gov.in/shorttermcourse" />

}
<div class="inner-title-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="inner-title-left">
                    <h2>Short-term/Niche Courses</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="inner-ttile-right text-right">
                    <h4><a href="@Url.Content("~/")shorttermcourse">Home / Short-term/Niche Courses</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="single-service-tab">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft mt20" style="visibility: visible; animation-name: fadeInLeft;"> </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-service-tab-menu">
                    <ul class="nav category_ul" role="tablist">
                        <li role="presentation" class="active"><a href="#hindi" aria-controls="hindi" role="tab" data-toggle="tab"> Hindi</a></li>
                        <li role="presentation"><a href="#yoga" aria-controls="yoga" role="tab" data-toggle="tab"> Yoga</a></li>
                        <li role="presentation"><a href="#ayurvedic" aria-controls="ayurvedic" role="tab" data-toggle="tab"> Ayurvedic</a></li>
                        <li role="presentation"><a href="#sports" aria-controls="sports" role="tab" data-toggle="tab"> Sports</a></li>
                        <li role="presentation"><a href="#tibetan" aria-controls="tibetan" role="tab" data-toggle="tab"> Tibetan</a></li>
                        <li role="presentation"><a href="#classical" aria-controls="classical" role="tab" data-toggle="tab"> Classical Dance</a></li>
                        <li role="presentation"><a href="#buddhism" aria-controls="buddhism" role="tab" data-toggle="tab">Buddhism </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12">
                <div class="single-service-tab-items">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="hindi">
                            <div class="single-tab">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                                        <div class="section-title">
                                            <h3 class="inner-title"><span>Hindi</span></h3>
                                            <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                                <div class="niche_courses">
                                                    <p class="text-justify">1.	Atal bihari vajpayee Hindi Vishwavidyalaya <a href="http://www.abvhv.org/" target="_blank">(http://www.abvhv.org/)</a></p>
                                                    <ol type="a">
                                                        <li> Certification course </li>
                                                        <li>Bachelors, masters</li>
                                                        <li>Ph.D.</li>
                                                        <li>M.Phil.</li>
                                                    </ol>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                                <div class="niche_courses">
                                                    <p class="text-justify">2.	University of Allahabad <a href="http://allduniv.ac.in/home/pages/159" target="_blank">(http://allduniv.ac.in/home/pages/159)</a></p>
                                                    <ol type="a">
                                                        <li> Masters </li>
                                                        <li>D.Phil</li>
                                                    </ol>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                                <div class="niche_courses">
                                                    <p class="text-justify">3. Banaras Hindu University <a href="http://www.bhu.ac.in/admin/vc.php" target="_blank">(http://www.bhu.ac.in/admin/vc.php)</a></p>
                                                    <ol type="a">
                                                        <li>Certification</li>
                                                        <li>Diploma</li>
                                                        <li>Bachelors</li>
                                                        <li>Masters</li>
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="yoga">
                            <div class="single-tab cta">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                                        <div class="section-title">
                                            <h3 class="inner-title"><span>Yoga</span></h3>
                                            <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                                <div class="niche_courses">
                                                    <p class="text-justify">1. Gujarat Vidyapith <a href="http://www.gujaratvidyapith.org" target="_blank">(http://www.gujaratvidyapith.org)</a></p>
                                                    <ol type="a">
                                                        <li>PGD in Yoga</li>
                                                    </ol>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                                <div class="niche_courses">
                                                    <p class="text-justify">2. Barkatullah University <a href="http://www.bubhopal.ac.in/1068/Home" target="_blank">(http://www.bubhopal.ac.in/1068/Home)</a></p>
                                                    <ol type="a">
                                                        <li>Masters</li>
                                                    </ol>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                                <div class="niche_courses">
                                                    <p class="text-justify">3. Symbiosis Sports and sciences <a href="https://www.ssss.edu.in" target="_blank">(https://www.ssss.edu.in)</a></p>
                                                    <ol type="a">
                                                        <li>Masters</li>
                                                    </ol>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                                <div class="niche_courses">
                                                    <p class="text-justify">4. Morarji Desai National Institute of Yoga (MDNIY)<a href="http://www.yogamdniy.nic.in" target="_blank">(http://www.yogamdniy.nic.in)</a></p>
                                                    <ol type="a">
                                                        <li>Foundation Course</li>
                                                    </ol>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                                <div class="niche_courses">
                                                    <p class="text-justify">5. Indian Institute of Yogic Science and Research <a href="http://www.iiysar.co.in" target="_blank">(http://www.iiysar.co.in)</a></p>
                                                    <ol type="a">
                                                        <li>Masters</li>
                                                        <li> Certification</li>
                                                    </ol>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                                <div class="niche_courses">
                                                    <p class="text-justify">6. Patanjali Yoga Training and Research Centre <a href="http://www.patanjaliyogacentre.com" target="_blank">(http://www.patanjaliyogacentre.com)</a></p>
                                                    <ol type="a">
                                                        <li> Bachelors</li>
                                                        <li> Masters</li>
                                                        <li> Diploma</li>
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="ayurvedic">
                            <div class="single-tab cta">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                                        <div class="section-title">
                                            <h3 class="inner-title"><span>Ayurvedic</span></h3>
                                            <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                                <div class="niche_courses">
                                                    <p class="text-justify">1. Institute of Post Graduate Teaching and Research in Ayurveda <a href="http://www.ayurveduniversity.edu.in/" target="_blank">(http://www.ayurveduniversity.edu.in/) </a></p>
                                                    <ol type="a">
                                                        <li> Bachelors</li>
                                                        <li> Masters</li>
                                                    </ol>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                                <div class="niche_courses">
                                                    <p class="text-justify">2. Rajiv Gandhi University of Health Sciences, Bangalore <a href="http://www.rguhs.ac.in/" target="_blank">(http://www.rguhs.ac.in/) </a></p>
                                                    <ol type="a">
                                                        <li>Certification Course</li>
                                                    </ol>
                                                </div>
                                            </div>

                                            <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                                <div class="niche_courses">
                                                    <p class="text-justify">3. National Institute of Ayurveda, Jaipur <a href="http://www.nia.nic.in/" target="_blank">(http://www.nia.nic.in/) </a></p>
                                                    <ol type="a">
                                                        <li>Bachelors</li>
                                                        <li>Masters</li>
                                                        <li>Diploma</li>
                                                        <li>Ph.D.</li>
                                                    </ol>
                                                </div>
                                            </div>



                                            <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                                <div class="niche_courses">
                                                    <p class="text-justify">4.  Ayurvedic and Unani Tibia College, New Delhi -  <a href="http://www.du.ac.in/du/index.php?page=ayurvedic-unani-tibbia-college" target="_blank">(http://www.du.ac.in/du/index.php?page=ayurvedic-unani-tibbia-college) </a></p>
                                                    <ol type="a">
                                                        <li>Bachelors</li>
                                                    </ol>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="sports">
                            <div class="single-tab cta">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                                        <div class="section-title">
                                            <h3 class="inner-title"><span>Sports</span></h3>
                                            <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                                <div class="niche_courses">
                                                    <p class="text-justify">1. National Academy of Sports Management, Mumbai <a href="http://www.nasm.edu.in/" target="_blank">(http://www.nasm.edu.in/) </a></p>
                                                    <ol type="a">
                                                        <li> Bachelors</li>
                                                        <li> Masters</li>
                                                        <li> Diploma</li>
                                                    </ol>
                                                </div>
                                            </div>

                                            <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                                <div class="niche_courses">
                                                    <p class="text-justify">2. George College, Kolkata, West Bengal  <a href="http://www.georgecollege.org/" target="_blank">(http://www.georgecollege.org/) </a></p>
                                                    <ol type="a">
                                                        <li> Bachelors</li>
                                                    </ol>
                                                </div>
                                            </div>


                                            <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                                <div class="niche_courses">
                                                    <p class="text-justify">3. Maulana Abul Kalam Azad University of Technology, West Bengal  <a href="http://www.wbut.ac.in/" target="_blank">(http://www.wbut.ac.in/) </a></p>
                                                    <ol type="a">
                                                        <li> Bachelors</li>
                                                        <li> Masters</li>
                                                    </ol>
                                                </div>
                                            </div>


                                            <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                                <div class="niche_courses">
                                                    <p class="text-justify">4. International Institute of Sports Management (IISM), Mumbai <a href="http://www.iismworld.com/" target="_blank">(http://www.iismworld.com/) </a></p>
                                                    <ol type="a">
                                                        <li> Bachelors</li>
                                                        <li> Masters</li>
                                                    </ol>
                                                </div>
                                            </div>


                                            <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                                <div class="niche_courses">
                                                    <p class="text-justify">5. Indian Institute of Social Welfare and Business Management, Kolkata <a href="http://www.iiswbm.edu/" target="_blank">(http://www.iiswbm.edu/) </a></p>
                                                    <ol type="a">
                                                        <li> Masters</li>
                                                    </ol>
                                                </div>
                                            </div>

                                            <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                                <div class="niche_courses">
                                                    <p class="text-justify">6. Symbiosis School of Sports Sciences, Pune <a href="https://www.ssss.edu.in/" target="_blank">(https://www.ssss.edu.in/) </a></p>
                                                    <ol type="a">
                                                        <li> Masters</li>
                                                    </ol>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                                <div class="niche_courses">
                                                    <p class="text-justify">7. LakhmiBai National University of Physical Education, Gwalior  <a href="http://www.lnipe.edu.in/default.html" target="_blank">(http://www.lnipe.edu.in/default.html) </a></p>
                                                    <ol type="a">
                                                        <li> Bachelors</li>
                                                        <li> Masters</li>
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tibetan">
                            <div class="single-tab cta">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                                        <div class="section-title">
                                            <h3 class="inner-title"><span>Tibetan</span></h3>
                                            <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                                <div class="niche_courses">
                                                    <p class="text-justify">1. Central Institute of Higher Tibetan Studies  <a href="http://www.cuts.ac.in/ " target="_blank">(http://www.cuts.ac.in/) </a></p>
                                                    <ol type="a">
                                                        <li> Bachelors</li>
                                                        <li> Masters </li>
                                                    </ol>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="classical">
                            <div class="single-tab cta">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                                        <div class="section-title">
                                            <h3 class="inner-title"><span>Classical Dance</span></h3>
                                            <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                                <div class="niche_courses">
                                                    <p class="text-justify">1. Apeejay College of Fine Arts <a href="http://acfa.apeejay.edu/index.php" target="_blank">(http://acfa.apeejay.edu/index.php) </a></p>
                                                    <ol type="a">
                                                        <li> Bachelors</li>
                                                        <li> Masters</li>
                                                    </ol>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                                <div class="niche_courses">
                                                    <p class="text-justify">2. The Maharaja Sayajirao University of Baroda,Vadodara  <a href="http://www.msubaroda.ac.in/faculty.php?fac_id=12&action=departments&sub_action=Department%20of%20Dance&dep_id=113" target="_blank">(http://www.msubaroda.ac.in/faculty.php?fac_id=12&action=departments&sub_action=Department%20of%20Dance&dep_id=113) </a></p>
                                                    <ol type="a">
                                                        <li> Bachelors</li>
                                                        <li> Masters </li>
                                                    </ol>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                                <div class="niche_courses">
                                                    <p class="text-justify">3. MIT Vishwashanti Sangeet Kala Academy <a href="http://www.mituniversity.edu.in/" target="_blank">(http://www.mituniversity.edu.in/) </a></p>
                                                    <ol type="a">
                                                        <li> Bachelors</li>
                                                        <li> Masters </li>
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="buddhism">
                            <div class="single-tab cta">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                                        <div class="section-title">
                                            <h3 class="inner-title"><span>Buddhism</span></h3>
                                            <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                                <div class="niche_courses">
                                                    <p class="text-justify">1. University of Delhi <a href="http://www.du.ac.in/du/index.php?page=buddhist-studies" target="_blank">(http://www.du.ac.in/du/index.php?page=buddhist-studies) </a></p>
                                                    <ol type="a">
                                                        <li> Masters</li>
                                                        <li> Ph.D.</li>
                                                        <li> M.Phil</li>
                                                    </ol>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                                <div class="niche_courses">
                                                    <p class="text-justify">2. Acharya nagarjuna university <a href="http://www.nagarjunauniversity.ac.in/coursessoffered.php" target="_blank">(http://www.nagarjunauniversity.ac.in/coursessoffered.php) </a></p>
                                                    <ol type="a">
                                                        <li> Masters</li>
                                                    </ol>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                                <div class="niche_courses">
                                                    <p class="text-justify">3. Barkatullah University  <a href="http://www.bubhopal.ac.in/1068/Home" target="_blank">(http://www.bubhopal.ac.in/1068/Home) </a></p>
                                                    <ol type="a">
                                                        <li> Certificate course</li>
                                                    </ol>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                                <div class="niche_courses">
                                                    <p class="text-justify">4. Gautam Budhha University <a href="http://www.gbu.ac.in/Programmes.aspx?cnt2=E4A48551-73A2-4617-905B-8C743CB6FA6A" target="_blank">(http://www.gbu.ac.in/Programmes.aspx?cnt2=E4A48551-73A2-4617-905B-8C743CB6FA6A) </a></p>
                                                    <ol type="a">
                                                        <li> Masters</li>
                                                        <li> Ph.D</li>
                                                    </ol>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                                <div class="niche_courses">
                                                    <p class="text-justify">5. K.J. Somaiya Centre for Buddhist Studies <a href="https://buddhist.somaiya.edu/buddhist/academics/programmes_and_courses" target="_blank">(https://buddhist.somaiya.edu/buddhist/academics/programmes_and_courses) </a></p>
                                                    <ol type="a">
                                                        <li> Certificate courses</li>
                                                        <li> Masters</li>
                                                    </ol>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                                <div class="niche_courses">
                                                    <p class="text-justify">6. Gujarat Vidyapith <a href="http://gujaratvidyapith.org/courses.htm" target="_blank">(http://gujaratvidyapith.org/courses.htm) </a></p>
                                                    <ol type="a">
                                                        <li> M.Phil</li>
                                                        <li> Ph.D</li>
                                                    </ol>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                                <div class="niche_courses">
                                                    <p class="text-justify">7. Nalanda University <a href="https://www.nalandauniv.edu.in/schools/sbs-pcr/sbs-programmes" target="_blank">(https://www.nalandauniv.edu.in/schools/sbs-pcr/sbs-programmes) </a></p>
                                                    <ol type="a">
                                                        <li> Masters</li>
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

