
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags {
    <link rel="canonical" href="https://www.studyinindia.gov.in/whyindia" />

}
<div class="whyIndiaImg_part"> <img src="/img/why_india.jpg" class="img-responsive" /> </div>
<div class="service-area">
    <div class="whyIndia_part">
        <div class="col-xs-12 col-md-2">
            <div class="course-details-right">
                <ul class="whyIndia_new">
                    <li class="current">
                        <center>
                            <a href="/whyIndia">
                                <img src="/img/icons/why_icon.png" /> <br />
                                Why India?
                            </a>
                        </center>
                    </li>
                    <li>
                        <center>
                            <a href="/whyindiaeducation">
                                <img src="/img/icons/edu_icon2.png" /> <br />
                                Education
                            </a>
                        </center>
                    </li>
                    <li>
                        <center>
                            <a href="/whyindiatravel">
                                <img src="/img/icons/travel_icon2.png" /> <br />
                                Travel
                            </a>
                        </center>
                    </li>
                    <li>
                        <center>
                            <a href="/whyindiaculture">
                                <img src="/img/icons/culture_icon2.png" /> <br />
                                Culture
                            </a>
                        </center>
                    </li>
                    <li>
                        <center>
                            <a href="/whyindiaexperiences">
                                <img src="/img/icons/experience_icon2.png" /> <br />
                                Experiences
                            </a>
                        </center>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-md-10 whyPage_text">
            <h4 class="whyIndia_title">
                <strong>
                    India's system of higher education is the<br />
                    third largest in the world.
                </strong>
            </h4>
            <div class="why_video">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2WRYsRgbkww" allowfullscreen></iframe>
                </div>
            </div>
            <p class="text-justify">India's system of higher education is the third largest in the world. While the engineering schools have been the flag bearers of the India's higher education, in keeping with the times and the skill needs of the global workforce India universities are offering a host of other courses such as Masters in Business Administration, Sciences, Liberal Arts, Artificial Intelligence, Photonics and Design Thinking among others. As a result, many of its higher education institutions figure in the top 100 Asian Universities as per QS and The World University rankings of 2018. At the same time, interesting and niche courses such as Yoga, Ayurveda or Buddhism are also on offer.</p>
            <p class="text-justify">A rising economic power with a rapidly growing diverse economy, the Indian economy is ranked sixth in the world is also world's second largest democracy. Home to some fortune 500 companies such as Indian Oil, Reliance Industries and State Bank of India (SBI), it also has start-ups such as Flipkart, Ola and PayTM which are disrupting norms to create and innovate and adding to India's incredible growth story in the world stage. </p>
            <p class="text-justify">Cities such as Bangalore and Hyderabad are known for their entrepreneurial and technology ecosystem and ranked amongst the most dynamic cities in the world. </p>
            <p class="text-justify">Most of the higher education is delivered in English which can offer an ease of communication which would be enjoyed by an overseas student. </p>
            <p class="text-justify">Rich culture, beautiful landscape that ranges from Great Himalayas in the North to the rocks of Kanyakumari, from the great Rann of Kutch in the West to the abode of clouds in the East, wildlife, beaches and its varied cuisines will make studying in India a memorable experience for you. </p>
            <p class="text-justify">Many Indian universities are placed in luxurious natural campuses, celebrating host of festivals and events, opportunities to experience local cultures and traditions will ensure an exciting campus life.</p>
            <p class="text-justify">If you are looking to experience culture, art, tradition, heritage, history, innovation and creativity and be part of a dynamic education system, India is the place to be! </p>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
