@{
    ViewBag.Title = "Universities in India | Best University | Education in India";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags {
    <meta name='Title' content='Fee Waivers & Concessions | Overseas Students | ICCR' />
    <meta name='description' content='International students belonging to certain Asian, African and Latin American countries are awarded scholarships under General Scholarship Scheme (GSS) of ICCR- Indian Council for Cultural Relations Scholarship (ICCR). Especially for undergraduate & postgraduate degrees, and for pursuing research at Indian universities.' />
    <link rel="canonical" href="https://www.studyinindia.gov.in/EligibilityCriterias" />


}
<div class="inner-title-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="inner-title-left">
                    <h2>Institutes Eligibility Criteria</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="inner-ttile-right text-right">
                    <h4><a href="@Url.Content("~/")home">Home</a> / About SII</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="service-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 wow fadeInLeft">
                <div class="section-title">
                    <h3 class="inner-title"><span>Who can empanel with “Study in India” program?</span></h3>
                    <p class="text-justify">SII aims that foreign students are exposed to reputed high ranking higher education institutions and to ensure the same, Study in India scheme strictly partners with Higher education institute which are eligible as per the following norms:</p>
                    <ol>
                        <li>Both NIRF Top 100 in any category except medical and NAAC grading of >=3.26</li>
                        <li>Or Institute of Eminence</li>
                        <li>Or Institute of National importance</li>
                    </ol>
                    <h3 class="inner-title"><span>What are the requirements if eligible?</span></h3>
                    <ul>
                        <li>Study in India scheme has an inherent feature of offering tuition fee waiver to meritorious foreign students, all partnering institutes are required to offer tuition fee waivers to meritorious foreign students under Study in India programme</li>
                        <li>An MoU signing between “EdCIL (India) Limited–Study in India” and Eligible partner institute</li>
                        <li>Offering of courses on “Study in India” website www.studyinindia.gov.in</li>
                    </ul>
                    <p class="text-justify">
                        For any queries or if eligible you may please write to us Email Id: <a href="mailto:studyinindia@edcil.co.in">studyinindia@edcil.co.in</a>
                        Tel: 0120-4156001, 4156002, 4156003, 2512004, 2512005, 2512006
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

