
@{
    ViewBag.Title = "English proficiency for students | India ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags {
    <meta name='Title' content='English proficiency for students | India' />
    <meta name='description' content='Students who apply for courses in India must have functional knowledge about English language. It infersthat they should able to read, write and speak english language.' />
    <link rel="canonical" href="https://www.studyinindia.gov.in/planyourstudies/englishproficiency" />

}
<div class="inner-title-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="inner-title-left">
                    <h2>Plan Your Studies</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="inner-ttile-right text-right">
                    <h4><a href="@Url.Content("~/")planyourstudies/englishproficiency">Requirements</a> / English Proficiency</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="service-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                <div class="section-title">
                    <h3 class="inner-title"><span>English Proficiency</span></h3>
                    <p class="text-justify">The medium of instruction across all courses and institutions would be English. The candidates applying for the courses in India are supposed to have a functional knowledge of English, which implies that they should have an ability to read, write and speak the language. </p>
                </div>
            </div>
        </div>
    </div>
</div>

