
@{
    ViewBag.Title = "News Board";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner-title-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="inner-title-left">
                    <h2>News Board</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="inner-ttile-right text-right">
                    <h4><a href="@Url.Content("~/")newsboard">News Board</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="service-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 wow fadeInLeft">
                <div class="section-title">
                    <h4 class="inner-title"><span>News Board</span></h4>
                    <div class="col-sm-6 col-md-6 col-xs-12 wow fadeInRight">
                        <div class="single-comment news_board_main">
                            <img src="~/img/news1.jpg" alt="" class="img-circle mt10">
                            <div class="blog-comment-text news_board">
                                <h5 class="text-justify">Hon. Minister for HRD announces April 18 as Launch Date for Study in India Programme</h5>
                                <span><a href="https://timesofindia.indiatimes.com/city/pune/study-in-india-programme-launch-on-april-18/articleshow/63649231.cms" target="_blank"><span class="comment-reply"> More <i class="fa fa-chevron-right"></i></span></a></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-xs-12 wow fadeInRight">
                        <div class="single-comment news_board_main">
                            <img src="~/img/news2.jpg" alt="" class="img-circle mt10">
                            <div class="blog-comment-text news_board">
                                <h5 class="text-justify">Study in India participation in GETEX<br /> Dubai</h5>
                                <span><a href="http://gulftoday.ae/portal/d71ba89c-b155-4e27-920a-10c6f698c708.aspx" target="_blank"><span class="comment-reply"> More <i class="fa fa-chevron-right"></i></span></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
