
@{
    ViewBag.Title = "India Travel | Educational Travel | Student Travel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags {
    <meta name='Title' content='India Travel | Educational Travel | Student Travel' />
    <meta name='description' content='Studying in India is a great fusion of learning and travelling. Apart from higher education, India also offers a wide array of traditions and culture to learn and imbibe. It also gives a good experience of learning diversified Indian languages and witness festivals and celebrations.' />
    <link rel="canonical" href="https://www.studyinindia.gov.in/whyindiatravel" />

}

<div class="whyIndiaImg_part"> <img src="/img/why_india.jpg" class="img-responsive" /> </div>
<div class="service-area">
    <div class="whyIndia_part">
        <div class="col-xs-12 col-md-2">
            <div class="course-details-right">
                <ul class="whyIndia_new">
                    <li class="">
                        <center>
                            <a href="/whyIndia">
                                <img src="/img/icons/why_icon2.png" /> <br />
                                Why India?
                            </a>
                        </center>
                    </li>
                    <li class="">
                        <center>
                            <a href="/whyindiaeducation">
                                <img src="/img/icons/edu_icon2.png" /> <br />
                                Education
                            </a>
                        </center>
                    </li>
                    <li class="current">
                        <center>
                            <a href="/whyindiatravel">
                                <img src="/img/icons/travel_icon.png" /> <br />
                                Travel
                            </a>
                        </center>
                    </li>
                    <li>
                        <center>
                            <a href="/whyindiaculture">
                                <img src="/img/icons/culture_icon2.png" /> <br />
                                Culture
                            </a>
                        </center>
                    </li>
                    <li>
                        <center>
                            <a href="/whyindiaexperiences">
                                <img src="/img/icons/experience_icon2.png" /> <br />
                                Experiences
                            </a>
                        </center>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-md-10 whyPage_text">
            <h4 class="whyIndia_title"><strong>Travel</strong></h4>
            <p class="text-justify">India offers a different aspect of her personality-exotic, extravagant, elegant, and eclectic -- to each traveler. A melting pot of cultures and traditions, the cities and architecture are steeped in history and heritage. You could explore lush beaches, rich wildlife, mountainous terrain, temples, monuments and heritage during vacation from the serious pursuit of education offered in universities.</p>
            <p class="text-justify">India has incredible diversity, be it terrains, regions, cultures, languages, or simply, the way of life. Every region offers unique food to savour and culture to experience! </p>
            <p class="text-justify">Indian festivals are an integral part of its culture. India's multicultural and secularism is manifested by its many festivals celebrated across cultures and religions from Diwali, Holi to Eid and Christmas.</p>
            <p class="text-justify">From the Great Himalayas in the North to the rocks of Kanyakumari, from the great Rann of Kutch in the West to the abode of clouds in the East and the holy Ganges, India is the place to visit, for the inquisitive and spiritually-hungry traveller.</p>
            <p class="text-justify">India has great stories from its past to tell. From epics like the Mahabharata and the Ramayana, to the Mughal Empire and finally the great freedom struggle. Indian architecture and monuments, like the Taj Mahal, The Red Fort, Jama Masjid, Meenakshi Temple, Sanchi Stupa signifies India's glorious history.</p>
            <p class="text-justify">You can learn more and plan your travel from Government of India's "Incredible India" website. Visit Here: <a style="color:blue" href="https://incredibleindia.org/" target="_blank"><u>https://incredibleindia.org/</u></a> </p>
        </div>
    </div>
    <div class="clearfix"></div>
</div>