@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="inner-title-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="inner-title-left">
                    <h2>Institute</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="inner-ttile-right text-right">
                    <h4><a href="@Url.Content("~/")home">Home</a> / Institute</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="single-blog-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4 hidden-xs hidden-sm"></div>
            <div class="col-md-4 col-xs-12 col-sm-4 mb20">
                <center>
                    <span class="single-blog-right-serach">
                        <input type="text" placeholder="Search Institutes Details">
                        <span class="serch-icon"><a href="#"><i class="fa fa-search"></i></a></span>
                    </span>
                </center>
            </div>
            <div class="col-md-4 hidden-xs hidden-sm"></div>
            <div class="clearfix"></div>
            <div class="col-sm-8 mt20">
                <!-- single blog comment start -->
                <div class="single-blog-left-comment wow fadeInDown">
                    <div class="single-comment institute-img">
                        <img src="img/institute-1.jpg" alt="">
                        <div class="blog-comment-text">
                            <h4>Institute Name </h4>
                            <table>
                                <tr>
                                    <td><strong>Degree / Level </strong></td>
                                    <td class="pl8">:</td>
                                    <td class="pl8">Language Course, Short Course</td>
                                </tr>
                                <tr>
                                    <td><strong>Course Language </strong></td>
                                    <td class="pl8">:</td>
                                    <td class="pl8">English</td>
                                </tr>
                                <tr>
                                    <td><strong>Date </strong></td>
                                    <td class="pl8">:</td>
                                    <td class="pl8">March-01, 2018</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="single-comment institute-img">
                        <img src="img/institute-2.jpg" alt="">
                        <div class="blog-comment-text">
                            <h4>Institute Name </h4>
                            <table>
                                <tr>
                                    <td><strong>Degree / Level </strong></td>
                                    <td class="pl8">:</td>
                                    <td class="pl8">Language Course, Short Course</td>
                                </tr>
                                <tr>
                                    <td><strong>Course Language </strong></td>
                                    <td class="pl8">:</td>
                                    <td class="pl8">English</td>
                                </tr>
                                <tr>
                                    <td><strong>Date </strong></td>
                                    <td class="pl8">:</td>
                                    <td class="pl8">March-01, 2018</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="single-comment institute-img">
                        <img src="img/institute-1.jpg" alt="">
                        <div class="blog-comment-text">
                            <h4>Institute Name </h4>
                            <table>
                                <tr>
                                    <td><strong>Degree / Level </strong></td>
                                    <td class="pl8">:</td>
                                    <td class="pl8">Language Course, Short Course</td>
                                </tr>
                                <tr>
                                    <td><strong>Course Language </strong></td>
                                    <td class="pl8">:</td>
                                    <td class="pl8">English</td>
                                </tr>
                                <tr>
                                    <td><strong>Date </strong></td>
                                    <td class="pl8">:</td>
                                    <td class="pl8">March-01, 2018</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single blog right start -->
            <div class="col-sm-4 wow fadeInLeft mt20">
                <div class="single-blog-right mb20">
                    <h3 class="filter-title">Courses</h3>
                    <div class="single-blog-right-category filter-box">
                        <ul class="filter-ul">
                            <li class="checkbox search-chekbox">
                                <label>
                                    <input type="checkbox" name="" value="">
                                    Under Graduate
                                </label>
                            </li>
                            <li class="checkbox search-chekbox">
                                <label>
                                    <input type="checkbox" name="" value="">
                                    Post Graduate
                                </label>
                            </li>
                            <li class="checkbox search-chekbox">
                                <label>
                                    <input type="checkbox" name="" value="">
                                    PhD
                                </label>
                            </li>
                            <li class="checkbox search-chekbox">
                                <label>
                                    <input type="checkbox" name="" value="">
                                    Niche
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="single-blog-right mb20">
                    <h3 class="filter-title">Scholarship/Fellowship</h3>
                    <div class="single-blog-right-category filter-box">
                        <ul class="filter-ul">
                            <li class="checkbox search-chekbox">
                                <label>
                                    <input type="checkbox" name="" value="">
                                    Yes
                                </label>
                            </li>
                            <li class="checkbox search-chekbox">
                                <label>
                                    <input type="checkbox" name="" value="">
                                    No
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="single-blog-right mb20">
                    <h3 class="filter-title">Accredited (NAC, NIRF)</h3>
                    <div class="single-blog-right-category filter-box">
                        <ul class="filter-ul">
                            <li class="checkbox search-chekbox">
                                <label>
                                    <input type="checkbox" name="" value="">
                                    Yes
                                </label>
                            </li>
                            <li class="checkbox search-chekbox">
                                <label>
                                    <input type="checkbox" name="" value="">
                                    No
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="single-blog-right mb20">
                    <h3 class="filter-title">Location</h3>
                    <div class="single-blog-right-category filter-box">
                        <ul class="filter-ul">
                            <li class="checkbox search-chekbox">
                                <label>
                                    <input type="checkbox" name="" value="">
                                    West
                                </label>
                            </li>
                            <li class="checkbox search-chekbox">
                                <label>
                                    <input type="checkbox" name="" value="">
                                    North
                                </label>
                            </li>
                            <li class="checkbox search-chekbox">
                                <label>
                                    <input type="checkbox" name="" value="">
                                    East
                                </label>
                            </li>
                            <li class="checkbox search-chekbox">
                                <label>
                                    <input type="checkbox" name="" value="">
                                    South
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

