
@{
    ViewBag.Title = "About Indian Education | Colleges in India | IITs in India";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags {
    <meta name='Title' content='About Indian Education | Colleges in India | IITs in India' />
    <meta name='description' content='In the last decade, the Indian higher education system has expanded at a fast pace. Today, India consist of more than 800 universities that are diversified with central, state and private universities.' />
    <link rel="canonical" href="https://www.studyinindia.gov.in/planyourstudies/indianeducation" />

}
<<div class="inner-title-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="inner-title-left">
                    <h2>Plan Your Studies</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="inner-ttile-right text-right">
                    <h4><a href="@Url.Content("~/")planyourstudies/indianeducation">Higher Education System</a> / Types of Indian Education</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="service-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                <div class="section-title">
                    <h3 class="inner-title"><span>Types of Indian Education</span></h3>
                    <p class="text-justify">India's higher education system is the third largest in the world. The University Grants Commission is its main governing body and also oversees accreditation for higher learning. </p>
                    <p class="text-justify">The Indian higher education system has expanded at a fast pace by adding more than 20,000 colleges and more than 8 million students in a decade and as of today, India has more than 800 universities, with a break up of <strong>Central, State, Deemed </strong>and <strong>Private</strong> universities along with many institutions established and functioning under the State Act, and <strong>Institutes of National Importance</strong> - which include AIIMS, IIT's and NIT's among others. </p>
                    <p class="text-justify">Other institutions include <strong>Government Degree Colleges</strong> and <strong>Private Degree Colleges,</strong> including exclusive women's colleges, functioning under these universities and institutions.  Colleges may be <strong>Autonomous,</strong> i.e. empowered to examine their own degrees, up to the PhD level in some cases, or <strong>Non-Autonomous,</strong> in which case their examinations are under the supervision of the university to which they are affiliated; in either case, however, degrees are awarded in the name of the university rather than the college.</p>
                    <p class="text-justify">The emphasis in the tertiary level of education lies on science and technology. Indian educational institutions by 2004 consisted of a large number of technology institutes. Distance learning and open education is also a feature of the Indian higher education system, and is looked after by the Distance Education Council. Indira Gandhi National Open University is the largest university in the world by number of students, having approximately 3.5 million students across the globe.</p>
                    <p class="text-justify">Some institutions of India, such as the Indian Institutes of Technology (IITs), National Institute of Technology (NITs), Indian Institute of Science, Indian Institutes of Management (IIMs), International Institute of Information Technology (IIIT), University of Mumbai and Jawaharlal Nehru University have been globally acclaimed for their standard of education.</p>
                </div>
            </div>
        </div>
    </div>
</div>


