
@{
    ViewBag.Title = "Visa Regulations | Students Visa India";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags {
    <meta name='Title' content='Visa Regulations | Students Visa India' />
    <meta name='description' content='Students who are willing to travel to India for studying in recognized educational institutions are granted student visa. Students require admission papers or registration papers from the institution to apply.' />
}
<div class="inner-title-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="inner-title-left">
                    <h2>Plan Your Studies</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="inner-ttile-right text-right">
                    <h4><a href="@Url.Content("~/")planyourstudies/visaregulations">Requirements</a> / Visa Regulations</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="service-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                <div class="section-title">
                    <h3 class="inner-title"><span>Visa Regulations</span></h3>
                    <p class="text-justify">Student visas are granted to people who wish to come to India and study at an officially recognized educational institution. This includes the study of Yoga, Vedic culture, and Indian system of dance and music.</p>
                    <p class="text-justify">The main document required is student admission/registration papers from the institution.</p>
                    <h4 class="inner-title-h4">Eligibility:</h4>
                    <p class="text-justify">Indian Missions/Posts grant a student visa for a period of five years or for the duration of the course of study, whichever is less, to the below:</p>
                    <ul class="list-style">
                        <li><i class="fa fa-chevron-circle-right"></i> To foreigner students coming to India to pursue regular and full time academic studies in India.</li>
                        <li><i class="fa fa-chevron-circle-right"></i> For foreigner students coming for Industrial training, summer project and internship.</li>
                        <li><i class="fa fa-chevron-circle-right"></i> Provisional student visa valid for six months for the students exploring admission or taking admission tests.</li>
                        <li><i class="fa fa-chevron-circle-right"></i> Applicant should possess the proof of admission to a full time regular academic course in a reputed/recognized educational institution in India and evidence of financial support.</li>
                        <li><i class="fa fa-chevron-circle-right"></i> The applicant should also possess a "No Objection Certificate" from the Ministry of Health in case of admission in medical or Para-medical course.</li>
                        <li><i class="fa fa-chevron-circle-right"></i> Spouse and dependent family members accompanying the applicant must apply for an Entry Visa (Not Tourist Visa. Its termination date will coincide with the period of the principal Visa holder.</li>
                    </ul>
                    <h4 class="inner-title-h4">Validity:</h4>
                    <p class="text-justify">Student visas are issued for up to five years, depending on the duration of the course. They can also be extended in India.</p>
                    <h4 class="inner-title-h4">Entry Points:</h4>
                    <p class="text-justify">Passengers having valid Student visa can enter India from any desired port of immigration check post (Airport, Seaport).</p>
                    <h4 class="inner-title-h4">Fee For Student Visa:</h4>
                    <p class="text-justify">Visa fees for student visa is different for all the countries. It ranges from $13 to $118.</p>
                    <h4 class="inner-title-h4">Form:</h4>
                    <p class="text-justify">The visitors are required to fill online visa Application by visiting website <a href="http://indianvisaonline.gov.in/visa/" target="_blank">http://indianvisaonline.gov.in/visa/</a> and visit their nearest embassy with printout of the online filled application and required travel documents.</p>
                    <h4 class="inner-title-h4">Required Documents: </h4>
                    <ul class="list-style">
                        <li><i class="fa fa-chevron-circle-right"></i> Passport with 6 month validity</li>
                        <li><i class="fa fa-chevron-circle-right"></i> Passport size photographs</li>
                        <li><i class="fa fa-chevron-circle-right"></i> Photo copy of passport</li>
                        <li><i class="fa fa-chevron-circle-right"></i> Proof of residential address</li>
                        <li><i class="fa fa-chevron-circle-right"></i> Copy of online filled form</li>
                        <li><i class="fa fa-chevron-circle-right"></i> University admission letter</li>
                        <li><i class="fa fa-chevron-circle-right"></i> University details</li>
                    </ul>
                    <p class="text-justify">For more details visit: <a href="https://boi.gov.in/content/student-visa-s" target="_blank">https://boi.gov.in/content/student-visa-s</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
