
@{
    ViewBag.Title = "Visa Regulations | Students Visa India";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags {
    <meta name='Title' content='Visa Regulations | Students Visa India' />
    <meta name='description' content='Students who are willing to travel to India for studying in recognized educational institutions are granted student visa. Students require admission papers or registration papers from the institution to apply.' />
    <link rel="canonical" href="https://www.studyinindia.gov.in/planyourstudies/visaregulations" />

}

<div class="visaRegImg_part"> <img src="~/img/visa_reg.jpg" class="img-responsive" /> </div>
<div class="service-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                <div class="section-title visaReg_section">
                    <div class="mt20">
                        <img src="~/img/abtVisa_reg.jpg" class="img-responsive" />
                        <h3><strong>Visa Regulations</strong></h3>
                        <p class="text-justify">Student visas are granted to people who wish to come to India and study at an officially recognized educational institution. This includes the study of Yoga, Vedic culture, and Indian system of dance and music.</p>
                        <p class="text-justify">The main document required is student admission/registration papers from the institution.</p>
                    </div>
                    <div class="clearfix"></div>

                    <h3 class="visaReg_section"><strong>Eligibility</strong></h3>
                    <p class="text-justify"><strong>Indian Missions/Posts grant a student visa for a period of five years or for the duration of the course <br>of study, whichever is less, to the below:</strong></p>
                    <ul class="pl15">
                        <li>To foreigner students coming to India to pursue regular and full time academic studies in India.</li>
                        <li>For foreigner students coming for Industrial training, summer project and internship.</li>
                        <li>Provisional student visa valid for six months for the students exploring admission or taking admission tests.</li>
                        <li>Applicant should possess the proof of admission to a full time regular academic course in a reputed/recognized educational institution in India and evidence of financial support.</li>
                        <li>The applicant should also possess a "No Objection Certificate" from the Ministry of Health in case of admission in medical or Para-medical course.</li>
                        <li>Spouse and dependent family members accompanying the applicant must apply for an Entry Visa (Not Tourist Visa. Its termination date will coincide with the period of the principal Visa holder.</li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-12 col-xs-12 col-md-6 wow fadeInLeft mt20 mb30" style="visibility: visible; animation-name: fadeInLeft;">
                <div class="visaReg_section">
                    <h3><strong>Validity:</strong></h3>
                    <p class="text-justify">Student visas are issued for up to five years, depending on the duration of the course. They can also be extended in India.</p>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-6 wow fadeInLeft mt20 mb30" style="visibility: visible; animation-name: fadeInLeft;">
                <div class="visaReg_section">
                    <h3><strong>Entry Points:</strong></h3>
                    <p class="text-justify">Passengers having valid Student visa can enter India from any desired port of immigration check post (Airport, Seaport).</p>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-6 wow fadeInLeft mt20 mb30" style="visibility: visible; animation-name: fadeInLeft;">
                <div class="visaReg_section">
                    <h3><strong>Fee For Student Visa:</strong></h3>
                    <p class="text-justify">Visa fees for student visa is different for all the countries. It ranges from $13 to $118.</p>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 col-md-6 wow fadeInLeft mt20 mb30" style="visibility: visible; animation-name: fadeInLeft;">
                <div class="visaReg_section">
                    <h3><strong>Form:</strong></h3>
                    <p class="text-justify">The visitors are required to fill online visa Application by visiting website <a href="http://indianvisaonline.gov.in/visa/" class="blue-text" target="_blank">http://indianvisaonline.gov.in/visa/</a> and visit their nearest embassy with printout of the online filled application and required travel documents.</p>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="service-area section-padding black-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft">
                <h2 class="orange-title text-center">Required Documents</h2>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInLeft reqDoc_box">
                <span><img src="~/img/rv_icon-1.png" class="img-responsive" /></span><p> Passport with 6 month validity</p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInLeft reqDoc_box">
                <span><img src="~/img/rv_icon-2.png" class="img-responsive" /></span><p> Passport size photographs</p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInLeft reqDoc_box">
                <span><img src="~/img/rv_icon-3.png" class="img-responsive" /></span><p> Photo copy of passport</p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInLeft reqDoc_box">
                <span><img src="~/img/rv_icon-4.png" class="img-responsive" /></span><p> Proof of residential address</p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInLeft reqDoc_box">
                <span><img src="~/img/rv_icon-5.png" class="img-responsive" /></span><p> Copy of online filled form</p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInLeft reqDoc_box">
                <span><img src="~/img/rv_icon-6.png" class="img-responsive" /></span><p> University admission letter</p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInLeft reqDoc_box">
                <span><img src="~/img/rv_icon-7.png" class="img-responsive" /></span><p> University details</p>
            </div>

        </div>
    </div>
</div>
<div class="clearfix"></div>