
@{
    ViewBag.Title = "SAT Eligibility Criteria | Highest Degree Score | Indian Institute";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags {
    <meta name='Title' content='SAT Eligibility Criteria | Highest Degree Score | Indian Institute' />
    <meta name='description' content='The eligibility criteria and qualification score vary from institute to institute in India. Candidates need to login and select the course, Theeligibility and qualification criteria can be checked of displayed colleges.' />
    <link rel="canonical" href="https://www.studyinindia.gov.in/planyourstudies/eligibilitycriteria" />

}
<div class="inner-title-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="inner-title-left">
                    <h2>Plan Your Studies</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="inner-ttile-right text-right">
                    <h4><a href="@Url.Content("~/")planyourstudies/eligibilitycriteria">Requirements</a> / Eligibility Criteria and Qualification</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="service-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                <div class="section-title">
                    <h3 class="inner-title"><span>Eligibility criteria and Qualification-SAT Score/ Highest Degree Score</span></h3>
                    <p class="text-justify">The eligibility criterion and qualification score institute/course will be dependent on the institute. Please do a candidate login and select the course you want to enrol for, and the displayed colleges will have their separate eligibility and qualification criterion.</p>
                </div>
            </div>
        </div>
    </div>
</div>
