@{
    ViewBag.Title = "ViewDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="inner-title-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="inner-title-left">
                    <h2>About Institute</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="inner-ttile-right text-right">
                    <h4><a href="@Url.Content("~/")ViewDetail">Home</a> / About Institute</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="single-service-tab">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft mt20" style="visibility: visible; animation-name: fadeInLeft;"> </div>
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="single-service-tab-menu">
                    <ul class="nav category_ul" role="tablist">
                        <li role="presentation" class="active"><a href="#courses" aria-controls="courses" role="tab" data-toggle="tab"><i class="fa fa-book"></i> Courses &amp; Programme</a></li>
                        <li role="presentation"><a href="#area" aria-controls="area" role="tab" data-toggle="tab"><i class="fa fa-tasks"></i> Area of Expert</a></li>
                        <li role="presentation"><a href="#infrastructure" aria-controls="infrastructure" role="tab" data-toggle="tab"><i class="fa fa-building"></i> Infrastructure (Campus &amp; Library)</a></li>
                        <li role="presentation"><a href="#fees" aria-controls="fees" role="tab" data-toggle="tab"><i class="fa fa-rupee"></i> Fees/Scholarship/Fellowship</a></li>
                        <li role="presentation"><a href="#photo" aria-controls="photo" role="tab" data-toggle="tab"><i class="fa fa-image"></i> Photo Gallery</a></li>
                        <li role="presentation"><a href="#reach" aria-controls="reach" role="tab" data-toggle="tab"><i class="fa fa-location-arrow"></i> How to Reach &amp; Climates</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12">
                <div class="single-service-tab-items">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="courses">
                            <div class="single-tab">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                                        <div class="section-title">
                                            <h3 class="inner-title"><span>Courses &amp; Programme</span></h3>
                                            <div class="col-md-5 col-sm-5 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                                <div class="course-details-right courses_box1">
                                                    <h4 class="course_title1">Course Title</h4>
                                                    <ul>
                                                        <li>Discipline :<span>text</span></li>
                                                        <li>Program Level :<span>text</span></li>
                                                        <li>Name of Course :<span>text</span></li>
                                                        <li>Branch/Subject :<span>text</span></li>
                                                        <li>Total seat offer to foreign student:<span>10</span></li>
                                                        <li>Course Fee:<span>$500</span></li>
                                                    </ul>

                                                </div>
                                            </div>
                                            <div class="col-md-5 col-sm-5 col-xs-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                                                <div class="course-details-right courses_box2">
                                                    <h4 class="course_title2">Bridge-Course</h4>
                                                    <ul>
                                                        <li>Discipline :<span>text</span></li>
                                                        <li>Program Level :<span>text</span></li>
                                                        <li>Name of Course :<span>text</span></li>
                                                        <li>Branch/Subject :<span>text</span></li>
                                                        <li>Total seat offer to foreign student:<span>10</span></li>
                                                        <li>Course Fee:<span>$500</span></li>
                                                    </ul>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="area">
                            <div class="single-tab cta">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                                        <div class="section-title">
                                            <h3 class="inner-title"><span>Area of Expert</span></h3>

                                            <p class="text-justify">text to be added....</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="infrastructure">
                            <div class="single-tab cta">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                                        <div class="section-title">
                                            <h3 class="inner-title"><span>Infrastructure (Campus &amp; Library)</span></h3>
                                            <p class="text-justify">text to be added....</p>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="fees">
                            <div class="single-tab cta">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                                        <div class="section-title">
                                            <h3 class="inner-title"><span>Fees/Scholarship/Fellowship</span></h3>
                                            <p class="text-justify">text to be added....</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="photo">
                            <div class="single-tab cta">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                                        <div class="section-title">
                                            <h3 class="inner-title"><span>Thumnail Gallery</span></h3>

                                            <div class="">
                                                <div class="col-sm-4 col-md-4 col-xs-12 wow fadeInRight">
                                                    <div class="upcoming-single">
                                                        <div class="upcoming-img">
                                                            <div class="blog-img-hover">
                                                                <div class="blog-img-ifc">
                                                                    <img src="~/img/gallery/thumb/thumnail-1.jpg" alt="">
                                                                    <a href="photo_gallery.php" class="upcoming-link"><i class="zmdi zmdi-link"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="upcoming-event-text mt0 thum_title">
                                                            <h4>Thumb Title</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 col-md-4 col-xs-12 wow fadeInRight">
                                                    <div class="upcoming-single">
                                                        <div class="upcoming-img">
                                                            <div class="blog-img-hover">
                                                                <div class="blog-img-ifc">
                                                                    <img src="~/img/gallery/thumb/thumnail-2.jpg" alt="">
                                                                    <a href="photo_gallery.php" class="upcoming-link"><i class="zmdi zmdi-link"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="upcoming-event-text mt0 thum_title">
                                                            <h4>Thumb Title</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 col-md-4 col-xs-12 wow fadeInRight">
                                                    <div class="upcoming-single">
                                                        <div class="upcoming-img">
                                                            <div class="blog-img-hover">
                                                                <div class="blog-img-ifc">
                                                                    <img src="~/img/gallery/thumb/thumnail-1.jpg" alt="">
                                                                    <a href="photo_gallery.php" class="upcoming-link"><i class="zmdi zmdi-link"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="upcoming-event-text mt0 thum_title">
                                                            <h4>Thumb Title</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 col-md-4 col-xs-12 wow fadeInRight">
                                                    <div class="upcoming-single">
                                                        <div class="upcoming-img">
                                                            <div class="blog-img-hover">
                                                                <div class="blog-img-ifc">
                                                                    <img src="~/img/gallery/thumb/thumnail-2.jpg" alt="">
                                                                    <a href="photo_gallery.php" class="upcoming-link"><i class="zmdi zmdi-link"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="upcoming-event-text mt0 thum_title">
                                                            <h4>Thumb Title</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 col-md-4 col-xs-12 wow fadeInRight">
                                                    <div class="upcoming-single">
                                                        <div class="upcoming-img">
                                                            <div class="blog-img-hover">
                                                                <div class="blog-img-ifc">
                                                                    <img src="~/img/gallery/thumb/thumnail-1.jpg" alt="">
                                                                    <a href="photo_gallery.php" class="upcoming-link"><i class="zmdi zmdi-link"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="upcoming-event-text mt0 thum_title">
                                                            <h4>Thumb Title</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 col-md-4 col-xs-12 wow fadeInRight">
                                                    <div class="upcoming-single">
                                                        <div class="upcoming-img">
                                                            <div class="blog-img-hover">
                                                                <div class="blog-img-ifc">
                                                                    <img src="~/img/gallery/thumb/thumnail-2.jpg" alt="">
                                                                    <a href="photo_gallery.php" class="upcoming-link"><i class="zmdi zmdi-link"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="upcoming-event-text mt0 thum_title">
                                                            <h4>Thumb Title</h4>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="reach">
                            <div class="single-tab cta">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                                        <div class="section-title">
                                            <h3 class="inner-title"><span>How to Reach &amp; Climates</span></h3>

                                            <div class="">
                                                <div class="col-md-4">

                                                    <div class="post-title">
                                                        <h4 class="howReach"><span class="fa fa-truck fa-flip-horizontal"></span> Road Routes</h4>
                                                    </div>
                                                    <p class="text-justify">
                                                        Gandhinagar is connected to Surat, Mumbai, and Navi Mumbai through National Highway 8A. It is connected to Ahmedabad, Jaipur, Udaipur, New Delhi &amp;Chandigarh through the National Highway 8C.
                                                    </p>

                                                </div>

                                                <div class="col-md-4">
                                                    <div class="post-title">
                                                        <h4 class="howReach"><span class="fa fa-plane fa-flip-horizontal"></span> Air Connectivity</h4>
                                                    </div>
                                                    <p class="text-justify">
                                                        The nearest airport is Sardar Vallabhbhai Patel International Airport, Ahmedabad located at a distance of 15KM from the INFLIBNETCentre.
                                                    </p>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="post-title">
                                                        <h4 class="howReach"><span class="fa fa-road fa-flip-horizontal"></span> Rail Connectivity</h4>
                                                    </div>
                                                    <p class="text-justify">
                                                        The Ahmedabad Railway station is located at a distance of 23 Km from the INFLIBNET Centre, Gandhinagar.
                                                    </p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
