@{
    ViewBag.Title = "Universities in India | Best University | Education in India";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags {
    @*<meta name='Title' content='Universities in India | Best University | Education in India' />
        <meta name='description' content='Get quality education at affordable cost! Universities in India offer higher education degrees at very competitive rates as compared to other well-known institutions in the world. We help students from across the globe to come and experience the best academic learning in India.' />*@
    <link rel="canonical" href="https://www.studyinindia.gov.in/newsfeed" />

}
<div class="inner-title-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="inner-title-left">
                    <h2>NEWS Feed</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="inner-ttile-right text-right">
                    <h4><a href="@Url.Content("~/")home">Home</a> / NEWS Feed</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="service-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 wow fadeInLeft">
                <div class="section-title">
                    <h3 class="inner-title"><span>UKIERI Mobility Programme: Study in India</span></h3>
                    <p class="text-justify">The UK India Education & Research Initiative (UKIERI) <strong>Mobility Programme: Study in India</strong> provides flexible grants to UK higher education institutions (HEIs) and their Indian partner institutions to design and deliver academically rigorous short-term mobility opportunities in India for undergraduate students from UK HEIs.</p>
                    <p class="text-justify">
                        The objectives of the UKIERI Mobility Programme: Study in India scheme are to:
                        <ul>
                            <li>Increase the levels of outward student mobility from the UK, in line with the UK's national strategy on outward student mobility and UUKi's national campaign <a href="https://www.universitiesuk.ac.uk/International/go-international/stand-out" target="_blank">Go International: Stand Out</a>; </li>
                            <li>Enhance the employability of UK graduates, recognizing the positive correlation between international experience, academic performance and graduate employability;</li>
                            <li>Support the internationalisation of Indian higher education institutions in line with the Government of India's 'Study in India' programme through the diversification of the student body, and through establishing links with the potential to seed deeper institutional partnerships and research collaboration.</li>
                        </ul>
                    </p>
                    <p class="text-justify text-italic">The programme will be funded by the UK and Indian Governments as part of Phase 3 of the UK-India Education Research Initiative and delivered by the British Council, Universities UK International and EdCIL in India.</p>
                    <p class="text-justify">Please go through the link for more details on the programme -<a href="https://www.universitiesuk.ac.uk/International/funding-and-opportunities/Pages/uk-india-education-research-initiative.aspx" target="_blank">UKIERI mobility scheme: Study in India</a> call is open for applications..</p>
                    <p class="text-justify"><strong>Call closes: Monday 14 October 2019</strong></p>
                </div>
            </div>
            @*<div class="col-sm-4 wow fadeInRight">
                    <div class="institute_logo"> <a href=""> <img src="~/img/iit.png" class="img-responsive" /> </a> </div>
                </div>*@
        </div>
        @*<div class="row wow fadeinup">
                <div class="col-sm-4">
                    <center>
                        <a href="">
                            <div class="single-service abt_icons">
                                <i class="fa fa-book"></i>
                                <h4>courses &amp; programme</h4>
                            </div>
                        </a>
                    </center>
                </div>
                <div class="col-sm-4">
                    <center>
                        <a href="">
                            <div class="single-service abt_icons">
                                <i class="fa fa-tasks"></i>
                                <h4>area of expert</h4>
                            </div>
                        </a>
                    </center>
                </div>
                <div class="col-sm-4">
                    <center>
                        <a href="">
                            <div class="single-service abt_icons">
                                <i class="fa fa-building"></i>
                                <h4>infrastructure (campus &amp; library)</h4>
                            </div>
                        </a>
                    </center>
                </div>
                <div class="col-sm-4">
                    <center>
                        <a href="">
                            <div class="single-service abt_icons">
                                <i class="fa fa-rupee"></i>
                                <h4>fees/scholarship/fellowship</h4>
                            </div>
                        </a>
                    </center>
                </div>
                <div class="col-sm-4">
                    <center>
                        <a href="">
                            <div class="single-service abt_icons">
                                <i class="fa fa-image"></i>
                                <h4>photo gallery</h4>
                            </div>
                        </a>
                    </center>
                </div>
                <div class="col-sm-4">
                    <center>
                        <a href="">
                            <div class="single-service abt_icons">
                                <i class="fa fa-location-arrow"></i>
                                <h4>how to reach &amp; climates</h4>
                            </div>
                        </a>
                    </center>
                </div>

            </div>*@
    </div>
</div>

