
@{
    ViewBag.Title = "Indian Art & Culture | Diversity in India | Cultural Studies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags {
    <meta name='Title' content='Indian Art & Culture | Diversity in India | Cultural Studies' />
    <meta name='description' content='Students from abroad get amazed by rich Indian culture and its diversity. India is known as a fusion of old traditional values, customs, beliefs and the modern principles.' />
    <link rel="canonical" href="https://www.studyinindia.gov.in/whyindiaculture" />

}

<div class="whyIndiaImg_part"> <img src="/img/why_india.jpg" class="img-responsive" /> </div>
<div class="service-area">
    <div class="whyIndia_part">
        <div class="col-xs-12 col-md-2">
            <div class="course-details-right">
                <ul class="whyIndia_new">
                    <li class="">
                        <center>
                            <a href="/whyIndia">
                                <img src="/img/icons/why_icon2.png" /> <br />
                                Why India?
                            </a>
                        </center>
                    </li>
                    <li class="">
                        <center>
                            <a href="/whyindiaeducation">
                                <img src="/img/icons/edu_icon2.png" /> <br />
                                Education
                            </a>
                        </center>
                    </li>
                    <li>
                        <center>
                            <a href="/whyindiatravel">
                                <img src="/img/icons/travel_icon2.png" /> <br />
                                Travel
                            </a>
                        </center>
                    </li>
                    <li class="current">
                        <center>
                            <a href="/whyindiaculture">
                                <img src="/img/icons/culture_icon.png" /> <br />
                                Culture
                            </a>
                        </center>
                    </li>
                    <li class="">
                        <center>
                            <a href="/whyindiaexperiences">
                                <img src="/img/icons/experience_icon2.png" /> <br />
                                Experiences
                            </a>
                        </center>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-md-10 whyPage_text">
            <h4 class="whyIndia_title"><strong>Culture, Art and Religion</strong></h4>
            <p class="text-justify">India is the seventh-largest and is set to become, demographically the youngest nation in the world by 2030. With 29 states and 7 union territories and as many as 22 official languages, religions such as hinduism, islam, sikhism, buddhism, jainism and christianity India truly embodies the spirit of unity in diversity! The country, its people, art, culture, heritage and the education system blends tradition and modernity seamlessly.</p>
            <p class="text-justify">India believes in "Vasudhaiva kutumbakam" (the world is a family). A secular nation, tolerant of each other's beliefs, customs and values it celebrates diwali (hindu festival of lights), eid (islamic religious festival) and christmas (birth of jesus christ) among others with equal fervor.</p>
            <p class="text-justify">Art forms such as dance and music are integral to India. Bharatnatyam, odisi, kathakali, kathak, kuchipudi are various dance forms and hindustani and carnatic are two major music styles which celebrates India's heritage. World famous dancers uday shankar and pandit birju maharaj to musicians such as ravi shankar, zubin mehta and oscar winner ar rahman; award-winning authors such as amitava ghosh, arundhati roy, kiran desai, salman rushdie all underline the rich cultural legacy of India.</p>
        </div>
    </div>
    <div class="clearfix"></div>
</div>