
@{
    ViewBag.Title = "Passport";
    Layout = "~/Views/Shared/_Layoutportal.cshtml";
}

@section PageHead{
    <div class="row">
        <div class="col-md-12">
            <h3>
                Passport - Travel Plan

            </h3>
        </div>
    </div>
}


<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form method="post" id="frm">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Do you have a valid passport?</label>
                                <select class="form-control" required id="HaveValidPassport" name="HaveValidPassport">
                                    <option value="">--Select--</option>
                                    <option>Yes, I have</option>
                                    <option>Applied for a passport</option>
                                    @if (Session["CountryID"] != null)
                                    {
                                        if (Session["CountryID"].ToString() == "16")
                                        {
                                            <option>I have Nepalese citizenship document</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row divShowHide" id="divYes" style="display:none;">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Passport Number</label>
                                <input type="text" class="form-control ctrlAll ctrlYes" placeholder="Passport Number" name="PassportNumber" id="PassportNumber" @*data-parsley-pattern="^[a-zA-Z]{1,2}[0-9]{7}$" data-parsley-pattern-message="Enter valid passport number."*@ maxlength="15"/>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Expiry Date</label>
                                <input type="text" class="form-control ctrlAll ctrlYes datepicker" id="PassportExpiryDate" name="PassportExpiryDate" placeholder="DD-MM-YYYY" readonly="" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Upload copy of Passport</label>
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="file" id="PassportDocument" name="PassportDocument" class="ctrlAll ctrlYes" />
                                        @*<input type="hidden" id="PassportDoc" name="PassportDoc" />*@
                                    </div>
                                    <div class="col-md-6">
                                        <a class="btn btn-primary btndoc" target="_blank" href="" id="btnPassportDocument" data-href="" style="display:none;">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row divShowHide" id="divApplied" style="display:none;">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Application Number</label>
                                <input type="text" class="form-control ctrlAll ctrlApplied" placeholder="Application Number" name="ApplicationNumber" id="ApplicationNumber" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Upload supporting docs</label>
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="file" name="ApplicationDocument" id="ApplicationDocument" class="ctrlAll ctrlApplied" />
                                    </div>
                                    <div class="col-md-6">
                                        <a id="btnApplicationDocument" target="_blank" class="btn btn-primary  btndoc" data-href="" href="" style="display:none">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row divShowHide" id="divNepalese" style="display:none;">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Citizenship Number</label>
                                <input type="text" class="form-control ctrlAll ctrlNepalese" placeholder="Citizenship Number" id="CitizenshipNumber" name="CitizenshipNumber" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Issue Date</label>
                                <input type="text" class="form-control ctrlAll ctrlNepalese" placeholder="DD-MM-YYYY" name="CitizenshipIssueDate" id="CitizenshipIssueDate" readonly="" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Upload copy of citizenship document</label>
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="file" id="CitizenshipDocument" name="CitizenshipDocument" class="ctrlAll ctrlNepalese" />
                                    </div>
                                    <div class="col-md-6">
                                        <a id="btnCitizenshipDocument" target="_blank" class="btn btn-primary btndoc" data-href="" href="" style="display:none">View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" id="btnSave">Save</button>
                                <a class="btn btn-default" href="~/admission/travelplan">Back</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/assets/lib/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/assets/lib/jQueryConfirm/jquery-confirm.min.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/assets/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/assets/lib/parsley/parsley.min.js"></script>
    <script src="~/assets/lib/jQueryConfirm/jquery-confirm.min.js"></script>
    <script src="~/assets/lib/jQueryConfirm/jcFunctions.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#PassportExpiryDate").datepicker({
                orientation: "left",
                autoclose: !0,
                dateFormat: "dd-mm-yy",
                todayHighlight: true,
                changeMonth: true,
                changeYear: true,
                minDate: new Date()
            });
            var newCurYear = new Date().getFullYear();
            $("#CitizenshipIssueDate").datepicker({
                orientation: "left",
                autoclose: !0,
                dateFormat: "dd-mm-yy",
                yearRange: '1966:' + newCurYear,
                todayHighlight: true,
                changeMonth: true,
                changeYear: true
            });
            fill_data();
            $('#HaveValidPassport').on('change', function (e) {
                var text = $(this).val();
                $('.divShowHide').hide();
                $('.ctrlAll').removeAttr('required');
                $('.ctrlAll').val('');
                $('.btndoc').attr('href', '').attr('data-href', '');
                if (text == 'Yes, I have') {
                    $('#divYes').show();
                    $('.ctrlYes').attr('required', true);
                    if ($('#btnPassportDocument').attr('data-href') != '') {
                        $('#PassportDocument').removeAttr('required');
                    }
                } else if (text == 'Applied for a passport') {
                    $('#divApplied').show();
                    $('.ctrlApplied').attr('required', true);
                    if ($('#btnApplicationDocument').attr('data-href') != '') {
                        $('#ApplicationDocument').removeAttr('required');
                    }
                } else if (text == 'I have Nepalese citizenship document') {
                    $('#divNepalese').show();
                    $('.ctrlNepalese').attr('required', true);
                    if ($('#btnCitizenshipDocument').attr('data-href') != '') {
                        $('#CitizenshipDocument').removeAttr('required');
                    }
                } else {

                }
            });
            $('#btnSave').on('click', function (e) {
                e.preventDefault();
                var frm = $('#frm');
                var frmParsley = frm.parsley();
                frmParsley.validate();
                if (!frm.parsley().isValid()) {
                    return false;
                }
                var btn = $(this);
                if (btn.hasClass('disabled')) {
                    return false;
                }
                var oldText = btn.text();
                btn.text('Processing.....');
                btn.attr('disabled', true);
                btn.addClass('disabled');

                var fileControl;
                var textToBeCheck = $('#HaveValidPassport').val();
                if (textToBeCheck == 'Yes, I have') {
                    fileControl = $("#PassportDocument");
                    fileUpload = $("#PassportDocument").get(0);
                } else if (textToBeCheck == 'Applied for a passport') {
                    fileControl = $("#ApplicationDocument");
                    fileUpload = $("#ApplicationDocument").get(0);
                } else if (textToBeCheck == 'I have Nepalese citizenship document') {
                    fileControl = $("#CitizenshipDocument");
                    fileUpload = $("#CitizenshipDocument").get(0);
                }
                var files = fileUpload.files;
                var fileData = new FormData();
                if (window.FormData !== undefined) {
                    if (fileControl.get(0).files.length > 0) {
                        var FileSize = fileControl.get(0).files[0].size;
                        var fileExtension = ['png', 'jpg', 'jpeg','pdf'];
                        if ($.inArray(fileControl.val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                            ErrorMessageCallBack("Only formats are allowed : " + fileExtension.join(', '), function () {
                                btn.text(oldText);
                                btn.removeAttr('disabled');
                                btn.removeClass('disabled');
                            });
                            return;
                        }
                        if ("3145728" >= FileSize) {

                        } else {
                            ErrorMessageCallBack("Only 3 Mb file size allow!", function () {
                                btn.text(oldText);
                                btn.removeAttr('disabled');
                                btn.removeClass('disabled');
                            });
                            return;
                        }
                    } else {
                        if (textToBeCheck == 'Yes, I have') {
                            fileData.append('PassportDocument', $('#btnPassportDocument').attr('data-href'));
                        } else if (textToBeCheck == 'Applied for a passport') {
                            fileData.append('ApplicationDocument', $('#btnApplicationDocument').attr('data-href'));
                        } else if (textToBeCheck == 'I have Nepalese citizenship document') {
                            fileData.append('CitizenshipDocument', $('#btnCitizenshipDocument').attr('data-href'));
                        }
                    }
                } else {
                    if (textToBeCheck == 'Yes, I have') {
                        fileData.append('PassportDocument', $('#btnPassportDocument').attr('data-href'));
                    } else if (textToBeCheck == 'Applied for a passport') {
                        fileData.append('ApplicationDocument', $('#btnApplicationDocument').attr('data-href'));
                    } else if (textToBeCheck == 'I have Nepalese citizenship document') {
                        fileData.append('CitizenshipDocument', $('#btnCitizenshipDocument').attr('data-href'));
                    }
                }
                if (files.length > 0) {
                    for (var i = 0; i < files.length; i++) {
                        fileData.append(files[i].name, files[i]);
                    }
                } 
                fileData.append('HaveValidPassport', $('#HaveValidPassport').val());
                if (textToBeCheck == 'Yes, I have') {
                    fileData.append('PassportNumber', $('#PassportNumber').val());
                    fileData.append('PassportExpiryDate', $('#PassportExpiryDate').val());
                } else if (textToBeCheck == 'Applied for a passport') {
                    fileData.append('ApplicationNumber', $('#ApplicationNumber').val());
                } else if (textToBeCheck == 'I have Nepalese citizenship document') {
                    fileData.append('CitizenshipNumber', $('#CitizenshipNumber').val());
                    fileData.append('CitizenshipIssueDate', $('#CitizenshipIssueDate').val());
                }
                fileData.append('__RequestVerificationToken', $('input[name="__RequestVerificationToken"]', $('#frm')).val());
                $.ajax({
                    method: 'POST',
                    url: $('#hdfBaseUrl').val() + 'admission/TravelPlan/SavePassport',
                    data: fileData,
                    async: true,
                    cache: false,
                    contentType: false, // Not to set any content header
                    processData: false
                }).done(function (data) {
                    if (data['c'] == 'success') {
                        SuccessMessageCallBack(data['m'], function () {
                            btn.text(oldText);
                            btn.removeAttr('disabled');
                            btn.removeClass('disabled');
                        });
                        fill_data();
                    } else if (data['c'] == 'alreadyexists') {
                        ErrorMessage(data['m']);
                        btn.text(oldText);
                        btn.removeAttr('disabled');
                        btn.removeClass('disabled');
                    } else if (data['c'] == 'sessionexpired') {
                        ErrorMessage(data['m']);
                        btn.text(oldText);
                        btn.removeAttr('disabled');
                        btn.removeClass('disabled');
                    } else if (data['c'] == 'servererror') {
                        ErrorMessage(data['m']);
                        btn.text(oldText);
                        btn.removeAttr('disabled');
                        btn.removeClass('disabled');
                    }
                }).error(function () {
                    ErrorMessage('Processing error. Kindly refresh page and try again!');
                    btn.text(oldText);
                    btn.removeAttr('disabled');
                    btn.removeClass('disabled');
                });
            });
        });

        function fill_data() {
            $.ajax({
                url: $('#hdfBaseUrl').val() + 'admission/TravelPlan/SelectPassport'
            }).done(function (data) {
                if (data['c'] == 'success') {
                    $.each(data['List'], function (i, item) {
                        $('#HaveValidPassport').val(item['HaveValidPassport']).trigger('change');
                        var text = item['HaveValidPassport'];
                        if (text == 'Yes, I have') {
                            $('#PassportNumber').val(item['PassportNumber']);
                            $('#PassportExpiryDate').val(item['PassportExpiryDate']);
                            $('#btnPassportDocument').attr('href', $('#hdfBaseUrl').val() + item['PassportDocument']);
                            $('#btnPassportDocument').attr('data-href', item['PassportDocument']);
                            $('#btnPassportDocument').show();
                            if ($('#btnPassportDocument').attr('data-href') != '') {
                                $('#PassportDocument').removeAttr('required');
                            }
                        } else if (text == 'Applied for a passport') {
                            $('#ApplicationNumber').val(item['ApplicationNumber']);
                            $('#btnApplicationDocument').attr('href', $('#hdfBaseUrl').val() + item['ApplicationDocument']);
                            $('#btnApplicationDocument').attr('data-href', item['ApplicationDocument']);
                            $('#btnApplicationDocument').show();
                            if ($('#btnApplicationDocument').attr('data-href') != '') {
                                $('#ApplicationDocument').removeAttr('required');
                            }
                        } else if (text == 'I have Nepalese citizenship document') {
                            $('#CitizenshipNumber').val(item['CitizenshipNumber']);
                            $('#CitizenshipIssueDate').val(item['CitizenshipIssueDate']);
                            $('#btnCitizenshipDocument').attr('href', $('#hdfBaseUrl').val() + item['CitizenshipDocument']);
                            $('#btnCitizenshipDocument').attr('data-href', item['CitizenshipDocument']);
                            $('#btnCitizenshipDocument').show();
                            if ($('#btnCitizenshipDocument').attr('data-href') != '') {
                                $('#CitizenshipDocument').removeAttr('required');
                            }
                        }
                    });
                } else if (data['c'] == 'servererror') {
                    
                }
            }).error(function () {
                
                btn.text(oldText);
                btn.removeAttr('disabled');
                btn.removeClass('disabled');
            });
        }
    </script>
}