@using SIIRepository.Adminservice
@using System.Data
@using System.Configuration
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default panel-border-color panel-border-color-custom panel-table">
            <div class="panel-heading">
                Document Verification - Verified Students
            </div>
            <div class="tab-container">
                <div class="tab-content">
                    @*Approx Cost Of living*@
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel-body table-responsive">
                                <table class="table table-bordered table-striped table-hover table-fw-widget" id="tbl">
                                    <thead>
                                        <tr>
                                            <th>Sr. no</th>
                                            <th>Student ID</th>
                                            <th>Student Name</th>
                                            <th>Country</th>
                                            <th>Selected Programs</th>
                                            <th>Verify Document</th>
                                            <th>Verify Date</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodyCostofliving"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section styles{
    <link rel="stylesheet" type="text/css" href="~/assets/lib/datatables/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/css/style.css" type="text/css" />
}
@section scripts{
    <script src="~/assets/lib/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="~/assets/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/lib/datatables/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/assets/lib/datatables/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/lib/datatables/plugins/buttons/js/dataTables.buttons.js" type="text/javascript"></script>
    <script src="~/assets/lib/datatables/plugins/buttons/js/buttons.html5.js" type="text/javascript"></script>
    <script src="~/assets/lib/datatables/plugins/buttons/js/buttons.flash.js" type="text/javascript"></script>
    <script src="~/assets/lib/datatables/plugins/buttons/js/buttons.print.js" type="text/javascript"></script>
    <script src="~/assets/lib/datatables/plugins/buttons/js/buttons.colVis.js" type="text/javascript"></script>
    <script src="~/assets/lib/datatables/plugins/buttons/js/buttons.bootstrap.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {


            var table = $('#tbl').DataTable({
                //orderCellsTop: true,
                //fixedHeader: true,
                //searching: true,
                //paging: true,
                //info: true,                   // TO DISPLAY THE INFO 'SHOWING 1 TO X OF Y ENTRIES'
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
                //dom: 'Bfrtip',
                //buttons: [
                //    {
                //        extend: 'csvHtml5',
                //        text: 'Export',
                //        titleAttr: 'CSV'
                //    },
                //],
                //columnDefs: [{
                //    "targets": 5,
                //    "orderable": false
                //}],
                ajax: {
                    'url': $('#hdfBaseUrl').val() + 'Admin/VerifyDocuments/FillData',
                    'data': { For: 'Verified' },
                    'dataType': 'json',
                    'cache': false,
                    'contentType': 'application/json; charset=utf-8'
                },
                "aoColumns": [
                    { 'mData': 'Srno', 'sType': 'num', "bVisible": true, "bSearchable": false },
                    { 'mData': 'studentid', 'sType': 'string', 'bVisible': true },
                    { 'mData': 'StudentName', 'sType': 'string', 'bVisible': true },
                    { 'mData': 'Country_Name', 'sType': 'string', 'bVisible': true },
                    { 'mData': 'ProgramLevel', 'sType': 'string', 'bVisible': true },
                    { 'mData': 'IsVerified', 'sType': 'string', 'bVisible': true },
                    { 'mData': 'VerifiedDate', 'sType': 'string', 'bVisible': true }
                ],
                "columnDefs": [{
                    "render": function (data, type, row) {
                        return '<a href="' + $('#hdfBaseUrl').val() + 'Admin/VerifyDocuments/StudentData?id=' + data + '">' + data + '</a>';
                    },
                    "targets": 1
                }]
            });
            //var newTr = $('#tbl thead tr').clone(true);
            //newTr.find('th').removeClass('sorting_asc').removeClass('sorting');
            //$('#tbl thead').append(newTr);
            //$('#tbl thead tr:eq(1) th').each(function (i) {
            //    var title = $(this).text();
            //    if (i != 0) {
            //        $(this).html('<input type="text" placeholder="Search ' + title + '" />');

            //        $('input', this).on('keyup change', function () {
            //            if (table.column(i).search() !== this.value) {
            //                table
            //                    .column(i)
            //                    .search(this.value)
            //                    .draw();

            //            }
            //        });
            //    }
            //});
            //$('#tbl tbody tr td:eq(1)').each(function (i) {
            //    var StudentID = $(this).text();
            //    var StudentName = $(this).parent().find('td:eq(2)')
            //    if (i != 0) {
            //        $(this).html('<a href="' + $('#hdfBaseUrl').val() + 'Admin/PreviewStudent?studentid=' + StudentID + '&Name=' + StudentName + '">' + StudentID + '" </a>');
            //    }
            //});
        });
    </script>
}

