
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags {
    <link rel="canonical" href="https://www.studyinindia.gov.in/channel" />

}
<div class="inner-title-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="inner-title-left">
                    <h2>SII: Empanelled Credible Channel Partners</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="inner-ttile-right text-right">
                    <h4><a href="@Url.Content("~/")home">Home</a> / SII: Empanelled Credible Channel Partners</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="service-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 wow fadeInLeft">
                <div class="section-title">
                    <h4 class="inner-title"><span>Study in India: Empanelled Credible Channel Partners</span></h4>
                    <p class="text-justify">
                        This model is based on cooperative and collaborative multilateral relationship with channel partners of highest credibility serving the cause of education. SII would reach out to select a few highly credible channel partners based on their proven competence and permit them to reach out to potential students to disseminate the information relating to the partner institutions and interfacing with the students to apply for different programs.

                    </p>
                    <p class="text-justify">
                        The details on the partnership program would be communicated separately based on individual queries.
                    </p>
                </div>
            </div>

        </div>

    </div>
</div>
