
@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="background-image:url(../../img/privacyBG.jpg);background-repeat:repeat-y;background-size: contain;background-position: center;">
    <div class="">
        <div class="container whiteBG">
            <div class="sliderTopTitle">
                <div class="container">
                    <div class="row">
                        <h4>Privacy Policy</h4>
                    </div>
                </div>
            </div>
            <div class="service-area section-padding">
                <div class="">
                    <div class="">
                        <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                            <div class="section-title indSat_section">
                                <h4><strong>Copyright</strong></h4>
                                <p class="text-justify">WhatsApp, Facebook chatbot and other "Study in India" tools are all copyright materials owned by EdCIL India Limited unless otherwise indicated.  You may not reproduce, adapt, copy, distribute or incorporate any work, or any trademark appearing on this site, including Study in India logos or trademarks, unless we give you written permission.</p>

                                <h4><strong>Collection of Personal Information</strong></h4>
                                <p class="text-justify"><em>How is your personal information collected?</em></p>
                                <p class="text-justify">All and any information collected, including your personal information, is done by lawful and fair means. All information we seek will be collected directly from you and / or your authorised representative, to provide services to you. You could also provide your personal information over social media networks such as Facebook and Whatsapp. </p>
                                <p class="text-justify">We do not collect any information relating to online transactions or other sensitive information. Any information that we do not require to render services to you, will not be requested either optionally or mandatorily. </p>
                                <p class="text-justify">We will take your consent before collecting any information, sensitive or otherwise. We will need you to disclose all the right information for registration and admission purposes.</p>

                                <h4><strong>Processing Your Personal Information</strong></h4>
                                <p class="text-justify"><em>How do we use your personal information?</em></p>
                                <p class="text-justify">We will use or disclose any information provided to us for purposes we have collected it for, following your consent, or if required for a legal purpose. This data includes your registration details, demographic & background information, academic performance, & choice of institutions. The data would be collected from Study in India registered accounts to facilitate the counselling & admission process for respective applications to the SII partner institutions.</p>
                                <p><strong>WhatsApp Notifications</strong></p>
                                <p class="text-justify">Registered users with the Study in India program would receive official notifications from the team about program updates, timelines, student's application status, etc. This communication will proceed when a contact number is provided by the student during the registration process, which would be updated on WhatsApp messenger system for this purpose.</p>
                                <p><strong>Disclosure to institutes</strong></p>
                                <p class="text-justify">The information provided by you is stored and accessed only as required to provide our services to you and will be shared with institutes during admission processes. The data we transfer to institutes is subject to use restrictions and safeguards against unauthorised access.</p>
                                <p class="text-justify">The following data is collected from the users to facilitate a targeted communication, latest updates, of Study in India program offerings through the advertisements to be done on search engines, social media platforms, emailers, etc.:</p>
                                <ul class="privacyUL">
                                    <li>Website user behavior statistics</li>
                                    <li>Search terms</li>
                                    <li>IP address</li>
                                    <li>Operating systems (eg. Mac, Windows)</li>
                                    <li>Location of user</li>
                                    <li>Internet activity on other sides</li>
                                </ul>
                                <p class="text-justify">The information gathered here is only for statistical analysis. No individual user data is being stored. </p>

                                <h4><strong>Data Storage</strong></h4>
                                <p class="text-justify">Your personal information will be stored in servers owned by Study in India or its service providers, which may include those in countries other than India.</p>
                                <h4><strong>Retention of your personal information </strong></h4>
                                <p class="text-justify">Your personal information will remain with us till such time you complete your tenure with Study in India. However, if you intend to join our community, your personal information will be retained for as long as you’d consent to. We also retain necessary information for any legal purposes. </p>
                                <h4><strong>Linked Sites</strong></h4>
                                <p class="text-justify">This website could contain links that are not under the Study in India purview. Study in India does not promote, or is responsible for any information available on third party websites, which is not under the control of Study in India.</p>
                                <h4><strong>Cookies</strong></h4>
                                <p class="text-justify">Study in India may collect additional personal information about you via the IP address or domain being used, if you access our website, to better match your needs. However, if you do not wish the information to be collected by cookies, you’ll only need to disable the cookies function. </p>
                                <h4><strong>Confidentiality and Security</strong></h4>
                                <p class="text-justify">The confidentiality and security of your personal information is as important to us as is to you. We have invested resources into protecting and safekeeping your personal data. We take all steps to keep your information safe with us, regardless of where the information is stored or transferred. </p>
                                <h4><strong>Study in India Digital Privacy Policy</strong></h4>
                                <p class="text-justify">We adhere to the Data Protection Act and / or any other applicable laws, when collecting, using or dealing with any information provided by you. We only collect your personal information when you communicate or register with us, and in cases where you could visit our digital platforms.</p>
                                <p class="text-justify">We collect your personal information for the following purposes:</p>
                                <ul class="privacyUL">
                                    <li>Avail the services we offer to you</li>
                                    <li>Provide a better user experience when you use our digital platforms by improving our digital platform, marketing material and strategies. </li>
                                </ul>
                                <h4><strong>Your rights </strong></h4>
                                <p class="text-justify">You can seek access to any of your information held by us under the Data Protection Act, to withhold any information that you do not wish to be disclosed. </p>
                                <p class="text-justify">However, we shall not share information in the following cases: </p>
                                <ul class="privacyUL">
                                    <li>There is reason to suspect unlawful activity of a serious nature.</li>
                                    <li>There is a chance of revealing evaluative information in connection with our commercial processes.</li>
                                </ul>
                                <p class="text-justify">You have the following rights to your personal information that we hold:</p>
                                <ul class="privacyUL">
                                    <li>We will remove any / all data which we may have taken by mistake or do not require, on your request. </li>
                                    <li>A right to restrict processing information will be enabled as soon as you seek to update or revise any personal information shared with us.</li>
                                    <li>You can withdraw your consent for processing any information shared by you. </li>
                                    <li>You can also object to processing your information. </li>
                                    <li>We do not automate all of our processing activities and profiling, but we do warn you in case of one. </li>
                                    <li>You can request access to information shared by you anytime.</li>
                                </ul>

                                <h4><strong>Changes to the Policy </strong></h4>
                                <p class="text-justify">The right to update, change or modify the privacy policy at any time will be reserved with Study in India. The policy shall come to effect from the date of revision or modification.</p>

                                <h4><strong>Your acceptance of these terms</strong></h4>
                                <p class="text-justify">By registering to a Study in India account, submitting information to Study in India, you agree to the collection, use and disclosure of your information as described above.</p>
                                <p class="text-justify">If you do not agree to the terms of this policy, you will not be able to register to Study in India account, Study in India will not accept your form or enquiry, and your information will not be processed or referred on to Study in India or its institutions.</p>
                                 
                                <h4><strong>Disclaimer </strong></h4>
                                <p class="text-justify">Study in India does not store any information related to the user’s online transactions, verification details, account details (which has not been sought by Study in India during registration, either optionally or mandatorily) and any other information which would be a breach of reason of any disclosure (inadvertent or otherwise). </p>
                                <h4><strong>Contact</strong></h4>
                                <p class="text-justify">For queries, complaints and / or feedback, please connect with the Study in India team on the following: </p>
                                <p class="mb0"><strong><span class="orange-text">Toll Free Number:</span> +91 98994 50350</strong></p>
                                <p class="mb0"><strong><span class="orange-text">Whatsapp Number:</span> +91 81300 13265</strong></p>
                                <p class="mb0"><strong><span class="orange-text">Email ID:</span> help.studyinindia@gov.in</strong></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                            <center class="arrowDown">
                                <a class="text-center" href=""><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
@section styles{
    <style>
        .privacyUL {
            font-size: 15px;
            margin-bottom: 25px;
        }

        .whiteBG {
            background: rgba(255, 255, 255, 0.95);
        }

        .footer-widget-area {
            margin-top: 0;
        }

        .arrowDown {
            margin-top: 100px;
        }
    </style>
}