
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags {
    <link rel="canonical" href="https://www.studyinindia.gov.in/faqs" />
}
<div class="inner-title-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="inner-title-left">
                    <h2>FAQs</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="inner-ttile-right text-right">
                    <h4><a href="@Url.Content("~/")faqs">Home / FAQs</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="service-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 wow fadeInLeft">
                <div class="section-title">
                    <h4 class="inner-title"><span>FAQs</span></h4>
                    <h4><strong>Study in India Program</strong></h4>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        1. What are the benefits of studying in India with Study in India?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>SII is a collaborative project by the MHRD, Government of India. The program helps the global student community to study in globally-recognised premier institutes across India</p>
                                    <ol style="list-style-type: lower-roman;">
                                        <li>The SII program provides for 2000+ scholarships, valued at USD3500 each per annum for meritorious students.</li>
                                        <li>SII-partner institutes provide tuition fee waivers, ranging from 25%, 50% and 100%, to meritorious students.</li>
                                        <li>SII will provide end-to-end consultation and support to students applying to SII.</li>
                                        <li>SII has a 24/7 call support to clarify student queries throughout the process starting from registration till final admission in college.</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                        2. What is SII?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>The Study in India programme, a flagship project under the Ministry of HRD, the Govt. of India, was launched in April 2018. This program has been put together to facilitate and encourage the global student community to study in India, which offers a plethora of courses with its top-ranked institutes.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                        3. Where can I get counselled about Study in India?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Our website, <a href="www.studyinindia.gov.in">www.studyinindia.gov.in</a> , is the bedrock of our operations and what we have to offer to the international student community. You can also get in touch with us on our Toll Free Number (+919899450350), message and call us on our Whatsapp Number (+918130013265) and email us on <a href="mailto:help.studyinindia@gov.in">help.studyinindia@gov.in</a>.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                        4. How many courses and institutes are covered under Study in India?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse">
                                <div class="panel-body">
                                    India has the world’s third largest higher education network, with around 40,000 colleges and an approximate 1000 universities, which include both public and private institutes. SII has partnered with India’s top ranked 114 institutes, offering an approximate 2600 courses, which include mainstream courses and niche disciplines.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                        5. How can I apply to Indian institutes through Study in India?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>To join the Study in India programme, you’d need to register on our website (<a href="www.studyinindia.gov.in">www.studyinindia.gov.in</a>), where you can directly apply to the best Indian institutes of your choice and preference. All you’d need to do is follow our five step process, which is as follows:</p>
                                    <ul>
                                        <li><strong><i>Explore Courses </i></strong> - Find a course of your interest.</li>
                                        <li><strong><i>Register with SII </i></strong> - Register on the SII portal to be able to access our institutes.</li>
                                        <li><strong><i>Fill Application </i></strong> - Fill in the basic details and proceed to choose your preferences.</li>
                                        <li><strong><i>Complete Application </i></strong> - Submit application with preferred courses and institutes.</li>
                                        <li><strong><i>Prepare to SII </i></strong> - We are excited to see you in India.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                                        6. Where can I access the Study in India website?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseSix" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>You can gain access to the Study in India website - <a href="www.studyinindia.gov.in">www.studyinindia.gov.in</a>, across all cross-platform web browsers. However, if you aren’t able to access it via web browsers, you could use a VPN network extension to access the SII website.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                                        7. What courses do I have access to with  Study in India?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseSeven" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>SII-partner institutes offer a plethora of courses across various disciplines. The SII program has over 2600 courses ranging from Engineering, Law, Humanities, Arts, Allied Sciences, Business, while offering niche courses such as Yoga and Ayurveda.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
                                        8. How can I get in touch with the SII team?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseEight" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>You can get in touch with the Study in India team on WhatsApp (+91 8130013265), Toll Free Number (+91 9899450350) and on Facebook (<a href="https://www.facebook.com/studyinindiagov/" target="_blank">https://www.facebook.com/studyinindiagov/</a>). </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4><strong>Registrations</strong></h4>
                    <div class="panel-group" id="accordion2">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion2" href="#collapse21">
                                        1. What should I fill in the postal code field, if my country doesn’t have one?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse21" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>If your country does not have a ZIP code or a postal code, you’d need to fill the following on the application:</p>
                                    <ol style="list-style-type: square;">
                                        <li>Choose the country, ideally the ZIP code would automatically be locked for any entries, if the country does not have a postal code.</li>
                                        <li>However, in case the ZIP code field is still open for entry, then enter your country details and add 000000 on the ZIP code field.</li>
                                    </ol>
                                    <p>If the system still doesn’t approve the ZIP code given, please reach out to us on our Toll Free Number - +919899450350</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion2" href="#collapse22">
                                        2. I'm having trouble with grade conversion, how may I proceed?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse22" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Follow the given link - <a href="https://www.studyinindia.gov.in/GradesConversion">https://www.studyinindia.gov.in/GradesConversion</a>, for a list of grade conversion guidelines for your reference. This list should provide you with the equivalents of grades, GPAs and percentages. This list also appears on the choice-filling section for your perusal.  If you need further help, you can get in touch with us on our Toll Free Number - +919899450350.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion2" href="#collapse23">
                                        3. Is there a registration fee for the Ind-SAT exam?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse23" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>You will not have to pay to write the Ind-SAT exam. However, you’re eligible to appear for the Ind-SAT exam only if you’ve submitted your application to SII. You’ll be notified about applications for the Ind-SAT exam via email and a notice will be displayed on the Student Dashboard.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4><strong>Costs and Fees</strong></h4>
                    <div class="panel-group" id="accordion3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion3" href="#collapse31">
                                        1. What is the annual average living cost for an international student?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse31" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>The average cost for an international student is an estimated USD 5500. While the average tuition fees in India can vary across institutes - both public and private, living costs would be around USD2500, according to the student’s living standards and city of stay.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion3" href="#collapse32">
                                        2. What costs are covered under the SII Scholarship?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse32" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>The SII Scholarship would  ideally cover the following costs - admission fees, tuition fees, accommodation and food (canteen) expenses. However, if the annual fees is more than USD3500, then the scholarship would cover a part of the mentioned costs. Please note, the scholarship will not provide for a stipend or any out-of-pocket expenses.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion3" href="#collapse33">
                                        3. How much is the average tuition fees in India?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse33" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Tuition fees vary across private and public institutes. However, the average cost of tuition fees in India would be an approximate USD3000 , taking into account various factors.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion3" href="#collapse34">
                                        4. Is there a registration fee for the Ind-SAT exam?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse34" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>You will not have to pay to write the Ind-SAT exam. However, you’re eligible to appear for the Ind-SAT exam only if you’ve submitted your application to SII. You’ll be notified about applications for the Ind-SAT exam via email and a notice will be displayed on the Student Dashboard.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4><strong>Scholarships and Fee Waivers</strong></h4>
                    <div class="panel-group" id="accordion4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion4" href="#collapse41">
                                        1. What are the eligibility criteria to apply to the SII Scholarship?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse41" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>To be eligible for the SII Scholarship, students should have registered with SII, completed an application on our website - <a href="www.studyinindia.gov.in">www.studyinindia.gov.in</a> and been inducted into a SII-partner institute. The scholarships are awarded on the basis of the following.</p>
                                    <ol>
                                        <li>Students should have had a meritorious academic history in his / her secondary school, higher secondary school, and / or latest academic qualification.</li>
                                        <li>Students from the given list of countries on the website may appear for the Ind-SAT exam that is conducted by the SII team, and a merit list would be generated for the second-wave of shortlisting.</li>
                                        <li>The final shortlisted will be contacted by the SII team.</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion4" href="#collapse42">
                                        2. What costs are covered under the SII Scholarship?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse42" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>The SII Scholarship would  ideally cover the following costs - admission fees, tuition fees, accommodation and food (canteen) expenses. However, if the annual fees is more than USD3500, then the scholarship would cover a part of the mentioned costs. Please note, the scholarship will not provide for a stipend or any out-of-pocket expenses.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion4" href="#collapse43">
                                        3. I am a current SII scholar. Will I be converted into the ICCR scholarship?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse43" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>It is subjective. We suggest you get in touch with us on our Toll Free Number - +919899450350 or on our WhatsApp Number -+918130013265.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion4" href="#collapse44">
                                        4. Am I entitled to the SII scholarship till the completion of my course in India?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse44" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Yes, scholar students who have been awarded the SII Scholarship will be entitled to the scholarship till the completion of your course, subject to the study level of the course. To avoid any withdrawals of the scholarship, you should have passed all the subjects without any backlogs and should have been promoted to the next class. For further information, follow the link <a href="https://www.studyinindia.gov.in/scholarships/FeeWaiversandConcessions">https://www.studyinindia.gov.in/scholarships/FeeWaiversandConcessions</a>.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion4" href="#collapse45">
                                        5. Do I get a tuition waiver if I haven't received any scholarship?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse45" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Your dashboard should reflect either the scholarship or the fee waiver that you have been awarded. However, if neither have been displayed, then you haven’t received any waiver or scholarship.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4><strong>Courses</strong></h4>
                    <div class="panel-group" id="accordion5">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion5" href="#collapse51">
                                        1. How many courses and institutes are covered under Study in India?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse51" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>India has the world’s third largest higher education network, with around 40,000 colleges and an approximate 1000 universities, which include both public and private institutes. SII has partnered with India’s top ranked 114 institutes, offering an approximate 2600 courses, which include mainstream courses and niche disciplines.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion5" href="#collapse52">
                                        2. What courses do I have access to with  Study in India?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse52" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>SII-partner institutes offer a plethora of courses across various disciplines. The SII program has over 2600 courses ranging from Engineering, Law, Humanities, Arts, Allied Sciences, Business, while offering niche courses such as Yoga and Ayurveda.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion5" href="#collapse53">
                                        3. Can I change my course midway?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse53" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>While it is subjective, essentially if the institute allows a change of course, then it is acceptable. However, if you are an undergraduate student who is pursuing a course for 3 years, then you could only change into another undergraduate course which is 3 years long. For further clarifications, feel free to contact us on our Toll Free Number - +919899450350 or on our WhatsApp Number -+918130013265.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion5" href="#collapse54">
                                        4. How are certifications provided for niche courses?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse54" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Institutes will provide necessary certifications to students.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion5" href="#collapse55">
                                        5. Can I apply for medical courses with SII?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse55" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>SII-partner institutes only offer allied medical science courses, such as Pharmacy, Physiotherapy, Nursing, Medical Laboratory Technology,  within the medical education universe. India is home to some of the best medical colleges which offer quality and affordable  medical education. However, SII has not partnered with such institutes yet. For more information on pure medical courses, follow the link <a href="https://ntaneet.nic.in/ntaneet/welcome.aspx" target="_blank">https://ntaneet.nic.in/ntaneet/welcome.aspx</a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4><strong>Ind-SAT</strong></h4>
                    <div class="panel-group" id="accordion6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion6" href="#collapse61">
                                        1. Is it necessary to write the Ind-SAT exam, if I apply through Study in India?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse61" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>It is necessary to write the Ind-SAT exam, only if you’re seeking the SII Scholarship. The Ind-SAT exam is not for admission to Indian institutes, but to be awarded the SII Scholarship to meritorious students once you’ve been inducted into Indian institute(s).</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion6" href="#collapse62">
                                        2. What are the dates for Ind-SAT?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse62" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>We shall upload the dates soon. The Ind-SAT examination will be conducted in mid-May.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion6" href="#collapse63">
                                        3. Is there any negative marking for incorrect answers in Ind-SAT?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse63" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>There is no negative marking across the paper. Every correct answer will be scored 1 mark, and every incorrect or unattempted answer will not be scored.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion6" href="#collapse64">
                                        4. What is the syllabus for Ind-SAT?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse64" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Ind-SAT has the following sections - Verbal Reasoning, Logical Reasoning and Quantitative Aptitude. To view the complete syllabus of the Ind-SAT exam, follow the link - <a href="https://www.studyinindia.gov.in/scholarships/FeeWaiversandConcessions">https://www.studyinindia.gov.in/scholarships/FeeWaiversandConcessions</a>.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion6" href="#collapse65">
                                        5. Is there a registration fee for the Ind-SAT exam?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse65" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>You will not have to pay to write the Ind-SAT exam. However, you’re eligible to appear for the Ind-SAT exam only if you’ve submitted your application to SII. You’ll be notified about applications for the Ind-SAT exam via email and a notice will be displayed on the Student Dashboard.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4><strong>Recognised Degrees</strong></h4>
                    <div class="panel-group" id="accordion7">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion7" href="#collapse71">
                                        1. Are Indian institutes recognised globally?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse71" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>While, all Indian institutes  in the premier category under the University Grants Commission (UGC) regulations are assessed and accredited by NAAC (National Assessment and Accreditation Council),  the NIRF or the National Institute Ranking Framework ranks Indian universities and colleges.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion7" href="#collapse72">
                                        2. Where can I view the ranking list of SII-partner institutes?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse72" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Follow the link to have a look at the NIRF rankings of Indian universities - <a href="https://www.nirfindia.org/2019/OverallRanking.html" target="_blank">https://www.nirfindia.org/2019/OverallRanking.html</a>.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion7" href="#collapse73">
                                        3. How are institutes ranked in India?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse73" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>The NIRF (National Institute Ranking Framework) ranks Indian universities and colleges, based on the following five pillars - Teaching, Learning and Resources; Research and Professional Practices; Graduation Outcomes; Outreach and Inclusivity; and, Perception.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion7" href="#collapse74">
                                        4. Are degrees from SII-partner institutes recognised in the global market?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse74" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Yes, all courses with the SII-partner institutes are recognised globally, not only for further education opportunities but also for employment opportunities.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion7" href="#collapse75">
                                        5. I'm having trouble with grade conversion, how may I proceed?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse75" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Follow the given link - <a href="https://www.studyinindia.gov.in/GradesConversion">https://www.studyinindia.gov.in/GradesConversion</a>, for a list of grade conversion guidelines for your reference. This list should provide you with the equivalents of grades, GPAs and percentages. This list also appears on the choice-filling section for your perusal.  If you need further help, you can get in touch with us on our Toll Free Number - +919899450350.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4><strong>English Language Skills</strong></h4>
                    <div class="panel-group" id="accordion8">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion8" href="#collapse81">
                                        1. What is the medium of instruction at Indian universities?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse81" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>English is the medium of instruction in all Indian institutes / universities.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion8" href="#collapse82">
                                        2. What English proficiency tests are popular in India?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse82" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>It varies from institute to institute, but valid scores of IELTS or TOEFL are considered. Some institutes conduct an independent English exam to gauge the language skills of international students, instead of accepting English proficiency test scores.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion8" href="#collapse83">
                                        3. Am I still eligible to study in India if English is not my first language?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse83" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>If you score fairly well in either the institute’s English aptitude test or have a valid score in English proficiency tests such as IELTS or TOEFL, then we could work on improving your English skills with the institute you are inducted into.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion8" href="#collapse84">
                                        4. How could I improve my English language skills?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse84" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Bridge courses would be available for students, who need assistance and support for improving their English language skills. The eligibility criteria for a bridge course are as follows.</p>
                                    <ol>
                                        <li>If a student has scored less than 50% in Verbal Reasoning of the IND-SAT</li>
                                        <li>If a student has completed high school / undergraduate studies from a non-English medium school in their home countries</li>
                                        <li>If a student has scored less than 6.5 in IELTS, in the last year</li>
                                        <li>If a student has scored less than 85 in total and / or less than 22 in writing in TOEFL, in the last year</li>
                                        <li>Exception will be given on request of the student, based on the list of countries, outside the EPI (English Proficiency Index) Top 100 - Bhutan, Rwanda, Tanzania, Uganda, Afghanistan, Kazakhstan, Turkmenistan, Vietnam, Kuwait, Algeria, Tajikistan, Syria, Iraq, Saudi Arabia, Oman, Sudan, Myanmar
                                        <br />
                                        (<a href="https://www.ef.com/wwen/epi/,https://www.ef.com/in/epi/regions/asia" target="_blank">https://www.ef.com/wwen/epi/,https://www.ef.com/in/epi/regions/asia</a>)</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4><strong>Visa Regulations</strong></h4>
                    <div class="panel-group" id="accordion9">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion9" href="#collapse91">
                                        1. Where can I apply for the Indian Student Visa?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse91" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>You’ll need to download a visa form from the given link - https://indianvisaonline.gov.in/visa/, following which you’d need to submit a completed application with supporting documents to your nearest embassy. For further information, you can follow the link - <a href="https://www.studyinindia.gov.in/planyourstudies/visaregulations" target="_blank">https://www.studyinindia.gov.in/planyourstudies/visaregulations</a> and / or contact us on our Toll Free Number - +919899450350 or on our WhatsApp Number -+918130013265</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion9" href="#collapse92">
                                        2. Can I attend short-term courses on my tourist visa?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse92" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>Since the validity of a tourist visa to India varies from country to country, it is suggested that students pursue long-term, short-term and niche courses on a student visa instead of a tourist visa.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion9" href="#collapse93">
                                        3. Would I get a  work visa after graduation?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse93" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>The SII team is not allowed to help international students with Indian work visas. However, you may take the assistance of your institute and companies for this.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle blue-text" data-toggle="collapse" data-parent="#accordion9" href="#collapse94">
                                        4. Do I get medical insurance with my student visa?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse94" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>The Indian student visa doesn’t provide for medical insurance. However, some institutes do provide medical insurance to their international students.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>