
@{
    ViewBag.Title = "Foreign National Registration | India";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags {
    <meta name='Title' content='Foreign National Registration | India' />
    <meta name='description' content='Students who are coming to India on Student’s visa for more than 180 days are required to register himself or herself within 14 days of their first arrival with the concerned FRRO (Foreigner Regional Registration Office).' />
}
<div class="inner-title-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="inner-title-left">
                    <h2>Plan Your Studies</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="inner-ttile-right text-right">
                    <h4><a href="@Url.Content("~/")planyourstudies/frro">Requirements</a> / FRRO</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="service-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                <div class="section-title">
                    <h3 class="inner-title"><span>Registration Requirements for Foreign National</span></h3>
                    <h4 class="inner-title-h4">Registration is required for:</h4>
                    <p class="text-justify">Every Foreigner visiting India on Student Visa(S) (including those coming for study of Yoga, Vedic Culture, Indian system of dance and Music), Research Visa(R), Medical Visa(M) or Medical Attendant (MED-X) Visa and Employment Visa(E) valid for more than 180 days is required to get himself / herself registered with concerned FRRO , within 14 days of his/her first arrival, irrespective of the duration of his / her stay. Even in other Visa types, if the Indian Visa has a stipulation/ observation/ Special endorsement for registration made by Indian Mission / Embassy on the Indian Visa and on Employment, Medical, Medical Attendant Visas for less than 180 days, the Foreigners are required to be registered</p>
                    <p class="text-justify">Foreigners visiting India on other categories of long term Visa (valid for more than 180 days) including Business/Entry(X) / Journalist Visa would not require registration with the concerned FRRO if duration of his/her  stay does not exceed 180 days on a single visit. In case a foreigner intends to stay for more than 180 days on a single visit he / she should get himself registered well before the expiry of 180 days. Foreigners possessing  tourist Visa are required registration only if they re-enter within 60 days of the last departure and they are asked to register through special endorsement etc</p>
                    <p class="text-justify">Children below 16 years of age are exempt from Registration if they have entered on PIO card or on any type of Visa and except where specified other wise. It is mandatory for all foreigners to personally appear at the concerned FRRO office for obtaining any Visa related services.</p>
                    <h4 class="inner-title-h4">Late Registration:</h4>
                    <p class="text-justify">No fee is charged for registration, but a foreigner who has delayed registration and if delay is condoned, a penalty in Indian currency equivalent to US$ 30/- for late registration may be charged.</p>
                    <h4 class="inner-title-h4">Overstay:</h4>
                    <p class="text-justify">In the event of overstay foreigner is liable for prosecution under Foreigners Act 1946 and imprisonment up to 5 years with fine & expulsion from India.</p>
                    <h4 class="inner-title-h4">Report of Absence from Registered Address:</h4>
                    <p class="text-justify">If at any time a foreigner proposes to be absent from his / her   registered address for a continuous period of eight weeks or more or change his / her registered address then the foreigner is required to inform in person or through an authorized representative or by registered post to his / her Registration Officer of his / her intention to change his registered address or to leave either temporarily or permanently the jurisdiction of the Registration Officer. In case of return, the foreigner should inform the Registration Officer of the date of return and in case the foreigner is moving away inform the change of address. Any changes made subsequently should also be intimated to the Registration Officer. Every foreigner, who stays for a period of more than eight weeks at any place in any district other than the district in which his / her registered address is situated, shall inform the Registration Officer of that district of his / her presence. This can be made in writing and the requirements deemed to have been fulfilled if, prior to arrival the foreigner furnishes to the Registration Officer of the said district intimating the dates of his proposed arrival and departure from the district. </p>
                    <h4 class="inner-title-h4">Change in Registered Address:</h4>
                    <p class="text-justify">A foreigner shall be deemed to have changed his registered address, if he/she changes his residence from one place to another place in India and if having no residence, he leaves his registered address knowing that he is not likely to return within six months of leaving it.</p>
                    <h4 class="inner-title-h4">Reports of Other Changes except Address:</h4>
                    <p class="text-justify">Every foreigner is required to furnish to the Registration Officer of the district in which his registered address is situated, particulars of any circumstances affecting in any manner the accuracy of the particulars recorded in his certificate of registration within fourteen days after the circumstance has occurred, and generally shall provide to the Registration Officer all information as may be necessary for maintaining the accuracy of the certificate.</p>
                    <h4 class="inner-title-h4">Surrender of Certificates of Registration on Departure:</h4>
                    <p class="text-justify">Every foreigner who is about to depart finally from  India shall surrender his certificate of registration either to the Registration Officer of the place where he is  registered or of the place from where he intends to depart or to the Immigration Officer at the Port/Check post of exit at the time of final departure from India. If the certificate is surrendered other than to the Immigration Officer of the port or check post of exit, a receipt indicating such surrender of the document may be obtained and  shown to the Immigration Officer at the time of final departure.</p>
                    <h4 class="inner-title-h4">Duplicate Certificate of Registration:</h4>
                    <p class="text-justify">If any certificate of registration, issued under existing Acts / Rules is  lost or destroyed, the foreigner to whom it was issued, shall make or send to the Registration Officer of the district  of his registered address a report of circumstances in which it was so lost or destroyed along with an application in  writing and a copy of police report in order to issue a duplicate copy of the certificate of registration.</p>
                    <p class="text-justify">For more information visit: <a href="https://boi.gov.in/content/registration-requirements-foreign-national" target="_blank">https://boi.gov.in/content/registration-requirements-foreign-national</a></p>
                </div>
            </div>
        </div>
    </div>
</div>