
@{
    ViewBag.Title = "Indian University | Ranking & Accreditation | India";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags {
    <meta name='Title' content='Indian University | Ranking & Accreditation | India' />
    <meta name='description' content='Details of Indian universities ranking and accreditation by NIRF, NAAC and Graded Autonomy. This information is very useful for the students or candidates who are looking for higher studies in India. Students can make a choice based on these rankings.' />
    <link rel="canonical" href="https://www.studyinindia.gov.in/planyourstudies/Rankingandaccredidation" />
}
<div class="inner-title-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="inner-title-left">
                    <h2>Plan Your Studies</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="inner-ttile-right text-right">
                    <h4><a href="@Url.Content("~/")planyourstay/accomodation">Higher Education System</a> / Ranking and Accreditation</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="service-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                <div class="section-title">
                    <h3 class="inner-title"><span>Ranking and Accreditation-NIRF, NAAC, Graded Autonomy</span></h3>
                    <div class="single-blog-left-comment wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
                        <div class="single-comment">
                            <img src="~/img/ugc.png" alt="">
                            <div class="blog-comment-text">
                                <h4>Graded Autonomy</h4>
                                <h5>University Grants Commission (Categorization of Universities (only) for Grant of Graded Autonomy) Regulations, 2018: </h5>
                                <h5>Categorization of Universities</h5>
                                <p class="text-justify">The regulation suggests three categories of universities where category I university will be recognised if it has been accredited by NAAC with a score of 3.51 or above; or it has received a corresponding accreditation grade/score from a reputed accreditation agency empanelled by the UGC; or it has been ranked among top 500 of reputed world rankings, such as Times Higher Education or QS.</p>
                                <p class="text-justify">A university will be called category II university, if it has been accredited by NAAC with a score of 3.26 and above, upto 3.50; or it has received a corresponding accreditation grade/score from a reputed accreditation agency empanelled by the UGC.</p>
                                <p class="text-justify">A University shall be in Category III if it does not come either under Category-I or Category-II.</p>
                                <!--<span>-->
                                <a href="https://www.ugc.ac.in/" target="_blank"><span class="comment-reply"> More <i class="fa fa-chevron-right"></i></span></a></span>
                            </div>
                        </div>
                        <div class="single-comment">
                            <img src="~/img/naac.png" alt="">
                            <div class="blog-comment-text">
                                <h4>National Assessment and Accreditation Council (NAAC)</h4>
                                <p class="text-justify">The National Assessment and Accreditation Council (NAAC) is an autonomous body established by the University Grants Commission (UGC) of India to assess and accredit institutions of higher education in the country. It is an outcome of the recommendations of the National Policy in Education (1986) which laid special emphasis on upholding the quality of higher education in India. To address the issues of quality, the National Policy on Education (1986) and the Plan of Action (POA-1992) advocated the establishment of an independent national accreditation body. Consequently, the NAAC was established in 1994 with its headquarters at Bangalore.</p>
                                <span><a href="http://www.naac.gov.in/" target="_blank"><span class="comment-reply"> More <i class="fa fa-chevron-right"></i></span></a></span>
                            </div>
                        </div>

                        <div class="single-comment">
                            <img src="~/img/nirf.png" alt="">
                            <div class="blog-comment-text">
                                <h4>National Institutional Ranking Framework (NIRF)</h4>
                                <p class="text-justify">The National Institutional Ranking Framework (NIRF) was approved by the MHRD and launched by Honourable Minister of Human Resource Development on 29th September 2015.</p>
                                <p class="text-justify">This framework outlines a methodology to rank institutions across the country. The methodology draws from the overall recommendations broad understanding arrived at by a Core Committee set up by MHRD, to identify the broad parameters for ranking various universities and institutions. The parameters broadly cover "Teaching, Learning and Resources", "Research and Professional Practices", "Graduation Outcomes", "Outreach and Inclusivity" and "Perception".</p>
                                <p class="text-justify">
                                    For India Rankings-2017, the main ranking parameters remain the same. However, there are a few significant changes in a few sub-parameters. Also, this year every large institution will be given a common overall rank as well as a discipline specific rank as applicable. Details are in the Ranking Document available at: <a href="https://www.nirfindia.org/Home" target="_blank">https://www.nirfindia.org/Home</a>
                                </p>
                                <span><a href="https://www.nirfindia.org/Home" target="_blank"><span class="comment-reply"> More <i class="fa fa-chevron-right"></i></span></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
