
@{
    ViewBag.Title = "Details of Indian Education Programs | India";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags {
    <meta name='Title' content='Details of Indian Education Programs | India' />
    <meta name='description' content='Indian education system offers all types of courses such as technical courses, UG, BE, PhD and short-term courses etc. It includes courses for under-graduates, post-graduation courses, doctoral studies and certificate & diploma programs.' />
    <link rel="canonical" href="https://www.studyinindia.gov.in/planyourstudies/DetailsofIndianEducations" />

}
<div class="inner-title-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="inner-title-left">
                    <h2>Plan Your Studies</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="inner-ttile-right text-right">
                    <h4><a href="@Url.Content("~/")planyourstudies/DetailsofIndianEducations">Higher Education System</a> / Details of Indian Education System</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="service-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                <div class="section-title">
                    <h3 class="inner-title"><span>Details of Indian Education Systems consisting of Technical, BE, PhD, UG, Short-term Courses etc.</span></h3>
                    <h4 class="inner-title-h4">Undergraduate/ Bachelor's Level Education: </h4>
                    <p class="text-justify">The undergraduate course i.e. the Bachelor's degree is obtained after three years of study in the case of arts (B.A), science (B.Sc) and commerce (B.Com). UG courses in professional subjects, for the Bachelor's degree, like Engineering (B.E, B.Tech), Medicine (M.B.B.S), Dentistry (M.D) and Pharmacy (B.Pharma) range from 4 to 5 and a half years. </p>
                    <h4 class="inner-title-h4">Post-Graduate/Master's Level Education: </h4>
                    <p class="text-justify">Post-graduate courses in Arts, Science, Commerce, Engineering and Medicine are 2 year courses for the award of a Master's degrees. Master's program can be pursued only after completion of a bachelor's degree. </p>
                    <h4 class="inner-title-h4">Doctoral Studies/ Ph.D Level Education: </h4>
                    <p class="text-justify">M.Phil. Program is of one and-half year to two years in duration. PhD program is for a minimum of 3 years and can take several years. These courses involve research work under a chosen/allotted guide, leading to thesis submission and viva-voce. Successful completion of PhD course designates the title of 'Doctor' to the individual. </p>
                    <h4 class="inner-title-h4">Certificate and Diploma Programs: </h4>
                    <p class="text-justify">In addition to the degree programs, a number of diploma and certificate programs are also available in universities. Their range is wide and they cover anything from poetics to computers. Some of them are undergraduate diploma programs and others postgraduate programs. The duration varies from course to course and program to program an usually ranges between one year and three years.</p>
                </div>
            </div>
        </div>
    </div>
</div>

