
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}
@*@section PageHead{
        <div class="row">
            <div class="col-md-12">
                <h3>Course of Study Mapping</h3>
            </div>
        </div>
    }*@
<input type="hidden" id="hdfBaseUrl" value="@Url.Content("~/")" />
<div class="row">
    <div class="loading"></div>
    <div class="col-md-12">
        <h3 class="text-center">Regular Courses Choice Filling <a href="~/admission/Dashboard" class="btn btn-sm btn-info pull-right"><i class="fa fa-arrow-left"></i> Home</a></h3>

    </div>
    <div class="col-md-12">
        <div class="f1-steps">
            <div class="f1-progress">
                <div class="f1-progress-line" data-now-value="20" data-number-of-steps="5" style="width: 16.66%;"></div>
            </div>
            @Html.Partial("_ProgressBar")
        </div>
    </div>
    <hr />
    <form id="frm" method="post">
        @Html.AntiForgeryToken()
        <fieldset class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                    <div class="form-group" style="margin:20px;">
                        <button type="submit" id="btnSave" class="btn btn-success">Save</button>
                        <a id="btnSaveAndContinue" href="~/admission/StudentChoiceFillingNiche/SelectDisciplines" class="btn btn-primary">Save &amp; Next</a>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
@section styles{
    <link href="~/assets/lib/wizard/style.css" rel="stylesheet" />
    <style>
        .f1-step {
            width: 20%;
        }
    </style>
}
@section scripts{
    <script src="~/assets/lib/wizard/retina-1.1.0.min.js"></script>
    <script src="~/assets/lib/wizard/scripts.js"></script>
}