
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags {
    <link rel="canonical" href="https://www.studyinindia.gov.in/events" />
}

<div class="inner-title-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="inner-title-left">
                    <h2>Events</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="inner-ttile-right text-right">
                    <h4><a href="@Url.Content("~/")events">Events</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="service-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 wow fadeInLeft">
                <div class="section-title">
                    <h3 class="inner-title"><span>Events Calendar</span></h3>
                    <p class="text-justify">The Study in India programme aims to reach out to the international student community to pursue higher education in India through at events, seminars and roadshows.</p>
                    <p class="text-justify">An event to launch the Study in India initiative was held in April, 2018. Honourable Minister of Human Resource and Development Shri Prakash Javedkar and Minister of External Affairs Shrimati Sushma Swaraj launched the initiative. The event saw the presence of Ambassadors, Vice Chancellors of universities and foreign students all important stakeholders of this initiative.</p>
                    <p class="text-justify">As part of the initiative a number of road shows have been planned across various countries. Given below is the schedule for the upcoming events:</p>

                    <br />
                    <br />
                    <div class="row">
                        <div class="col-md-3 col-sm-4">
                            <div class="single-service-tab-menu">
                                <ul class="nav" role="tablist">
                                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Current</a></li>
                                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Upcoming</a></li>
                                    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Archive</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-8">
                            <div class="single-service-tab-items">
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="home">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th style="width:10%">Event</th>
                                                    <th style="width:15%">Date</th>
                                                    <th>Description</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                <tr>
                                                    <td>Study in India Mauritius Education Fair</td>
                                                    <td>March 7th -8th, 2020</td>
                                                    <td>The Study in India team will be present with 12 Indian institutes at the two-day education fair conducted by Study in India at the Le Sirius hall, Labourdonnais Waterfront Hotel in Port Louis, Mauritius. We will be available at the venue from 1000hrs to 1600hrs (GMT+4). To know more, you can get in touch with the SII team. </td>
                                                    <td><a href="https://www.facebook.com/events/804991139988548/" target="_blank" class="btn btn-primary btn-sm text-white "><i class="fa fa-facebook"></i></a></td>
                                                </tr>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="profile">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th style="width:20%">Event</th>
                                                    <th style="width:15%">Date</th>
                                                    <th>Description</th>
                                                    <th style="width:15%">Link</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>ISFA education fair, Nairobi, Kenya</td>
                                                    <td>February 28-29, 2020</td>
                                                    <td>The Study in India team will be present with 15 Indian institutes at the two-day education fair conducted by ISFA at the Serena Hotel in Nairobi. We will be available at the venue from 1000hrs to 1500hrs (GMT+3). To know more, you can get in touch with the SII team.</td>
                                                    <td><a href="https://www.facebook.com/studyinindiagov/photos/gm.180563953379535/849429828815897/?type=3&theater" target="_blank" class="btn btn-primary btn-sm text-white "><i class="fa fa-facebook"></i></a></td>
                                                </tr>
                                                <tr>
                                                    <td>ISFA education fair, Mombasa, Kenya</td>
                                                    <td>March 3, 2020</td>
                                                    <td>The Study in India team is participating with 15 Indian institutes, in Mombasa’s Bliss Resort Hotel, at ISFA education fair. We will be available at the venue from 1000hrs to 1500hrs (GMT+3). To know more, you can get in touch with the SII team.</td>
                                                    <td><a href="https://www.facebook.com/studyinindiagov/photos/gm.178732840238269/849425698816310/?type=3&theater" target="_blank" class="btn btn-primary btn-sm text-white "><i class="fa fa-facebook"></i></a></td>
                                                </tr>
                                                <tr>
                                                    <td>ISFA education fair, Dar-es-Salaam, Tanzania</td>
                                                    <td>March 5, 2020</td>
                                                    <td>The Study in India team is participating in ISFA’s education fair, to be held at Serena Hotel in Dar-es-Salaam, with 15 Indian institutes. We will be available at the venue from 1000hrs to 1500hrs (GMT+3) . To know more, you can get in touch with the SII team.</td>
                                                    <td><a href="https://www.facebook.com/studyinindiagov/photos/gm.492569471433909/849427338816146/?type=3&theater" target="_blank" class="btn btn-primary btn-sm text-white "><i class="fa fa-facebook"></i></a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="messages">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" href="#div2019">2019</a>
                                                </h4>
                                            </div>
                                            <div class="panel-body  collapse" aria-expanded="true" id="div2019">
                                                <table class="table table-bordered table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:10%">Event</th>
                                                            <th style="width:15%">Date</th>
                                                            <th>Description</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>NAFSA 2019</td>
                                                            <td>26th to 31st May 2019</td>
                                                            <td>NAFSA, Association of International Educators, is also the world's largest non-profit association dedicated to international education and exchange. NAFSA 2019 is being organized between 26th to 31st May 2019 at Washington, USA. Study in India will be participating in this biggest higher education exchange platform of the world. With more than 9,000 international educators expected to attend from over 100 countries.</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Bhutan</td>
                                                            <td>30th to 31st Mar 2019</td>
                                                            <td>
                                                                Bhutan Education fair 2019 is organized on 30th March and 31st March 2019 at Thimphu - Changlimithang Stadium Parking. This is the only education fair planned in Bhutan as confirmed by the Department of Higher Education in Bhutan (DAHE).
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Uganda</td>
                                                            <td>18th to 21st March 2019</td>
                                                            <td>SII is conducting an Education Fair, school visits and meeting with the delegates  of Indian Embassy, Addis Ababa, Ethiopia. This is to help students to know more about the registration process, scholarships, fee waivers, eligibility criteria, counselling process, courses being offered, partner institutes, qualification examinations required, etc. which would help the students in the entire admission process.</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Ethiopia</td>
                                                            <td>13th to 16th March 2019</td>
                                                            <td>
                                                                As per UNESCO, around 4643 students from Uganda go abroad for higher education whereas 491 students come to India for higher education per year approximately. Looking at the potential and newly introduced "Study in India Scholarship" scheme SII is conducting an Education Fair,school visits and meeting with the delegates of High commission of India, Kampala from 18th -21st March 2019.
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Bangladesh</td>
                                                            <td>26th Feb to 4th March 2019</td>
                                                            <td>
                                                                SII is organizing education fair and school visits in Bangladesh to target local students. The potential students moving abroad is enormous in view of their higher education network having around 55,000 outbound students.
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Sri Lanka </td>
                                                            <td>16th to 22nd Jan 2019</td>
                                                            <td>
                                                                Study in India is exhibiting Study in India Pavilion at an education Fair EDEX , a multi-stake holder
                                                                &#39;social Responsibility&#39; initiative facilitated by the Royal College Union - the alumni of Royal College,
                                                                Colombo, Sri Lanka. EDEX Expos usually attract over 30,000 students who are exploring educational
                                                                opportunities both locally as well as internationally. Along with the education fairs, school visits are
                                                                also planned.
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" href="#div2018">2018</a>
                                                </h4>
                                            </div>
                                            <div class="panel-body collapse" aria-expanded="true" id="div2018">
                                                <table class="table table-bordered table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:10%">Event</th>
                                                            <th style="width:15%">Date</th>
                                                            <th>Description</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>GETEX Dubai</td>
                                                            <td>12-14 April, 2018</td>
                                                            <td>The Gulf Education and Training Exhibition (GETEX) is the region’s oldest education led event, supported by the UAE Ministry of Education, KHDA and the Knowledge Fund. Every year, the exhibition attracts over 35,000 local and expatriate students who are at the threshold of college life and actively looking for higher education, professional development and training options.</td>
                                                        </tr>
                                                        <tr>
                                                            <td>SII Launch Event</td>
                                                            <td>18 April, 2018</td>
                                                            <td>Official Launch of “Study in India” website for students by Union Minister of External Affairs, Sushma Swaraj, Minister of State for HRD Satyapal Singh in presence of diplomats from target countries</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Mumbai(GES 2018, CII)</td>
                                                            <td>15th to 18th May, 2018</td>
                                                            <td>Education is one of the focus sectors at GES 2018. GES 2018 will provide a unique opportunity to Indian institutions to market themselves before over 500 international delegates. There will be a focused pavilion on education in the exhibition zone and a day-long conference which will cover both school and higher education.</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Nepal</td>
                                                            <td>17th to 19th May 2018</td>
                                                            <td>Nepal being one of the major countries with maximum outbound students to India,promotional event to be held in Kathmandu will create an opportunity to interact with Nepalese aspirants and bring them on board for “Study in India”</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Tanzania</td>
                                                            <td>23rd to 24th May, 2018</td>
                                                            <td>A much anticipated education event to be held in Dar-es-Salaam which opens the doors for aspirants to Study in India.</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Malaysia</td>
                                                            <td>09th to 16th Dec 2018</td>
                                                            <td>
                                                                India receives around 1900 students from Malaysia every year. Promotion event to be held in five
                                                                cities including Malacca, Penang, AlorSetar, Ipoh and Kuala Lumpur of Malaysia through “Facon
                                                                Education Fair” and meeting the representatives from associations like GOPIO (Global Organisation
                                                                People of Indian Origin).
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Nepal</td>
                                                            <td>11th to 18th Dec 2018</td>
                                                            <td>
                                                                Nepal has been a good source of foreign students to India for pursuing higher education. It is to be
                                                                noted for the academic year 2018-19 SII had around 2275 registrations from Nepal alone. In the first
                                                                admission cycle SII got voluptuous response from Nepal, it is the leading country sending foreign
                                                                students to India. Owing to large number of registrations and conversions from Nepal, the team is
                                                                visiting Nepal and specifically in the regions of Kathmandu,Biratnagar, Janakpur and Birgunj.
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="text-justify">Overseas students are encouraged to visit <a style="color:blue" href=">https://www.studyinindia.gov.in" target="_blank"><u>https://www.studyinindia.gov.in</u></a> for news and information, and meet counsellors from multiple quality Indian institutions during the events held as per the above time table.</p>
                </div>
            </div>
        </div>
    </div>
</div>

